/* LOGO
***********************/
#loginPage {
  /* LAYOUT
    ***********************/
  /* FORM
    ***********************/
  /* FIELDS
    ***********************/
  /* MESSAGE
    ***********************/
  /* NAVIGATION
    ***********************/
}
#loginPage #logo {
  padding-top: 5px;
}
#loginPage #logo img.default-piwik-logo {
  width: 171px;
}
#loginPage #logo img {
  max-height: 30px;
}
#loginPage .message_container {
  margin-top: 16px;
  margin-bottom: 16px;
}
#loginPage #loginPage a {
  text-decoration: none;
}
#loginPage .loadingPiwik {
  float: left;
  margin-left: 16px;
}
#loginPage .loginSection {
  margin-top: 32px;
}
#loginPage .loginSection .icon.prefix {
  font-size: 1.5rem;
  width: 2.5rem;
  padding-top: 0.9rem;
}
#loginPage .loginSection .input-field .prefix ~ input {
  margin-left: 2.5rem;
  width: 80% !important;
  overflow: hidden;
}
#loginPage .loginSection .btn {
  margin-top: 0;
}
#loginPage .loginSection fieldset {
  border: 0;
}
#loginPage .loginSection .actions {
  line-height: 35px;
}
#loginPage #login_form {
  margin-top: 16px;
}
#loginPage #login_form_rememberme {
  vertical-align: middle;
}
#loginPage .message {
  margin: 0 auto;
  border: 1px solid #e6db55;
  padding: 12px;
  background-color: #ffffe0;
}
#loginPage #nav,
#loginPage #piwik {
  margin: 0 0 0 8px;
  padding: 16px;
}
#loginPage #nav {
  text-align: center;
}
#loginPage #nav a:hover {
  text-decoration: underline;
}
#loginPage #nav a {
  color: #777;
}
#loginPage #piwik a {
  color: #CDCDCD;
}
