@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-2444:before {
	content: "\e000";
}
.flaticon-adn2:before {
	content: "\e001";
}
.flaticon-apple58:before {
	content: "\e002";
}
.flaticon-band10:before {
	content: "\e003";
}
.flaticon-bandaged1:before {
	content: "\e004";
}
.flaticon-bandaged2:before {
	content: "\e005";
}
.flaticon-bed20:before {
	content: "\e006";
}
.flaticon-bed21:before {
	content: "\e007";
}
.flaticon-biohazard5:before {
	content: "\e008";
}
.flaticon-blood14:before {
	content: "\e009";
}
.flaticon-bone5:before {
	content: "\e00a";
}
.flaticon-brain10:before {
	content: "\e00b";
}
.flaticon-broken36:before {
	content: "\e00c";
}
.flaticon-caduceus6:before {
	content: "\e00d";
}
.flaticon-caduceus7:before {
	content: "\e00e";
}
.flaticon-cane1:before {
	content: "\e00f";
}
.flaticon-cane2:before {
	content: "\e010";
}
.flaticon-chemistry14:before {
	content: "\e011";
}
.flaticon-circles16:before {
	content: "\e012";
}
.flaticon-clinic4:before {
	content: "\e013";
}
.flaticon-clipboard64:before {
	content: "\e014";
}
.flaticon-cross70:before {
	content: "\e015";
}
.flaticon-cross71:before {
	content: "\e016";
}
.flaticon-crutch1:before {
	content: "\e017";
}
.flaticon-crutch2:before {
	content: "\e018";
}
.flaticon-cutter2:before {
	content: "\e019";
}
.flaticon-cutter3:before {
	content: "\e01a";
}
.flaticon-cutter4:before {
	content: "\e01b";
}
.flaticon-danger6:before {
	content: "\e01c";
}
.flaticon-dangerous2:before {
	content: "\e01d";
}
.flaticon-download123:before {
	content: "\e01e";
}
.flaticon-drop22:before {
	content: "\e01f";
}
.flaticon-dropper11:before {
	content: "\e020";
}
.flaticon-dropper12:before {
	content: "\e021";
}
.flaticon-drugs5:before {
	content: "\e022";
}
.flaticon-eyeglasses16:before {
	content: "\e023";
}
.flaticon-female216:before {
	content: "\e024";
}
.flaticon-female217:before {
	content: "\e025";
}
.flaticon-female219:before {
	content: "\e026";
}
.flaticon-female221:before {
	content: "\e027";
}
.flaticon-female222:before {
	content: "\e028";
}
.flaticon-first35:before {
	content: "\e029";
}
.flaticon-first36:before {
	content: "\e02a";
}
.flaticon-first37:before {
	content: "\e02b";
}
.flaticon-flask11:before {
	content: "\e02c";
}
.flaticon-folder160:before {
	content: "\e02d";
}
.flaticon-girl29:before {
	content: "\e02e";
}
.flaticon-girl30:before {
	content: "\e02f";
}
.flaticon-glass43:before {
	content: "\e030";
}
.flaticon-hair67:before {
	content: "\e031";
}
.flaticon-hair68:before {
	content: "\e032";
}
.flaticon-head25:before {
	content: "\e033";
}
.flaticon-health4:before {
	content: "\e034";
}
.flaticon-health5:before {
	content: "\e035";
}
.flaticon-health6:before {
	content: "\e036";
}
.flaticon-heart270:before {
	content: "\e037";
}
.flaticon-heart272:before {
	content: "\e038";
}
.flaticon-heart273:before {
	content: "\e039";
}
.flaticon-heart274:before {
	content: "\e03a";
}
.flaticon-heart275:before {
	content: "\e03b";
}
.flaticon-heart276:before {
	content: "\e03c";
}
.flaticon-helicopter19:before {
	content: "\e03d";
}
.flaticon-hospital20:before {
	content: "\e03e";
}
.flaticon-hospital21:before {
	content: "\e03f";
}
.flaticon-hospital22:before {
	content: "\e040";
}
.flaticon-lifeline11:before {
	content: "\e041";
}
.flaticon-lifeline12:before {
	content: "\e042";
}
.flaticon-lifeline13:before {
	content: "\e043";
}
.flaticon-liquid10:before {
	content: "\e044";
}
.flaticon-list60:before {
	content: "\e045";
}
.flaticon-litter:before {
	content: "\e046";
}
.flaticon-lungs5:before {
	content: "\e047";
}
.flaticon-male225:before {
	content: "\e048";
}
.flaticon-man407:before {
	content: "\e049";
}
.flaticon-man408:before {
	content: "\e04a";
}
.flaticon-man409:before {
	content: "\e04b";
}
.flaticon-man410:before {
	content: "\e04c";
}
.flaticon-man411:before {
	content: "\e04d";
}
.flaticon-man412:before {
	content: "\e04e";
}
.flaticon-maskor:before {
	content: "\e04f";
}
.flaticon-medical69:before {
	content: "\e050";
}
.flaticon-medical70:before {
	content: "\e051";
}
.flaticon-medical71:before {
	content: "\e052";
}
.flaticon-medical72:before {
	content: "\e053";
}
.flaticon-medical73:before {
	content: "\e054";
}
.flaticon-medical74:before {
	content: "\e055";
}
.flaticon-medical75:before {
	content: "\e056";
}
.flaticon-medical76:before {
	content: "\e057";
}
.flaticon-medical77:before {
	content: "\e058";
}
.flaticon-medical78:before {
	content: "\e059";
}
.flaticon-medical79:before {
	content: "\e05a";
}
.flaticon-medical80:before {
	content: "\e05b";
}
.flaticon-medical81:before {
	content: "\e05c";
}
.flaticon-medical82:before {
	content: "\e05d";
}
.flaticon-medical83:before {
	content: "\e05e";
}
.flaticon-medicines5:before {
	content: "\e05f";
}
.flaticon-microscope17:before {
	content: "\e060";
}
.flaticon-microscope18:before {
	content: "\e061";
}
.flaticon-moon143:before {
	content: "\e062";
}
.flaticon-nurse10:before {
	content: "\e063";
}
.flaticon-oxygen3:before {
	content: "\e064";
}
.flaticon-oxygene:before {
	content: "\e065";
}
.flaticon-person301:before {
	content: "\e066";
}
.flaticon-person302:before {
	content: "\e067";
}
.flaticon-pharmacy11:before {
	content: "\e068";
}
.flaticon-pharmacy12:before {
	content: "\e069";
}
.flaticon-pharmacy13:before {
	content: "\e06a";
}
.flaticon-physiological:before {
	content: "\e06b";
}
.flaticon-pill5:before {
	content: "\e06c";
}
.flaticon-pill6:before {
	content: "\e06d";
}
.flaticon-plus70:before {
	content: "\e06e";
}
.flaticon-reproductive:before {
	content: "\e06f";
}
.flaticon-saline:before {
	content: "\e070";
}
.flaticon-scissors49:before {
	content: "\e071";
}
.flaticon-scissors50:before {
	content: "\e072";
}
.flaticon-shape4:before {
	content: "\e073";
}
.flaticon-shape5:before {
	content: "\e074";
}
.flaticon-skull24:before {
	content: "\e075";
}
.flaticon-skull25:before {
	content: "\e076";
}
.flaticon-smoking6:before {
	content: "\e077";
}
.flaticon-spherical3:before {
	content: "\e078";
}
.flaticon-stethoscope12:before {
	content: "\e079";
}
.flaticon-stethoscope13:before {
	content: "\e07a";
}
.flaticon-syringe21:before {
	content: "\e07b";
}
.flaticon-teeth3:before {
	content: "\e07c";
}
.flaticon-thermometer39:before {
	content: "\e07d";
}
.flaticon-tooth21:before {
	content: "\e07e";
}
.flaticon-two288:before {
	content: "\e07f";
}
.flaticon-virus2:before {
	content: "\e080";
}
.flaticon-virus3:before {
	content: "\e081";
}
.flaticon-visualization3:before {
	content: "\e082";
}
.flaticon-washing12:before {
	content: "\e083";
}
.flaticon-water49:before {
	content: "\e084";
}
.flaticon-woman100:before {
	content: "\e085";
}
.flaticon-woman98:before {
	content: "\e086";
}
.flaticon-woman99:before {
	content: "\e087";
}
.flaticon-x15:before {
	content: "\e088";
}
