.singleMetricView {
  margin: 5px 12px 10px;
  display: inline-block;
}
.singleMetricView.loading {
  opacity: 0.5;
}
.singleMetricView .metric-value {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  vertical-align: top;
  margin-left: 3px;
}
.singleMetricView .metric-sparkline {
  display: inline-block;
  vertical-align: top;
}
.singleMetricView .metric-sparkline img {
  width: 100px;
  height: 25px;
}
.singleMetricView .metricEvolution {
  font-weight: bold;
  font-size: 12px;
}
.singleMetricView .metricEvolution > span {
  display: inline-block;
}
.singleMetricView .metricEvolution > span:not(.positive-evolution):not(.negative-evolution) {
  margin-left: 8px;
}
.singleMetricView .metricEvolution .positive-evolution::before {
  content: "";
  background: url(plugins/MultiSites/images/arrow_up.png) no-repeat center center;
  display: inline-block;
  height: 7px;
  width: 12px;
}
.singleMetricView .metricEvolution .negative-evolution::before {
  content: "";
  background: url(plugins/MultiSites/images/arrow_down.png) no-repeat center center;
  display: inline-block;
  height: 7px;
  width: 12px;
}
[piwik-single-metric-view] {
  display: block;
}
.single-metric-view-picker {
  margin-left: 6px;
}
