<form method="POST">
	<div class="form-group">
		<label>Nazwa:</label>
		<input type="text" name="name" class="form-control required" required="required" value="{if $category && $category->name}{$category->name}{/if}"/>
	</div>

	<button type="submit" class="btn btn-success">Zapisz</button>

</form>
			
			
				
			