.tagManagerVariableSelectType .createNewVariable {
  text-transform: uppercase;
  margin-bottom: 24px;
  display: inline-block;
}
.tagManagerVariableSelectType .selectVariableType {
  margin-left: -0.75rem;
}
.tagManagerVariableSelectType .selectVariableType .form-group.row {
  margin-bottom: 0;
}
