.capabilitiesEdit {
  display: inline-block;
  margin-bottom: -8px;
}
.capabilitiesEdit > div.chip {
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 8px;
}
.capabilitiesEdit > div.chip span.capability-name {
  padding-right: .4rem;
}
.capabilitiesEdit > div.chip > span.icon-close {
  font-size: .6rem;
  float: right;
  margin-top: 1.4em;
  cursor: pointer;
}
.capabilitiesEdit .addCapability {
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: bottom;
}
.capabilitiesEdit .addCapability .input-field {
  margin-top: 0;
}
.capabilitiesEdit .addCapability .input-field .caret {
  right: -25px;
  top: 16px;
  z-index: 9;
  cursor: pointer;
}
.capabilitiesEdit .addCapability .input-field .select-dropdown {
  margin-top: 8px;
  margin-bottom: 0;
  border: 0;
  background: #e4e4e4;
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  border-radius: 3em;
  padding-left: 12px;
  padding-right: 30px;
}
.capabilitiesEdit .addCapability .select-wrapper {
  transform: scale(0.89) translate(-0.6rem);
  margin-top: -0.55rem;
  max-width: 160px;
}
.capabilitiesEdit .addCapability .select-wrapper input {
  margin-bottom: 0;
  height: 2rem;
  line-height: 2rem;
}
.capabilitiesEdit.busy {
  opacity: 0.5;
}
.capabilitiesEdit .confirmCapabilityToggle .modal-no {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}
