<form method="POST">
    <div class="form-group">
        <label>Nazwa:</label>
        <input type="text" class="form-control" name="name" required="required"
               value=""/>
    </div>
    <button type="submit" name="save" value="1" class="btn btn-dafault">Dodaj</button>
</form>
