.rss ul {
  list-style: none outside none;
  padding: 0;
}
.rss li {
  line-height: 140%;
  margin: 0.5em 0 1em;
}
.rss-title,
.rss-date {
  float: left;
  font-size: 14px;
  line-height: 140%;
}
.rss-title {
  color: #2583AD;
  margin: 0 0.5em 0.2em 0;
  font-weight: bold;
}
.rss-date {
  color: #999999;
  margin: 0;
}
.rss-content,
.rss-description {
  clear: both;
  line-height: 1.5em;
  font-size: 13px;
  color: #333333;
}
.rss-content .screen-reader-text,
.rss-description .screen-reader-text {
  display: none;
}
/* hide changing blog post title and date in UI test */
.uiTest .rss-title,
.uiTest .rss-date {
  visibility: hidden;
}
