/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-07-13, 12:09:07
    Author     : Damian
*/

html, body{font-family: 'Poppins', sans-serif;}
body{
    background: url(../img/coming_soon_bg.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
}
.coming_soon_bg{
    height:100%;
}

.coming_soon_build h1{
    font-size: 60pt;
    color: rgba(0, 0, 0, 255);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 2% 0 4% 0;
}
.logo_coming_soon{
    position: absolute;
    left: 7%;
}
.logo_coming_soon img{
    display: block;
    width: 150px;
}
.coming_soon_title{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cooming_soon_company_name h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(165, 103, 17, 255);
}
h4.come_back_later{
    font-size: 28.84981pt;
    color: rgba(0, 0, 0, 255);
}
.goldtextcss {
    color:	#D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.back-btn-coming{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
}
.back-btn-coming span{
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.back-btn-coming a {
    text-decoration: none;
}


@media only screen and (min-width:1500px) and (max-width:1600px){
    .coming_soon_bg{
        background: url(../img/coming_soon_bg.jpg) no-repeat center center;
        position: relative;
        background-size: 100%;
        overflow: hidden;
    }
    .coming_soon_build h1{
        font-size: 60pt;
        color: rgba(0, 0, 0, 255);
        text-transform: uppercase;
        font-weight: bolder;
        padding: 2% 0 4% 0;
    }
    .logo_coming_soon{
        position: absolute;
        left: 5%;
    }
    .logo_coming_soon img{
        display: block;
        width: 150px;
    }
    .coming_soon_title{
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cooming_soon_company_name h3{
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(165, 103, 17, 255);
    }
    h4.come_back_later{
        font-size: 28.84981pt;
        color: rgba(0, 0, 0, 255);
    }
    .goldtextcss {
        color:	#D5AD6D; /*if no support for background-clip*/
        background: -webkit-linear-gradient(transparent, transparent),
            -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .back-btn-coming{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20%;
    }
    .back-btn-coming span{
        font-size: 22px;
        font-weight: 500;
        color: black;
    }

    .back-btn-coming a {
        text-decoration: none;
    }
}

@media only screen and (max-width:1499px){
    .back-btn-coming{
        bottom: 25%;
    }
    .coming_soon_build h1{
        font-size: 43pt;
    }
    .coming_soon_bg{
        /*height: 113vh;*/
    } 
}

@media only screen and (max-width:1279px){
    .coming_soon_bg {
        /*height: 106vh;*/
        overflow: hidden;
    }
}

@media only screen and (max-width:1024px){
    .cooming_soon_company_name h3 {
        font-size: 25px;
    }
    .coming_soon_build h1 {
        font-size: 29pt;
    }
    h4.come_back_later {
        font-size: 20pt;
    }
    .back-btn-coming {
        bottom: 20%;
    }
}
@media only screen and (max-width:800px){
    .logo_coming_soon img{
        width:100px;
    }
}
@media only screen and (max-width:480px){
    .coming_soon_build h1{  
        padding: 4% 0 4% 0;
        font-size: 22pt;
    }
    .cooming_soon_company_name h3 {
        font-size: 19px;
    }
    h4.come_back_later {
        font-size: 15pt;
    }
    .back-btn-coming span {
        font-size: 18px;
    }
}