
@font-face {
  font-family: "Flaticon";
  src: url("../font/giw_more/Flaticon.eot");
  src: url("../font/giw_more/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/giw_more/Flaticon.woff") format("woff"),
       url("../font/giw_more/Flaticon.ttf") format("truetype"),
       url("../font/giw_more/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/giw_more/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-plus:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-next:before { content: "\f102"; }
.flaticon-down-arrow:before { content: "\f103"; }
.flaticon-up-arrow:before { content: "\f104"; }
.flaticon-lock:before { content: "\f105"; }