/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-07-16, 13:01:53
    Author     : Damian
*/
/*
Flaticon icon font: Flaticon
Creation date: 16/07/2018 12:58
*/

@font-face {
    font-family: "Flaticon-plusik";
    src: url("../font/plusik/Flaticon.eot");
    src: url("../font/plusik/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../font/plusik/Flaticon.woff") format("woff"),
        url("../font/plusik/Flaticon.ttf") format("truetype"),
        url("../font/plusik/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon-plusik";
        src: url("../font/plusik/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-plus:before { content: "\f100"; }