
@font-face {
    font-family: 'goinweb_make';
    src: url('../font/goinweb_make/goinweb_make.eot');
    src: url('../font/goinweb_make/goinweb_make.eot?#iefix') format('embedded-opentype'),
         url('../font/goinweb_make/goinweb_make.woff') format('woff'),
         url('../font/goinweb_make/goinweb_make.ttf') format('truetype'),
         url('../font/goinweb_make/goinweb_make.svg#goinweb_make') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'goinweb_make';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-not:before{content:'\0041';}
.icon-arr-down:before{content:'\0042';}
.icon-arrow-next-double:before{content:'\0043';}
.icon-arrow-rent:before{content:'\0044';}
.icon-arrow-right:before{content:'\0045';}
.icon-facebook:before{content:'\0046';}
.icon-hands-sell:before{content:'\0047';}
.icon-home-buy:before{content:'\0048';}
.icon-instagram:before{content:'\0049';}
.icon-mail-contact:before{content:'\004a';}
.icon-marker-map:before{content:'\004b';}
.icon-phone:before{content:'\004d';}
.icon-phone-contact:before{content:'\004e';}
.icon-youtube:before{content:'\0050';}