/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-07-19, 14:50:21
    Author     : Damian
*/

/* ********* SASS EXTENDS  ********* */
.content {
    width: 1200px;
    margin: 0 auto;
}

/* ********* SASS FUNCTIONS ********* */
/* ********* SASS MIXINS ********* */
/* ********* STYLES  ********* */
.test-isotope img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}







h1 {
    margin-bottom: 0.1875em;
    line-height: 1;
    font-family: "Asap", sans-serif;
    font-weight: 500;
    color: #ff5252;
}

h2 {
    font-weight: 400;
}

.copyright {
    font-style: italic;
}

.content {
    text-align: center;
}

p {
    margin-bottom: 0.375em;
}

ul {
    margin-bottom: 1em;
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
}

.test-isotope {
    padding: 1.5em 4% 60px 4%;
    line-height: 1.5;
    font-family: "PT Sans", sans-serif;
    color: #393838;
    font-size: 0.875em;
    background: none #ffffff;
    background: none, linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%);
}
/* FILTERS */
.button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    font-family: "Asap", sans-serif;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #393838;
    color: #393838;
    background: none;
    font-size: 0.7em;
    text-transform: uppercase;
    font-size: 0.875em;
}

button.is-active {
    background: #e03576;
    color: #ffffff;
}

/* LIST */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    /*box-shadow: 0 0 2px rgba(57, 56, 56, 0.2);*/
}

.list__item__title {
    display: block;
    margin-top: 30%;
}

#gallery_works.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}
.list__item {
    width: 20%;
}
@media screen and  (max-width: 770px){
    .list__item {
        width: 25%;
    }
}
@media screen and  (max-width: 770px){
    .list__item {
        width: 33%;
    }
}
@media screen and  (max-width: 400px){
    .list__item {
        width: 49%;
    }
}
@media screen and (min-width: 768px) {
    button {
        margin: 0.5em;
        padding: 0.5em;
    }
}
