


#s6 .content-s6{margin:36px;margin-bottom: 0px;}
#s6 h3{margin-top: 100px;margin-bottom: 36px 36px 0px 36px;}



#s6 .content-s6 .map-info {display:flex; margin-top: 50px;}
#s6 .content-s6 .map-info .content-bottom-left{width:50%;text-align: center;}
#s6 .content-s6 .map-info .content-bottom-right{width:50%; text-align: center;} 


#s6 .content-s6 .map-info .content-bottom-right h4{font-size: 36px;margin-bottom:60px;color: #1d1d1b;font-weight: 900;}
#s6 .content-s6 .map-info .content-bottom-right p{font-size: 24px;margin-bottom: 15px;color: #1d1d1b;}
#s6 .content-s6 .map-info .content-bottom-right p a{font-size: 24px;margin-bottom: 15px;color: #1d1d1b;font-weight: 900;}
#s6 .content-s6 .map-info .content-bottom-right .contact-logo img{margin-bottom: 36px;}
#map-open {width: 100%;height: 400px;background-color: grey; pointer-events: none; cursor: pointer}
#s6 .content-contact .left-content .photos .ph img{padding: 15px;}

#OpenLayers_Control_Attribution_7 a {
    color: #666; }

#OpenLayers_Control_Attribution_7 {
    font-size: 10px !important;
    color: #666;
    bottom: 5px;
    right: 10px; }

#OpenLayers_Control_Zoom_5 {
    display: none;
}

@media screen and (min-width: 1024px) {
    #map-open {
        pointer-events: auto;
    }
    #OpenLayers_Control_Zoom_5 a {
        font-size: 40px;
        color: #333;
        margin-right: 13px; }

    #OpenLayers_Control_Zoom_5 {
        top: 6px;
        left: 12px;
        display: block;}
}

@media only screen and (min-width:1600px) and (max-width:1919px){}

@media only screen and (min-width:1280px) and (max-width:1599px){}

@media only screen and (min-width:1024px) and (max-width:1279px) {
    #s6 .content-contact .right-content .contact-visit h5{font-size: 28px;margin-bottom: 36px;}
    #s6 .content-contact .right-content .contact-visit p{font-size: 24px;margin-bottom: 15px;}
    #s6 .content-s6 .content-contact .right .right-content form input{padding: 5px 15px;margin: 10px 0;width: 100%;font-size: 14px;}
    #s6 .content-s6 .map-info .content-bottom-right h4{font-size: 28px;}

}

@media only screen and (min-width:800px) and (max-width:1023px) {
    #s6 .content-contact .right-content .contact-visit h5{font-size: 28px;margin-bottom: 36px;}
    #s6 .content-contact .right-content .contact-visit p{font-size: 24px;margin-bottom: 15px;}
    #s6 .content-s6 .content-contact .right .right-content form input{padding: 5px 15px;margin: 10px 0;width: 100%;font-size: 14px;}
    #s6 .content-s6 .map-info .content-bottom-right h4{font-size: 28px;margin-bottom:36px;}
    #s6 .content-s6 .content-contact .right{margin:0;}
    #s6 .content-contact .right-content{margin:0;}
    #s6 .content-s6 .map-info{margin:0;margin-top: 36px;}
    .contact form button{margin-bottom:36px;}
    #s6 .content-s6 .map-info{display: block;}
    #s6 .content-s6 .map-info .content-bottom-left{width: 100%;text-align: center;}
    #s6 .content-s6 .map-info .content-bottom-right{width: 100%;text-align: center;margin-top: 36px;}
    
    
    
}

@media only screen and (max-width: 790px) {
    #s6 .content-s6 .map-info {
        padding: 0;
    }
}

@media only screen and (min-width:480px) and (max-width:799px) {
    #s6 .content-contact .right-content .contact-visit h5{font-size: 28px;margin-bottom: 36px;}
    #s6 .content-contact .right-content .contact-visit p{font-size: 24px;margin-bottom: 15px;}
    #s6 .content-s6 .content-contact .right .right-content form input{padding: 5px 15px;margin: 10px 0;width: 100%;font-size: 14px;}
    #s6 .content-s6 .map-info .content-bottom-right{display: inline-flex;width: 100%;flex-direction: column-reverse;}
    #s6 .content-s6 .map-info .content-bottom-right .contact-logo{width: 100%!important;display: block;align-items: center;padding-top: 36px;}

    #s6 .content-s6 .map-info .content-bottom-right h4{font-size: 24px;margin-bottom:36px;}
    #s6 .content-s6 .content-contact .right{margin:0;}
    #s6 .content-contact .right-content{margin:0;}
    #s6 .content-s6 .map-info{margin:0;margin-top: 36px;}

    #s6 .content-s6 .content-contact{display:block;}
    #s6 .content-s6 .content-contact .left {width: 100%;padding-bottom: 36px;}
    #s6 .content-s6 .content-contact .right {width: 100%;padding: 36px 0;}

    #s6 .content-s6 .map-info{display:block;}
    #s6 .content-s6 .map-info .content-bottom-left{width:100%;}
    #s6 .content-s6 .map-info .content-bottom-right{display:flex;width:100%;}
    #s6 .content-s6 .map-info .content-bottom-right h4{margin-top: 72px;}
    #s6 .content-s6 .content-contact .right .right-content form button{width: 100%;}
    #s6 .content-s6 .map-info .content-bottom-right .content-bottom-right-info .contact-logo{width:50%;}
    #s6 .content-s6 .map-info .content-bottom-right .content-bottom-right-info {padding: 0 36px;}
    #s6 .content-s6 .map-info .content-bottom-right .contact-logo{width: 50%;display: flex;align-items: center;}
    #s6 .content-s6 .map-info .content-bottom-right .contact-logo img{margin: 0 auto;}
    #s6 .content-s6 .map-info .content-bottom-right p{font-size: 22px;}

}

@media only screen and (max-width:479px) {

    .contact .contact-form{padding:0px;}
    #s6 .content-contact .right{padding-top:36px;}
    .contact form button{width:100%;line-height: 32px;}
    #s6 .content-s6 .map-info{display: block;padding: 0px;margin: 0 auto;width: 100%;}
    #s6 .content-s6 .map-info .content-bottom-left{width: 100%;padding-top: 36px;margin: 0 auto;}   
    #s6 .content-s6 .map-info .content-bottom-right{width: 100%;text-align: center;padding-top: 36px;}
    #s6 .content-s6 .map-info .content-bottom-right .contact-logo img{margin:36px 0px;}
    #s6 .content-contact{display: block;width: 100%;}
    #s6 .content-contact .left-content .photos{display:block;}
    #s6 .content-contact .left{width:100%;}
    #s6 .content-contact .left-content .photos .ph{width: 100%;}
    #s6 .content-contact .left-content .photos .ph-logo{width:100%;}
    #s6 .content-contact .left .left-content{display: flex;flex-direction: column-reverse;}
    #s6 .content-contact .left-content .photos .ph-logo{padding: 25px 0px;}
    #s6 .content-s6 {
        margin: 0;
    }
    .content-s6 {
        padding: 0;
    }

}


