/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-22, 12:10:30
    Author     : Damian
*/


@font-face {
    font-family: 'Myriad_Pro';
    src: url('../font/Myriad_Pro_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{font-family: 'Myriad_Pro';}

*{box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    display: flex;justify-content:space-evenly;align-items: center;padding: 15px;background: #fff;z-index: 99;}
.menu{}
.menu ul li{display: inline-block;margin: 0 15px;text-align:center;}
.menu ul li a{color: #1d1d1b;font-size: 30px;font-weight: 400;line-height: 53px;text-transform: uppercase;}

.menu ul li p{width: 120%;padding:0px 15px;}
.menu ul li p:hover{background: #ddd;width: 120%;}

.learn_section_1{background: url('../img/back-nauka.png') no-repeat center center/cover; background-size: 100% 100%;width: 100%;height: 1024px;margin-top: 8rem;position: relative;}


.content-s1{display:flex;justify-content: space-between;align-items: center;position: absolute;bottom:0;left:0;right:0;padding: 36px;}
.content-s1-bgcolor{background: rgba(0, 0, 0, 0.3);height: 100%;}

.content-s1 .go-down a{display: flex;flex-direction: column;text-align: -webkit-center;}
.content-s1 .go-down a span{color:#fff;display:block;-ms-transform: rotate(90deg); /* IE 9 */
                            -webkit-transform: rotate(90deg);/* Safari 3-8 */
                            transform: rotate(90deg);}
.content-s1 .go-down a img{width: 18px;margin-top: 30px;}

.text-s1 {margin:0 auto;font-size: 40px;font-weight: 800;text-transform: uppercase;color: #ffffff;text-align: center;text-align: right;padding: 5% 8%;}
.text-s1 h2{font-size: 80px;letter-spacing: 0.8px;line-height: 84px;padding: 4rem 0;}
.text-s1 h4{letter-spacing: 0.4px;line-height: 49px;padding-right: 0.5rem;}



.social{display: flex;flex-direction: column;font-size: 27px;}
.social a{color: #fff;margin-bottom: 5px;}
.social a i:hover{opacity:0.7;}

.watch-video{padding: 5% 10%;text-align: right;position: absolute;right: -33px;bottom: 180px;}
.watch-video a{color: #fff;background: #000;padding: 10px 17px;font-size: 26px;text-transform: uppercase;}
.watch-video a:hover{background:#000000bf;}
/*
.check-help-list{display: flex;}
.ul-first{width: 50%;}
.ul-second{width:50%;}*/




.sub-wrap{
    align-self: center;
}
.sub-wrap h3{
    color: #383030;
    font-size: 58px;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}
.sub-wrap h4{
    color: #383030;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
}
.sub-wrap p.check-help{
    color: #938683;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px; 
}
.sub-wrap p.check-help-box{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    width: 100%;
}
.div-box{
    border: 1px solid #b19eac;
    background: #b19eac;
    justify-self: center;
    padding: 2rem;
}
.wrap1{
    display: grid;
    text-align: center;
    grid-row-gap: 2%;    
}
.wrap2 {
    background: url('../img/porta.jpg') no-repeat center center/cover; background-size: 100% 100%;
}
.wrap3 {
    background: url('../img/kodak.jpg') no-repeat center center/cover; background-size: 100% 100%;
}
.wrap4 {
    background: url('../img/portret2.jpg') no-repeat center center/cover; background-size: 100% 100%;
}
.wrap6 {
    background: url('../img/back-sec.png') no-repeat center center/cover; background-size: 100% 100%;
    height: 48rem;
}


.wrapper{
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-rows: 675px 800px;
    /*         grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
             grid-auto-rows: minmax(150px, auto);*/
}

.sub-wrap-check-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.sub-wrap-li{padding:1rem;
             display: flex;
             align-items: baseline;
}
.sub-wrap-li p:first-child{    
    width: 30%;
    text-align: right;
    font-size: 30px;
    color: #9f9e9e;
}
.sub-wrap-li p:last-child{    
    width: 70%;
    font-size: 22px;
    text-align: left;
    padding-left: 1rem;
}

.footer-content{width: 100%;height: 75px;background: #313131;display: flex;align-items: center;}
.footer-content .footer-left, .footer-content .footer-right{width: 50%;}
.footer-content .footer-left{text-align: left;padding: 0 36px;}
.footer-content .footer-left a{text-decoration: none;cursor: pointer;}
.footer-content .footer-left a i{font-size: 14px;margin-right: 5px;color:#fff;vertical-align: -2px;}
.footer-content .footer-left a i:before{-ms-transform: rotate(-90deg); /* IE 9 */
                                        -webkit-transform: rotate(-90deg);/* Safari 3-8 */
                                        transform: rotate(-90deg);}
.footer-content .footer-left a span{color: #ffffff;font-size: 14px;font-weight: 400;line-height: 59.13px;text-transform: uppercase;letter-spacing: 0.24px;}
.footer-content .footer-right{text-align: right;padding: 0 36px;}
.footer-content .footer-right a img{width: 90px;}
