*:focus{
    outline: none;
}
a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
}
h1 { font-size: 60px;}
h2 { font-size: 44px;}
h3 { font-size: 38px;}
h4 { font-size: 34px;}
h5 { font-size: 30px;}
h6 { font-size: 25px;}

ul, ol, li{
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    align-items: center;
    position: fixed;
    grid-template-columns: min-content auto;
    width: 100vw;
    top:0;
    left: 0;
    right: 0;
    padding: 36px 4%;
    z-index: 999;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header.scrolled{
    background: rgba(255,255,255,1);
    padding: 10px 4%;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{background-color: #fff;}

.header.scrolled .hamburger-inner, .header.scrolled .hamburger-inner:after, .header.scrolled .hamburger-inner:before{
    background: #000;
}

/*.sec_main__logo { max-width: 20%; }*/
#my-menu {
    justify-content: flex-end;
}
#menu
{
    /*    position: absolute;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        display: flex;*/
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
#mm-my-menu{
    background: rgba(255,255,255,1);
    color: #000;
}

.mh-head{height: calc(100% - 1%);}
#menu{
    /*    position: absolute;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        display: flex;*/
}
.sec_main__menu__item{margin: 0px;
text-transform: uppercase;}

.menu .menu-main p{
    color: var(--bialy);
    width:100%;
}
.scrolled  nav .menu-main li a p {
    color:#000;
}

.mmenu__item {
    background-size: 50px;
}

.sec_main__menu__link.active_page {
    background: url(../img/menu-button.png) bottom center/cover no-repeat;
    /*height: 70px;*/
    background-size: 50px;
}
/*.menu .menu-main p.active-text{font-weight:800;}*/

.sec_main__menu__link:hover{
    background: url(../img/menu-button.png) bottom center/cover no-repeat;
    /*height: 70px;*/
    background-size: 50px;
}

.logo-menu .active_page {background: none;}

header.scrolled ul li a{color:#000;}

#logo-white{
    height: 60px;
}
#logo-normal{
    display: none;
}
header.scrolled #logo-white{
    display: none;
}
header.scrolled #logo-normal{
    display: block;
    height: 60px;
}
.logo {
    height: 72px;
    transition: all 0.2s ease-in-out; }

.scrolled .logo {
    height: 60px; }

.menu-title {
    color: #000 !important;
}

@media only screen and (max-width:1300px){
    .sec_main__menu__item{margin: 0;}
    #menu > li {margin-left: 0}
}

.sec_main__menu__link{color: #fff;font-size: 18px;white-space: nowrap;background-size: 50px}
header.scrolled .sec_main__menu__link{color: #000;}

@media only screen and (min-width : 1024px){
    .mm-listitem:after{border: none;}

}


@media only screen and (max-width : 1000px){
    .sec_main__menu__item{margin: 0 15px;}
    .sec_main__menu__link{color: #fff;font-size: 14px;}
}



/**menu mobile start**/
/*.hamburger{outline: none;right: 0px;top: 4px;z-index: 99999;}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{background-color: #fff;}
.scrolled .hamburger-inner,.scrolled .hamburger-inner:after,.scrolled .hamburger-inner:before{background-color: #fff;}
#mm-0{height: 100%;}
.mm-panel_has-navbar{padding-top: 20px;}
.mm-menu.mm-theme-black .mm-navbar a, .mm-menu.mm-theme-black .mm-navbar>*{color: #fff !important;}
.mm-menu_fullscreen.mm-menu_position-bottom{height: calc( 100% - 125px );}
.mm-navbars-top{border:none;height: 0px;width: 100%;}
.mm-menu.mm-theme-black {background: #fff;}
.mm-navbar_size-2{width: 100%;align-items: center; display: flex;justify-content: center;}
.mm-navbar_size-2 a{text-align: center;font-size: 2.063em;margin: 0 15px;}
.mm-menu_theme-black .mm-navbar a, .mm-menu_theme-black .mm-navbar>*{color: #fff;}
#mm-menu .mm-navbar, .mm-panel:after, .mm-panel:before{display: none;}
.mm-navbars_bottom>.mm-navbar>:not(img):not(.mm-btn), .mm-navbars_top>.mm-navbar>:not(img):not(.mm-btn){flex:0;}
.mm-menu.mm-theme-black .mm-navbar div{margin: 0 auto;}
.mm-navbar.mm-hasbtns{padding: 0;}
.mm-hasnavbar-top-2 .mm-panels{top:20px;}
.mm-panel .mm-navbar{display: block;}
.mm-menu .mm-listview {text-transform: uppercase;font-size: 0.750em;}
.mm-menu .mm-listview li:last-child:after {content: none; display: none;}
.mm-listview .mm-next+a, .mm-listview .mm-next+span{margin-right: 0px !important}
.mm-menu .mm-listview a,
.mm-menu .mm-listview span {
    color: #fff;
    text-align: center;
    padding-right: 20px !important;
    text-transform: uppercase;font-size: 16px;text-decoration: none;font-weight: 600;letter-spacing: 0.92px;
}
html.mm-opening .mm-menu.mm-fx-listitems-drop .mm-panel.mm-opened .mm-listview>li.break-menu{display: none;}
.mm-menu.mm-theme-black .mm-listview{border-color: #1f1842}
.mm-navbar .mm-title{text-transform: uppercase;font-size: 1em;color:#fff;text-decoration: none;font-family: Poppins;font-weight: 600;letter-spacing: 0.92px;}
.mm-menu .mm-listview a:hover,.mm-menu .mm-listview a:hover + span {color: #fff;}
.mm-menu .mm-panels > .mm-panel:after {content: none;display: none;}
.mm-menu .mm-panels > .mm-panel > .mm-listview {margin:0;}
@media (max-width: 1023px) {
    #my-menu {display: none !important;}
    .hamburger{display: block;}
}
@media (min-width: 1024px) {
    #mm-my-menu, .hamburger{display: none !important;}
}*/
@media (max-width: 1006px) {
    #my-menu {display: none !important;}
    .hamburger{display: block;}
    .mh-btns {
        justify-self: end;
    }}
@media (min-width: 1007px) {
    #mm-my-menu, .hamburger{display: none !important;}
}
button.hamburger.is-active {
    background: none;
}
.mm-menu {
    height: calc( 100% - 115px ) !important;
    background: rgba(255,255,255,0.6);
}
.mm-navbar_size-2 {
    text-align: center;
    position: relative;
    border-bottom: none;
    display: block !important;
}
.mm-navbar_size-2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}
.mm-navbar_size-2 > * {
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
}
.mm-navbar_size-2 img {
    opacity: 0.6;
    border: 1px solid #fff;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0 10px;
}
.mm-navbar_size-2 a {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px !important;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
}
.mm-navbar_size-2 a:hover {
    border-color: #fff;
    color: #fff !important;
}

.mm-panels > .mm-panel:after {
    content: none;
    display: none;
}
.mm-panels > .mm-panel > .mm-listview {
    margin: 0;
}

.mm-listview {
    text-transform: uppercase;
    width:100%;
}
.mm-listitem:last-child:after {
    content: none;
    display: none;
}
.mm-listitem a,
.mm-listitem span {
    color: #fff;
    text-align: center;
    padding-right: 20px !important;
}
@media only screen and (max-width:1240px){
    .mm-listitem a, .mm-listitem span {padding-right: 0 !important; padding-left: 0px;}
}
.mm-listitem a:hover,
.mm-listitem a:hover + span {
    color: #fff;
}
header.scrolled .mm-listitem a:hover,
header.scrolled .mm-listitem a:hover + span {
    color: #000;
}
.mm-listitem>a, .mm-listitem>span

.mm-navbars_top {height:40px;}

.mm-wrapper_opening .mm-menu_fx-listitems-drop .mm-panel_opened .mm-listitem {
    top: 20px
}
/**menu mobile end**/

@media only screen and (min-width : 1007px) {
    #menu {
        font-size: 0;
        margin: 10px 0;
    }

    #menu > li {
        display: inline-block;
        margin-left: 30px;
        padding: 2px 0;
    }

    #menu > li.parent {
        background-image: url(../images/plus-gray.png);
        background-size: 7px 7px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    #menu > li.parent > a {
        padding-left: 14px;
    }

    #menu > li:hover > a,
    #menu > li.current-menu-item > a {

    }

    /* HEADER > MENU > DROPDOWN */
    #menu li {
        position: relative;
    }

    ul.sub-menu { /* level 2 */
        display: none;
        left: 0px;
        top: 38px;
        padding: 10px;
        position: absolute;
        z-index: 9999;
    }

    ul.sub-menu ul.sub-menu { /* level 3+ */
        margin-top: -1px;
        padding-top: 0;
        left: 149px;
        top: 0px;
    }

    ul.sub-menu > li > a {
        background: rgba(1, 127, 212, 1);
        color: #bbb;
        display: block;
        font-size: 15px;
        line-height: 15px;
        padding: 24px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        width: 100%;
        text-align: left;
    }

    ul.sub-menu > li > a:hover {
        background: rgba(1, 127, 212, 0.98);
        color: #fff;
    }


    ul.sub-menu > li:last-child > a {
        border-radius: 0 0 2px 2px;
    }

    #menu li:hover > ul.sub-menu {
        display: block; /* show the submenu */
    }

}

.mm-listitem:after {
    display: none;
}

.mm-panel, .mm-panels {
    background: #fff;
}

.mm-menu_listview-50 .mm-listitem>a:not(.mm-btn_next), .mm-menu_listview-50 .mm-listitem>span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}
