/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-07-23, 11:02:08
    Author     : Damian
*/

.nav-side-text {
    font-size: 22px;
    color: #767878;
    margin: 3% 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.test-isotope button {
    cursor: pointer;
}
.nav-side-text button{
    border: none;

}

.nav-side-text button{
    flex: 0 1 15%;
}
.nav-side-text button:hover{
    background:#e03576;
    color:#fff;
}

.gallery-hover{
    opacity:0;
    position:absolute;
    top:0;
    bottom:6px;
    left:0;
    right:0;
}
.gallery-hover p{
    color: #000;
    position: absolute;
    top: 47%;
    left: 0;
    right:0;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 800;
}

.flaticon-plus:before{
    font-size: 35px;
    padding: 0 15px;
    vertical-align: initial;
}
@media screen and (min-width: 960px) {
    .hover_photo:hover .gallery-hover {
        opacity: 1;
        transition: .3s;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.hov-position p{
    /*top: 28%;*/
}

/*.pos-filter{
    top: 535px!important;
}*/

/*custom banner*/

.work-banner .makeup-list {
    background: url(../img/work_banner_bg.png) right center/cover!important;
    height: 80vh;
}

.work-banner .needs{
    padding-bottom:0;
}
@media screen and (max-width: 380px) {
    .makeup-needs .needs {
        font-size: 40px;
    }
}
.lg-sub-html{
    font-family: 'Proxima Nova'!important;
    font-size:20px!important;
    font-weight: 500!important;
    text-transform: uppercase;
}