/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Damian
*/
header{
    /*background: #fff;*/
}
.s2{
    justify-content: space-between;
    padding: 2% 4%;
}
.s2 .right img{
    padding: 0;
}
.makeup-learn-section{
    padding: 75px 4%;
}

#s2-slick{
    padding: 2% 2.7%;
    margin-bottom:2%;
}

#lazy-slider .item {
    margin:0 25px;
}

#lazy-slider .item img{
    max-width:100%;
    display:block;
}
#lazy-slider .prev-slick-arrow{
    position: absolute;
    bottom: -55px;
    left: 25px;
    z-index: 9;
    background: none;
    border: none;
    outline:none;
    padding: 0;
    cursor: pointer;

}
#lazy-slider .next-slick-arrow{
    position:absolute;
    bottom: -55px;;
    right:25px;
    z-index: 9;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding:0;
}
#lazy-slider .next-slick-arrow i:before, #lazy-slider .prev-slick-arrow i:before{
    font-size:35px;
}
#lazy-slider .next-slick-arrow i, #lazy-slider .prev-slick-arrow i{
    color:#e03576;
}

#lazy-slider .slick-dots{
    position:absolute;
    bottom:-40px;
    right:0;    
    left:0;
    display:flex;
    justify-content: center;
}
#lazy-slider li button{
    font-size: 0px;
    width: 15px;
    height: 15px;
    background: black;
    border: none;
    background:#ddd;
    margin:0 5px;
    outline:none;
    cursor: pointer;
}
#lazy-slider li.slick-active button{
    background: black;
}
#lazy-slider .item{
    position:relative;
}

#lazy-slider .item .text-hover{
    opacity:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor: pointer;
}
#lazy-slider .item .text-hover p{
    position: absolute;
    top: 47%;
    left: 0;
    right:0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;

}
#lazy-slider .flaticon-plus:before{
    font-size: 35px;
    padding: 0 15px;
    vertical-align: sub;
}
#lazy-slider .item:hover .text-hover{
    opacity:0;
}

@media screen and (min-width: 960px) {
    #lazy-slider .item:hover .text-hover {
        opacity: 1;
        transition: .3s;
        background-color: rgba(255, 255, 255, 0.5);
    }
}


header .logo-placement a{
    padding-left: 4%;
}

header.scrolled .logo-placement {
    padding-left: 2%;
}

@media only screen and (min-width:1500px) and (max-width:1600px){
    header .logo-placement {
        flex: 0 1 37%;
    }
}
.text-s1 {text-align: right;padding: 72px;}
.text-s1 h2{margin: 72px 0;}

.content-s1 .social{width: 50%;}
.content-s1 .go-down{width: 50%;}
.content-s1 .go-down a{float: right;}

.nav-page-work{padding: 36px 0;text-align: center;}
.nav-page-work ul{list-style: none;}
.nav-page-work ul li{display: inline-block;text-transform: uppercase;font-size: 18px;padding: 10px 17px;margin: 0 5px;cursor: pointer;}
.nav-page-work ul li:hover, .nav-page-work ul li.active{background: #b1b1b1;color: #fff;}
.hid-content{display: none;}
.menu ul li p{width:120%;color:#000;}
.menu ul li:hover{background: url(../img/menu-button.png) bottom center/cover no-repeat;
                  height: 70px;
                  background-size: 55px; 
                  background-position-y: 70%;}
.menu ul .active {background: url(../img/menu-button.png) bottom center/cover no-repeat;
                  height: 70px;
                  background-size: 55px; 
                  background-position-y: 70%;
}
.menu ul p.active-text{font-weight:600;}


.four-photos{display: flex;flex-wrap: wrap;padding:0 15px;}
.four-photos .item-photo{flex: 0 1 25%;text-align: center;padding: 10px;margin-bottom: 36px;position:relative;}
.four-photos .item-photo img{display:block;width: 100%;max-width: 100%;height: 75%;}
.resize-images img{height:90%!important;}

.four-photos .item-photo p{font-size: 18px;color: #383030;margin: 15px 0 30px;}
.four-photos .item-photo a{border: 1px solid #383030;text-transform: uppercase;padding: 5px 7px;color: #383030;}
.four-photos .item-photo a:hover{background:#ddd;}
.four-photos .wys img{height:90%;} 
.four-photos .item-photo a{display:none;}
.special-event img{height:90%!important;}
/*Podmianka zdjec*/
/*1*/
.four-photos .item-photo .hover{display:none;}
.four-photos .item-photo:hover .hover{display:block;}

.overlay1 {position: absolute;top:10px;left: 100%;right: 0;background: url('../img/met-change2.jpg')no-repeat center/cover;overflow: hidden;width: 0;height: 73.2%;transition: .5s ease;}
.item-photo:hover .overlay1 {width: 100%;left: 0;height: 73.4%;top: 10px;}

/*2*/
.four-photos .item-photo .hover2{display:none;}
.four-photos .item-photo:hover .hover2{display:block;}
.overlay2 {position: absolute;top:10px;left: 100%;right: 0;background: url('../img/change2.jpg')no-repeat center/cover;overflow: hidden;width: 0;height: 73.2%;transition: .5s ease;}
.item-photo:hover .overlay2 {width: 100%;left: 0;height: 73.4%;top: 10px;}
/*3*/
.four-photos .item-photo .hover3{display:none;}
.four-photos .item-photo:hover .hover3{display:block;}
.overlay3 {position: absolute;top:10px;left: 100%;right: 0;background: url('../img/met-after3.png')no-repeat center/cover;overflow: hidden;width: 0;height: 73.2%;transition: .5s ease;}
.item-photo:hover .overlay3 {width: 100%;left: 0;height: 73.4%;top: 10px;}
/*4*/
.four-photos .item-photo .hover4{display:none;}
.four-photos .item-photo:hover .hover4{display:block;}
.overlay4 {position: absolute;top:10px;left: 100%;right: 0;background: url('../img/met-after4.png')no-repeat center/cover;overflow: hidden;width: 0;height: 73.2%;transition: .5s ease;}
.item-photo:hover .overlay4 {width: 100%;left: 0;height: 73.4%;top: 10px;}
.item-desc{display:none;}


.three-photos{display: flex;flex-wrap: wrap;padding:0 15px;}
.three-photos .item-photo{flex: 0 1 33.33%;text-align: center;padding: 10px;margin-bottom: 36px;}
.three-photos .item-photo img{width: 100%;max-width: 100%;height: 90%;}
.three-photos .item-photo p{font-size: 18px;color: #383030;margin: 15px 0 30px;}
.three-photos .item-photo a{border: 1px solid #383030;text-transform: uppercase;padding: 5px 7px;color: #383030;}
.three-photos .item-photo a:hover{background:#ddd;}
@media only screen and (min-width:480px) and (max-width:799px){
    .three-photos .item-photo{flex:0 1 100%;}
}

.two-photos{display: flex;flex-wrap: wrap;padding:0 15px;}
.two-photos .item-photo{flex: 0 1 50%;text-align: center;padding: 10px;margin-bottom: 36px;}
.two-photos .item-photo img{width: 100%;max-width: 100%;height: auto;}
.two-photos .item-photo p{font-size: 18px;color: #383030;margin: 15px 0 30px;}
.two-photos .item-photo a{border: 1px solid #383030;text-transform: uppercase;padding: 5px 7px;color: #383030;}
.two-photos .item-photo a:hover{background:#ddd;}

.load-more-photos{display:none;}
.load-more-photos{text-align: center;padding: 36px 0 72px 0;}
.load-more-photos a{border: 1px solid #383030;text-transform: uppercase;padding: 10px 17px;color: #383030;}
.load-more-photos a:hover{background:#ddd;}

.content-s1-bgcolor{position:relative;}
.watch-video{padding: 72px;text-align: right;position: absolute;right: -33px;bottom: 180px;}
.watch-video a{color: #fff;background: #000;padding: 10px 17px;font-size: 26px;text-transform: uppercase;}
.watch-video a:hover{background:#000000bf;}

#s1.nauka-bg {
    height: auto;
    background-position: 70% -130px;
    padding-top: 130px;
    padding-bottom: 130px;
}

@media screen and (max-width: 600px) {
    #s1.nauka-bg {
        background-position: left;
    }
}

.content-s1-bgcolor {
    padding-left: 4%;
    display: flex;
    align-items: center;
}
.content-name {
    margin-top: 5%;
}
.content-name{
    color:#fff;
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
}
.content-name b{
    color:#e03576;
}
@media screen and (max-width: 400px){
    .content-name {
        font-size: 60px;
    }
}
@media screen and (max-width: 400px){
    .content-name {
        font-size: 50px;
    }
}


#s2-sub{display: flex;height: 36.2vw;flex-direction: row-reverse;}
#s2-sub .left{width: 30.14%;height: 44em;overflow: hidden;}
#s2-sub .left img{    width: 102%;max-width: 102%;opacity:1;}
#s2-sub .right{width: 70.2%;height: 44em;;overflow: hidden;}
#s2-sub .right img{display:block;width: 102%;max-width: 102%;opacity:0.9;}
#s2-sub .s2-sub-bg-left {background:black;height:auto;}
#s2-sub .s2-sub-bg-right {background:black;height:auto;}
#s2-sub .left img{display:block;}



/*nowe style dla nauka makijazu - FHD*/ 


.makeup-list{
    background: url(../img/makeup-learn-bg.png) right center/cover;
    padding: 70px 4%;
}
.individual-makeup{
    font-size: 28px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-weight: 100;
}
.needs{
    padding: 50px 0 70px 0;
    font-size: 50px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
}

.makeup-list-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.makeup-needs{
    height: 100%;
    display: grid;
    align-content: center;
    grid-row-gap: 50px;
}
.makeup-types-list{
    position: relative;
    display: grid;

    /*        display: grid;
            width: 50%;
            text-align: center;
            align-items: center;
            grid-template-rows: 130px 1fr 1fr 1fr 1fr 150px;*/
}

.makeup-list_item img{
    position: absolute;
    right: 10%;
    padding-top: 1.5%;
    width: 355px;
}
.makeup-list_item{
    text-transform: uppercase;
    position: relative;
}

p.makeup-list_item {
    /*background: url("../img/banner_line.png") no-repeat;*/
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    margin: 5% 0;
    text-align: left;
}
@media screen and (min-width: 1720px) {
    p.makeup-list_item {
        padding-left: 15%;
    }
}
@media screen and (max-width: 1400px) {
    p.makeup-list_item {
        font-size: 19px;
    }
}
@media screen and (max-width: 1105px) {
    .makeup-list-content{
        display: grid;
        grid-template-columns: 1fr
    }
    .makeup-types-list {
        padding-top: 25px;
    }
    p.makeup-list_item {
        font-size: 24px;
        padding-left: 20%;
    }
    .makeup-needs {
        padding-left: 3%;
    }
}
@media screen and (max-width: 940px) {
    p.makeup-list_item {
        padding-left: 15%;
    }
}
@media screen and (max-width: 850px) {
    p.makeup-list_item {
        padding-left: 5%;
        padding-right: 5%;
    }
}
.makeup-list_item:after {
    content: url("../img/banner_line.png");
    position: absolute;
    right: 10%;
    top: 60%;
}
@media screen and (max-width: 750px) {
    .makeup-list_item:after {
        content: "";
    }
}
@media screen and (max-width: 405px) {
    p.makeup-list_item {
        font-size: 19px;
    }
}
b.pink-text{
    color:#e03576;
}

.go-link-strong{
    border: 2px solid #fff!important;
}

.s2 .box_table_learn .title{
    background: url('../img/nauka_make-title.png') no-repeat top center;
    background-size: 100%;
    background-position-y: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
}
@media screen and (max-width: 375px) {
    .s2 .box_table_learn .title {
        height: 7rem;
    }
}
.pink-table-title {
    padding-bottom: 8%;
    font-size: 25px;
    color: rgba(224, 53, 118, 255);
    text-align: center;
    font-weight: 800;
    line-height: 35px;
}
.wedding_infor{
    font-size: 22px!important;
    color: rgba(118, 120, 120, 255)!important;
    text-align: center!important;
    line-height: 25px;

}
.box_table_learn{
    padding: 8%;
}
.nauka-title h3 b{
    color:#e03576;
}
.nauka-title {
    background: url(../img/nauka_make-title.png) no-repeat top center;
    background-size: 50%;
    background-position-y: 0%;
    height: 150px;
}
.nauka-title h3{
    padding-top: 2.3%;
}


@media only screen and (min-width:1500px) and (max-width:1600px) {
    .title h3{font-size: 50px;padding-bottom: 0rem;}
    .tittle h4{padding-bottom: 10px;}
    .title p{font-size: 23px;margin-bottom: 28px;}
    p.check-help{width: 65%;font-size: 17px;margin-bottom: 2rem;}
    .check-help-list{margin-left: 13rem;}
    #s2-sub .right{height: 34.8em;}
    p.check-help-second{padding: 17px 5rem;}
    .check-help-list-second{margin-left: 11rem;}
    .s2 .right img{
        height: 113.2vh
    }
    .S2 .left{
        height: 97vh;
    }
    .nauka-title{
        background-size: 80%;
        background-position-y: 100%;
    }
}

@media only screen and (min-width:1500px) {
    .watch-video{margin-right: 36px;}
}

@media only screen and (min-width:1280px) and (max-width:1499px) {
    .watch-video{right: 3px;}
    #s2-sub .left{width: 30%;height: 34.6em;}
    #s2-sub .right{width: 70.2%;height: 34.6em;}
    #s2-sub{height: 36.3vw;}



}
@media only screen and (min-width:1024px) and (max-width:1279px) {

    #s2-sub {height: 43vw;}
    .title h3{font-size: 36px;padding-top:0px;}
    .title h4{font-size: 30px;} 
    .title p{font-size: 16px;}
    .check-help-list{text-indent:-14px;}
    .ul-first{width: 75%;}
    .ul-first li{padding-right:15px;    line-height: 25px;}
    .contact form button{line-height:25px;width: 100%;}
    #s2-sub .left{width: 36.2%;}
    #s2-sub .left img{width: 107.2%;max-width: 108%;}
    .check-help-list{padding: 20px 72px;font-size: 14px;}
    .s2 .right{    width: 36.1%;height: 163%;padding-top: 157px;}
    .s2 .right img{width: 100%;height: 90%;}
    .top__pad{padding-top:90px!important;}
    .s2 .right img{height: 78.4%;}
    .watch-video{margin-right:36px;bottom: 120px;}
    .item-photo:hover .overlay1 , .item-photo:hover .overlay2 , .item-photo:hover .overlay3 ,.item-photo:hover .overlay4  {height: 72.2%;}   
    .s2 .left{height: 57vh;}
    .text-s1 h2{margin: 58px 0 72px 0;}
    .four-photos .item-photo img{height: 90%;}
    .special-width-changes img{height:75%!important;}
    .second-box-text{padding: 2rem 7.5rem!important;}
}

@media only screen and (min-width:800px) and (max-width:1023px) {
    #s2-sub{height: 43vw;}
    .watch-video{right: 0px;bottom: 120px;}
    .text-s1 h2{margin: 0px 20px;}
    .text-s1 h4{margin: 36px 20px;}
}

@media screen and (max-width: 911px) {
    .box_table_learn {
       padding: 4%;
    }
}

@media only screen and (min-width:480px) and (max-width:800px) {
    .nav-page-work ul li {margin-bottom: 15px;width:47%;}
    .four-photos{display:block;}
    .contact form button:hover{opacity:0.8;}
    .watch-video{width:305px;}
    .four-photos .item-photo p{margin: 50px 0 30px;}
}


@media only screen and (max-width: 703px) {
    .ul-first {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .s2 .right {
        display: none;
    }
}


@media only screen and (max-width:479px) {
    .watch-video{width:345px;}

}
@media only screen and (max-width:320px) {
    .watch-video {width: 300px;position: absolute;right:-33px;bottom: 75px;}
}


@media only screen and (min-width:1500px) and (max-width:1600px){
    .makeup-needs{
        padding: 12% 3% 3% 6%;
        height: 100%;
    }
    .individual-makeup{
        font-size: 28px;
        color: rgba(255, 255, 255, 255);
        text-align: left;
        font-weight: 100;
    }
    .needs{
        padding: 4% 0 12% 0;
        font-size: 50px;
        color: rgba(255, 255, 255, 255);
        text-align: left;
        font-weight: 800;
        text-transform: uppercase;
    }

    .makeup-list-content{
        width: 100%;
        height: 100%;

    }

    .makeup-list_item{
        text-transform: uppercase;
    }

    b.pink-text{
        color:#e03576;
    }

    .go-link-strong{
        border: 2px solid #fff!important;
    }

    .s2 .box_table_learn .title{
        background: url('../img/nauka_make-title.png') no-repeat top center;
        background-size: 90%;
        background-position-y: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 11rem;
    }
    .pink-table-title {
        padding-bottom: 8%;
        font-size: 20px;
        color: rgba(224, 53, 118, 255);
        text-align: center;
        font-weight: 800;
    }
    .wedding_infor{
        font-size: 22px!important;
        color: rgba(118, 120, 120, 255)!important;
        text-align: center!important;

    }


}



.make-up-learn-pad{
    padding:2% 4%;
}

@media screen and (max-width: 1070px) {
    .nauka-title {
        height: 75px;
    }
}


