/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-07-19, 10:57:08
    Author     : Damian
*/

.wedding-makeup-text .box_table_learn .title{
    background: url(../img/wedding_makeup_title.png) no-repeat top center;
    background-size: 100%;
    background-position-y: 50%;
}

.wedding-makeup-text .right img{
    height:100%;
}
.wedding-makeup-text .right{
    width:30%;

}
.wedding_makeup_text{
    width:100%!important;
}
.btn-position{
    text-align: center;
}
.table-wedding{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 1% 8% 1%;
}
.wedding-makeup-text .title h3{
    font-size: 50px;
}
.wedding-makeup-text .box_table_learn{
    width:70%;
    padding: 8% 0% 8% 8%;
}
.wedding-pad{
        padding: 8% 3% 2% 3%;
}
#wedding-slick {
        padding: 2% 2.7%;
}
#wedding-slick #lazy-slider .item img{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .wedding-makeup-text .box_table_learn {
        width: 100%;
        padding: 4%;
    }
}
@media screen and (max-width: 400px) {
    .container-contact__btn {
        width: 100%;
    }
}