
/*.text-s1 {text-align: right;padding: 72px;}
.text-s1 h2{margin: 72px 0;}
.menu ul li p{width:120%;}
.menu ul li p:hover{background: #ddd;width: 120%;}*/

.content-s1 .social{width: 50%;}
.content-s1 .go-down{width: 50%;}
.content-s1 .go-down a{float: right;}



#s61 .content-s6 .content-video{display: flex;justify-content:space-evenly;flex-wrap: wrap;margin-top: 72px;}
#s61 .content-s6 .content-video .left .left-content{padding: 36px 10px;}
#s61 .content-s6 .content-video .right .right-content{padding: 36px 10px;}


.video-step{display:inline-flex;justify-content:space-evenly;}
.step{background-color: #f2cce9;border-radius: 50%;color: #363636;font-size: 24px;padding: 14px 21px;text-align: center;}
.step-text{color: #363636;font-size: 23px;line-height: 26px;padding: 13px 15px;}
.text-video p{font-size: 18px;color: #383030;margin: 15px 0 30px;text-align: center;}
/*.content-video:last-child{justify-content: flex-start!important;}*/


@media only screen and (min-width:1024px) and (max-width:1279px) {
    .video-step{justify-content: center;padding-left:10px;}
}

@media only screen and (min-width:800px) and (max-width:1023px) {
    .video-step{justify-content: center;padding-left:10px;}
    #s61 .content-s6 .content-video{display:block;text-align:center;}
    .text-s1 h2{margin: 0px 20px;}
    .text-s1 h4{margin: 36px 20px;}
}
@media only screen and (min-width:480px) and (max-width:799px) {

    .video-h3-pad{padding-top:36px!important;} 
    #s61 .content-s6 .content-video{display:block;}
    #s61 .content-s6 .content-video .left .left-content iframe{width:100%;}
    #s61 .content-s6 .content-video .right .right-content iframe{width:100%;}
    #s61 h3{margin: 36px 36px 0px 36px!important;}

}
@media only screen and (max-width:479px){
    #s61 .content-s6{margin: 55px;margin-bottom: 0px;}
    .video__item{position:relative;}
    /*.video__item iframe{position: absolute;top:0;left: 0;width: 100%;height: 100%;}*/
    .video__item iframe{width:320px;height:auto;}
    .step-text{font-size:17px;}
    #s6 .content-s6 .content-video .left .left-content{padding:36px 0px;}
    #s6 .content-s6 .content-video .right .right-content{padding:36px 0px;}
}
@media only screen and (max-width:320px){
    .video-step{    display: -webkit-inline-box;}
    .step{font-size: 14px;padding: 10px 15px;}
    .step-text{    margin-bottom: 15px;padding:0px;font-size: 14px;padding-left: 10px;}
    #s61 .content-s6 .content-video .right .right-content{padding:0px;}
    #s61 .content-s6 .content-video .left .left-content{padding:0px;}
    .text-video p{font-size:14px;}
    .video__item iframe{max-width:228px;}
}