#debug_bar
{
	display:none!important;
}

#interactive_mode
{
	position:fixed;
	bottom: 0;
	width:100%;
	background:#313131;
}

.interactive_mode_content
{
	padding:12px;
	height: 44px;
}
.interactive_mode_logo_gw
{
	display:block;
	float:left;
}
.interactive_mode_logo_gw img 
{
	height:20px;
	margin-right:12px;
}

.interactive_mode_logo_gw span
{
	color: #fff;
    display: inline-block;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.interactive_mode_controls 
{
	float:right;
}

#interactive_mode_close
{
	-webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
	background-color: #04d18b;
    color: #313131;
    display: block;
    font-weight: bold;
    padding: 4px 12px;
}

#interactive_mode_close:hover
{
	opacity:0.9;
}

div[data-cms_column_name]
{
	-webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}

div[data-cms_column_name]:hover, div[data-cms_column_name].cke_focus
{
	-webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.33);
	-moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.33);
	box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.33);
}