<div class="container-fluid user_panel_container page_content messages">
    {include file="user_dashboard/_partials/uzytkownik_glowny_panel.tpl"}
<div class="row">
    <div class="col-lg-12">
        <div class="card custom_card">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    {include file="wiadomosci/_partials/menu.tpl"}
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">

                    {include file="wiadomosci/_partials/lista.tpl"}

                </div>
            </div>
        </div>
    </div>
</div>
</div>


