.ratefeatureDialog {
  text-align: center;
}
.ratefeatureDialog textarea {
  margin-top: 5px;
  width: 100%;
  height: 80px;
}
.ratefeature {
  font-size: 1px;
}
.ratefeature .iconContainer {
  display: inline-block;
}
.ratefeature .dislike-icon,
.ratefeature .like-icon {
  opacity: 0.2;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.ratefeature .dislike-icon:hover,
.ratefeature .like-icon:hover {
  opacity: 0.9;
}
