piwik-series-picker {
  display: inline-block;
}
piwik-series-picker .jqplot-seriespicker {
  position: relative;
}
piwik-series-picker .jqplot-seriespicker:not(.open) {
  opacity: .55;
}
piwik-series-picker .jqplot-seriespicker.open {
  z-index: 1000;
}
piwik-series-picker .jqplot-seriespicker > a {
  display: inline-block;
  opacity: 0;
  position: absolute;
}
piwik-series-picker .jqplot-seriespicker-popover {
  position: absolute;
  top: -3px;
  left: -4px;
}
