.uiTest .getNewPlugins .row {
  display: none;
}
.getPremiumFeatures h3 {
  margin-top: 0;
}
.getPremiumFeatures .pluginBody {
  margin-bottom: 32px;
  display: inline-block;
}
.getPremiumFeatures .pluginBody .pluginMoreDetails {
  line-height: 3em;
}
.getPremiumFeatures .row {
  margin-left: -12px;
  margin-right: -12px;
}
.getNewPlugins .pluginName {
  cursor: pointer;
}
.getNewPlugins .widgetBody {
  margin-bottom: 20px;
}
.getNewPlugins .screenshot {
  cursor: pointer;
}
.getNewPlugins:not(.isAdminPage) h3 {
  padding-left: 0 !important;
  padding-top: 5px !important;
}
.getNewPlugins.isAdminPage h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
.getNewPlugins.isAdminPage .description {
  height: 30px;
}
.getNewPlugins.isAdminPage .row {
  margin-left: -12px;
  margin-right: -12px;
}
.getNewPlugins.isAdminPage .screenshot {
  max-height: 250px;
  object-fit: cover;
}
