.userPermissionsEdit.loading .sites-for-permission-pagination,
.userPermissionsEdit.loading table {
  opacity: .5;
}
.userPermissionsEdit .permission-select .select-wrapper {
  display: inline-block;
  transform: scale(0.8);
  margin-right: -10px;
  margin-left: -10px;
  z-index: 999;
}
.userPermissionsEdit .permission-select .select-wrapper input {
  margin-bottom: 0;
  height: 1.1em;
  line-height: 1.1em;
}
.userPermissionsEdit .permission-select .select-wrapper .caret {
  top: 0;
}
.userPermissionsEdit .add-site {
  float: right;
}
.userPermissionsEdit .add-site [piwik-field] {
  display: inline-block;
}
.userPermissionsEdit .add-site [piwik-field] .input-field {
  width: 180px;
}
.userPermissionsEdit .add-site [piwik-siteselector] {
  display: inline-block;
}
.userPermissionsEdit .add-site [piwik-siteselector] a.title {
  width: 180px;
}
.userPermissionsEdit .add-site [piwik-siteselector] .siteSelector {
  position: static !important;
  margin-top: 1px;
}
.userPermissionsEdit .add-site .btn-flat:hover {
  background: none;
}
.userPermissionsEdit .filters {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.userPermissionsEdit .filters > div:first-child {
  flex: 1;
}
.userPermissionsEdit .filters > div > .input-field {
  display: inline-block;
  vertical-align: top;
  width: 180px;
}
.userPermissionsEdit .filters .sites-for-permission-pagination {
  display: inline-block;
  vertical-align: top;
  min-height: 2.5rem;
}
.userPermissionsEdit .filters .form-group,
.userPermissionsEdit .filters .input-field,
.userPermissionsEdit .filters input {
  margin: 0;
}
.userPermissionsEdit .filters .add-site > div {
  vertical-align: bottom;
  margin-top: .8rem;
}
.userPermissionsEdit .filters .add-site > a {
  padding: 0 1rem 0 0;
}
.userPermissionsEdit .bulk-actions > a.dropdown-trigger {
  margin-top: .8rem;
  margin-right: 1rem;
}
.userPermissionsEdit #sitesForPermission {
  margin-left: 0;
  margin-right: 0;
  width: calc(100%);
  font-size: 100%;
}
.userPermissionsEdit #sitesForPermission td > span {
  display: inline-block;
}
.userPermissionsEdit #sitesForPermission .select-cell {
  width: 32px;
}
.userPermissionsEdit #sitesForPermission span.checkbox-container {
  transform: scale(0.8);
  margin-top: -4px;
}
.userPermissionsEdit #sitesForPermission .role-select .select-wrapper {
  transform: scale(0.8) translate(-1.3rem);
  margin-top: -0.5rem;
  max-width: 160px;
}
.userPermissionsEdit #sitesForPermission .role-select .select-wrapper span.caret {
  top: 8px;
}
.userPermissionsEdit #sitesForPermission .role-select .select-wrapper input {
  margin-bottom: 0;
  height: 2rem;
  line-height: 2rem;
}
.userPermissionsEdit #sitesForPermission tr.select-all-row > td {
  padding: 6px;
  text-align: center;
}
.userPermissionsEdit #sitesForPermission .row.form-group {
  margin: 0;
}
.userPermissionsEdit #sitesForPermission .row.form-group .col {
  padding: 0;
}
.userPermissionsEdit #sitesForPermission tr .input-field {
  margin-top: 0;
}
.userPermissionsEdit table.entityTable tbody tr td {
  vertical-align: middle !important;
}
.userPermissionsEdit .add-permission {
  float: right;
}
.userPermissionsEdit .sites-for-permission-pagination-container {
  position: relative;
}
.userPermissionsEdit .sites-for-permission-pagination {
  position: absolute;
  bottom: 0;
  width: calc(100%);
  text-align: center;
}
.userPermissionsEdit .sites-for-permission-pagination a.disabled {
  pointer-events: none;
  color: #9e9e9e;
}
.userPermissionsEdit .sites-for-permission-pagination .counter {
  margin-left: 8px;
  margin-right: 8px;
}
.userPermissionsEdit .delete-site-permission {
  float: right;
}
.userPermissionsEdit .delete-access-confirm-modal .modal-no,
.userPermissionsEdit .change-access-confirm-modal .modal-no,
.userPermissionsEdit .confirm-give-access-all-sites .modal-no {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}
.userPermissionsEdit th.role_header .helpIcon,
.userPermissionsEdit th.capabilities_header .helpIcon {
  color: #9e9e9e;
  font-size: .8rem;
  margin-left: .1rem;
  text-decoration: none;
}
.userPermissionsEdit th.role_header .helpIcon:hover,
.userPermissionsEdit th.capabilities_header .helpIcon:hover,
.userPermissionsEdit th.role_header .helpIcon.sticky,
.userPermissionsEdit th.capabilities_header .helpIcon.sticky {
  opacity: 1;
}
.userPermissionsEdit .to-all-websites {
  margin-left: -0.75em;
  margin-right: -0.75em;
}
.userPermissionsEdit #all-sites-access-select {
  display: inline-block;
  vertical-align: bottom;
  width: 150px;
}
.userPermissionsEdit #all-sites-access-select .form-group {
  margin: 0;
}
.userPermissionsEdit #all-sites-access-select .input-field {
  margin-top: 0;
}
.userPermissionsEdit #all-sites-access-select .select-dropdown {
  margin-bottom: 0;
}
.user-permission-toast .notification {
  padding-left: 20px;
}
.user-permission-toast .notification::before {
  display: none;
}
