/*
@theme-color-brand:                    #d4291f;
@theme-color-brand-contrast:           #ffffff;

@theme-color-widget-title-text:        #0d0d0d;
@theme-color-widget-title-background:  #f2f2f2;

@theme-color-menu-contrast-text:       #666666;
@theme-color-menu-contrast-textActive: #0d0d0d;
@theme-color-menu-contrast-textSelected: @theme-color-menu-contrast-text;
@theme-color-menu-contrast-background: #f2f2f2;

@theme-color-text:                     #0d0d0d;
@theme-color-text-light:               #444444;
@theme-color-text-lighter:             #666666;
@theme-color-link:                     #1e93d1;

@theme-color-background-base:          #fff;
@theme-color-background-tinyContrast:  #f2f2f2;
@theme-color-background-lowContrast:   #cccccc;
@theme-color-background-contrast:      #5F5A60;
@theme-color-background-highContrast:  #202020;
@theme-color-base-series:              #ee3024;

@graph-colors-data-series1: #d4291f;
@graph-colors-data-series2: #1f78b4;
@graph-colors-data-series3: #ff7f00;
@graph-colors-data-series4: #33a02c;
@graph-colors-data-series5: #6a3d9a;
@graph-colors-data-series6: #b15928;
@graph-colors-data-series7: #fdbf6f;
@graph-colors-data-series8: #cab2d6;
*/
