$main: #000
$second: #4c4c4c
$gray: #c6c6c6
$red: #cf122e
$orange: #cf122e
::selection
  background: $main
  color: #fff
a:hover
  color: inherit
.btn-primary
  color: #fff
  background-color: $main
  border-color: $main
.btn-outline-primary
  color: $red
  border-color: $red
.btn-primary:hover
  background-color: $red
  border-color: $red
.btn-outline-primary:hover
  background-color: transparent
  color: $red
  border-color: $red
.btn-outline-primary:active
  background-color: transparent!important
  color: $red!important
  border-color: $red!important
/*-------------MENU----------------------*/
.main_page_navbar.navbar_wrapper
  .nav_icon_wrapper
    .nav_icon_link
      color: #fff
@media (min-width: 1200px)
  .main_page_navbar.navbar_wrapper
    .navbar-expand-xl
      .navbar-nav
        .nav-link
          color: #fff
    .navbar-light
      .navbar-nav
        .nav-link:hover, .nav-link:focus
          color: #fff
.navbar_wrapper
  background-color: #fff
.navbar_points
  background-color: $orange
  .navbar_points__sum
    color: #fefeff
.navbar_points.navbar_company_selection
  background-color: $main
  .navbar_company_selection__label
    color: #fff
  .navbar_company_selection_link--aeg
    color: #cf122e
.nav_icon_wrapper
  .nav_icon_attention
    background-color: $orange
    color: #fff
.mm-menu
  .dropdown-menu_category
    color: $red!important
  .mm-panel, .mm-panels
    background: #fff
  .mm-listitem__text
    color: $main!important
.nav_icon_wrapper
  .nav_icon_link
    color: $main
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active
  background-color: inherit
.user_submenu_drop
  background-color: rgba(#fff, 0.9)
  .dropdown-item
    color: $main
.user_submenu_drop:after
  border-color: rgba(136, 183, 213, 0)
  border-bottom-color: rgba(#fff, 0.9)
.user_submenu_drop:before
  border-color: rgba(194, 225, 245, 0)
  border-bottom-color: rgba(0, 0, 0, 0.15)
@media (min-width: 1200px)
  .navbar-expand-xl
    .navbar-nav
      .nav-link
        color: $main
  .navbar-light
    .show
      .nav-link
        color: $second!important
  .navbar-expand-xl
    .navbar-nav
      .nav-link.active
        color: $second
  .navbar-expand-xl
    .navbar-nav
      .nav-link.active:before
        background-color: $second
  .megamenu-li.show
    .nav-link
      background-color: rgba(255,255,255,0.96)
  .dropdown-menu.megamenu
    background-color: rgba(255,255,255,0.96)
  .megamenu
    .dropdown-item
      color: #000
  .megamenu
    .dropdown-menu_category
      color: $second!important
  .navbar-light
    .navbar-nav
      .nav-link:hover, .nav-link:focus
        color: $main
  .megamenu.megamenu_prize
    .megamenu_links
      &:first-child
        background-color: rgba(#dbdfe1, 0.96)
        .megamenu_links_prize
          color: $second
      &:last-child
        background-color: rgba($main, 0.96)
        .megamenu_links_prize
          color: #fff
@media screen and (min-width: 1440px)
  .navbar_points
    .navbar_points__sum
      color: #fefeff
/*--------LOGOWANIE---------*/
.user_login
  background-color: rgba($main, 0.95)
.user_login_intro, .user_login_container
  color: #fff
.login_form__input, .custom_form__input
  border-bottom: 2px solid #fff
.login_form__input--input, .custom_form__input--input
  color: #fff
.login_form__input--placeHolder::before, .custom_form__input--placeHolder::before
  background: $red
.login_form__input--placeHolder::after, .custom_form__input--placeHolder::after
  color: #fff
.has-val.login_form__input--input + .login_form__input--placeHolder::after
  color: $red
.login_form__remember_link
  border-bottom: 1px solid #fff
.login_button
  background-color: #fff
  color: $main
.login_fail
  color: #ff2c48
.login_remind__success
  color: $second
/*-------------LISTA PRODUKTÓW-----------*/
.product_list, .cart_summary
  .product_list_filter__title
    color: $main
  .product_list_filter__link_collapse, .product_list_filter__options
    color: $main
  .filter_options__helper:before
    border: 1px solid $main
  .product_list_sort__label
    color: $gray
  .form-control
    border-bottom: 1px solid $main!important
    color: $main
  .filter_grid_icon
    color: $red
.product_listing__single_product
  .single_product__price_row
    color: $main
  .single_product__extra_points
    color: $orange
  .single_product__price
    color: $gray
  .single_product_info--label
    color: #fff
  .single_product_info--new
    background-color: #2acbd3
  .single_product_info--end
    background-color: $orange
  .single_product_info--quality
    background-color: $second
  .single_product_info--extraPoints
    background-color: #415464
/*tooltipster*/
.extra_info_tooltip
  color: $main
@media screen and (max-width: 991.98px)
  .product_list
    .product_list_filter
      background-color: #fff
/*----------PRODUKT WIĘCEJ INFO----------*/
.product_more
  .product_more__title
    color: $main
  .product_more__code
    color: $red
  .product_more__points
    color: $main
  .product_more__price
    color: $gray
  .product_more__description
    padding-top: 48px
    border-top: 1px solid #7c7c7c
    color: $main
  .product_more__extra_links
    color: #fff
  .product_more__extra_links--lightBlue
    background-color: $red
  .product_more__extra_links--blue
    background-color: $main
  .product_more__specification
    background-color: $main
    color: #fff
    a
      color: #fff
      border: 2px solid #fff
  .product_more__specification--lightBlue
    background-color: $red
/*------SLIDER PRODUKTY------*/
.product_more_slick__main
  .slider-buttons
    i
      color: $main
@media screen and (max-width: 460px)
  .product_more_slick__main
    .slider-buttons
      button
        background-color: #fff
/*---SLIDER POLECANE PRODUKTY---*/
.recommended_products
  .recommended_products__title
    color: $main
.recommended_products_slick
  .slider-buttons
    i
      color: $main
/*----------GŁÓWNY LISTING NAGRÓD--------*/
.awards_main_list
  .awards_main_title
    color: #646569
  .awards_main_list__row:nth-child(3n)
    .awards_main_title
      color: $second
/*--------SZCZEGÓŁOWY LISTING------------*/
.progress
  border-radius: 1.5rem
  background: repeating-linear-gradient(90deg,#e9ecef,#e9ecef 10px,#fff 15px,#fff 10px)
.progress-bar
  background: repeating-linear-gradient(90deg,$main,$main 10px,#fff 12px,#fff 10px)
/*---------WIDOK SZCZEGÓŁOWY NAGRODY-----*/
.award_more
  .award_more__order_point_points
    color: $main
  .award_more__order_orderLink:hover
    background-color: $orange
    border-color: $orange
@media screen and (max-width: 767.98px)
  .product_more__specification--border
    border-bottom: 1px solid #fff
/*----------------PANEL UŻYTKOWNIKA--------------*/
.user_panel__main_data
  color: $gray
  .user_panel__main_data--blue
    color: $main
.user_panel__main_points
  color: #fff
.user_panel__main_points--blue
  background-color: $red
.user_panel__main_points--lightBlue
  background-color: #000
  color: $red
.user_panel__main_points--lightBlueMore
  background-color: #494846
  color: $red
.user_panel__main_points--gray
  background-color: #888
  color: $red
.user_panel_container
  .navbar
    background-color: #dbdfe1
  .user_panel_nav
    .nav-link
      color: $main
  .nav-link.active
    color: $second
@media screen and (max-width: 1440px)
  .user_panel__main_data
    .user_panel__main_data--blue
      color: $main
/*----------ZAREJESTRUJ SPRZEDAŻ---------*/
.user_panel
  .user_panel__title
    color: $main
  .registry_sales__select, .select2-selection--single
    background-color: $main!important
    color: #fff!important
  .select2-container--default
    .select2-selection--single
      .select2-selection__placeholder, .select2-selection__rendered
        color: #fff
      .select2-selection__arrow
        top: auto
        b
          border-color: #fff transparent transparent transparent
  .select2-container--default.select2-container--open
    .select2-selection--single
      .select2-selection__arrow
        b
          border-color: transparent transparent #fff transparent
.user_panel__table
  tr
    border-color: #7c7c7c
  th
    color: $main
  .user_panel__table--gray
    td
      color: $gray
  .user_panel__table--red
    td
      color: #f02828
  .user_panel__table--blue
    td
      color: $main
/*------------TWÓJ PANEL-----------------*/
.user_panel__box
  color: #fff
  background-color: #494846
.user_panel__box--aeg
  background-color: $red
.user_panel__box--backgroundBlue
  background-color: #cf122e
.user_panel__box--backgroundLightBlue
  background-color: rgba(#cf122e, 0.6)
.user_panel__box--add
  background-color: $orange
/*----MODALE EDYCJI PANEL UŻYTKOWNIKA----*/
#user_panel_modal, .custom_form_checkbox
  .custom_form__input--input
    color: $main
  .custom_form__input
    border-bottom: 2px solid $gray
  .custom_form__input--placeHolder::after
    color: $main
  .custom_form__input--input:focus + .custom_form__input--placeHolder::after, .has-val.custom_form__input--input + .custom_form__input--placeHolder::after
    color: $red
  .form__label--1
    color: $main
  .custom__label
    border: 1px solid $main
    svg
      path
        stroke: #004296
/*------PANEL---FAQ-------*/
.accordion__wrapper
  .btn-link
    &:hover
      color: $main
      text-decoration: none
  .card-header
    background-color: #f3f4f5
    .btn-link
      color: $main
  .card-body
    color: $main
@media screen and (min-width: 992px)
  .faq_link_single
    color: $main
  .faq_link_single.current_bg
    background-color: #dbdfe1
  .accordion__wrapper
    .card_body_tab
      .card
        background-color: #f3f4f5
      .card-body
        border-top: 1px solid #000
/*---------PANEL--USTAWIENIA----*/
.settings
  .settings_description
    color: $main
  .settings_single
    background-color: #f3f4f5
  .custom_form__input
    border-bottom: 2px solid $main
  .custom_form__input--input
    color: $main
  .custom_form__input--placeHolder::after
    color: $main
/*----PANEL--KONTAKT-Z-HANDLOWCEM---*/
.user_panel__trader_contact
  .trader_contact__form_title
    color: $main
  .custom_form__input
    border-bottom: 2px solid $main
  .custom_form__input--input
    color: $main
  .custom_form__input--placeHolder::after
    color: $main
/*------------FOOTER---------------------*/
.footer
  background-color: #252422
  color: #fff
.footer_list__link
  color: #fff
/*---------LOADER-------------*/
/*-------NOTIFY------------*/
.jq-toast-wrap
  .jq-icon-success
    background-color: #04B76B
  .jq-icon-info
    background-color: #0B94F7
  .jq-icon-warning
    background-color: #F5A623
  .jq-icon-error
    background-color: #FF5E6D
/*-------KOSZYK-----------*/
/*-------KOSZYK--1-KROK-------*/
.cart_title
  color: $main
a.cart_step
  color: #fff
  &:hover
    color: #fff
.cart_steps--orange
  background-color: $orange
.cart_steps--backgroundMainBlue
  background-color: $main
.cart_steps--backgroundBlue
  background-color: #252422
.cart_steps--backgroundLightBlue
  background-color: #494846
.cart_table
  .cart_table_row
    color: $main
    border-bottom: 1px solid #7c7c7c
  .cart_product_prize_info
    .cart_product_description
      color: $gray
  .cart_product_quantity
    .btn-number
      border: 1px solid #ced4da
  .next_step_tr
    color: $main
@media screen and (min-width: 992px)
  .cart_table
    thead
      tr
        th
          color: $main
          border-bottom: 2px solid #7c7c7c
/*-------KOSZYK--2-KROK-------*/
.cart_delivery, .cart_summary
  .cart_delivery__title
    color: $main
  .cart_delivery__input_label
    color: $main
  .cart_delivery__input
    .form-control
      background-color: #f3f4f5
      border-color: #f3f4f5
      color: $main
    .form-control-select
      background-color: $main
      color: #fff
      option
        background-color: #fff
        color: $main
/*----------KOSZYK--3--KROK-------*/
.cart_summary
  .cart_summary__single_product
    border-top: 1px solid #7c7c7c
    &:last-of-type
      border-bottom: 1px solid #7c7c7c
  .cart_summary__text--small
    color: #7c7c7c
  .cart_summary__single_product_description--big
    color: $main
  .cart_summary__sum--big
    color: $main
  .cart_summary__user_info--big
    color: $main
  .cart_summary__user_info--medium
    color: $main
  .filter_options__wrapper
    color: $main
  .cart_summary_regulations
    color: $orange
/*----KOSZYK-4-KROK---*/
.cart_summary
  color: $main
  .cart_end__standard
    color: $main
  .cart_end__standard--lightBlue
    color: $second
/*-----------BREADCRUMBS----------*/
@media screen and (min-width: 560px)
  .breadcrumbs_wrapper
    a
      color: $gray
      &:visited
        color: $gray
    .site-nav-wrap
      color: $gray
    .single-breadcrumb-wrap
      color: $gray
      &:hover
        &:before
          color: $main
        a
          color: $main
        .sep i
          color: $main
      &:first-child
        color: $main
      &:last-child
        a
          color: $main
      &:after
        background: $main
/*-----PODSTRONY Z FOOTERA----*/
.subpage
  color: $main
.subpage_contact
  .subpage_contact_text
    color: $main
  .footer_list__link
    color: $main
.subpage_about_program
  .about_program__title
    color: $main
  .about_program__main
    color: $second
  .about_program__standard
    color: $main
  .about_program__card
    color: $main
    background-color: #dbdfe1
/*-------WYNIKI WYSZUKIWANIA-------*/
.search_results
  .search_results__form
    background-color: #fafafa
  .search_results__form--label
    color: $main
  .search_results__form--input
    background-color: #fafafa
.user-initials
  background-color: $main
/*-------MODAL-------*/
.modal_competition
  .modal-content
    background-color: rgba(#cf122e, 0.8)
    border: 1px solid #cf122e