@charset "UTF-8";
::selection {
  background: #000;
  color: #fff; }

a:hover {
  color: inherit; }

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000; }

.btn-outline-primary {
  color: #cf122e;
  border-color: #cf122e; }

.btn-primary:hover {
  background-color: #cf122e;
  border-color: #cf122e; }

.btn-outline-primary:hover {
  background-color: transparent;
  color: #cf122e;
  border-color: #cf122e; }

.btn-outline-primary:active {
  background-color: transparent !important;
  color: #cf122e !important;
  border-color: #cf122e !important; }

/*-------------MENU---------------------- */
.main_page_navbar.navbar_wrapper .nav_icon_wrapper .nav_icon_link {
  color: #fff; }

@media (min-width: 1200px) {
  .main_page_navbar.navbar_wrapper .navbar-expand-xl .navbar-nav .nav-link {
    color: #fff; }
  .main_page_navbar.navbar_wrapper .navbar-light .navbar-nav .nav-link:hover, .main_page_navbar.navbar_wrapper .navbar-light .navbar-nav .nav-link:focus {
    color: #fff; } }
.navbar_wrapper {
  background-color: #fff; }

.navbar_points {
  background-color: #cf122e; }
  .navbar_points .navbar_points__sum {
    color: #fefeff; }

.navbar_points.navbar_company_selection {
  background-color: #000; }
  .navbar_points.navbar_company_selection .navbar_company_selection__label {
    color: #fff; }
  .navbar_points.navbar_company_selection .navbar_company_selection_link--aeg {
    color: #cf122e; }

.nav_icon_wrapper .nav_icon_attention {
  background-color: #cf122e;
  color: #fff; }

.mm-menu .dropdown-menu_category {
  color: #cf122e !important; }
.mm-menu .mm-panel, .mm-menu .mm-panels {
  background: #fff; }
.mm-menu .mm-listitem__text {
  color: #000 !important; }

.nav_icon_wrapper .nav_icon_link {
  color: #000; }

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active {
  background-color: inherit; }

.user_submenu_drop {
  background-color: rgba(255, 255, 255, 0.9); }
  .user_submenu_drop .dropdown-item {
    color: #000; }

.user_submenu_drop:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(255, 255, 255, 0.9); }

.user_submenu_drop:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15); }

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    color: #000; }

  .navbar-light .show .nav-link {
    color: #4c4c4c !important; }

  .navbar-expand-xl .navbar-nav .nav-link.active {
    color: #4c4c4c; }

  .navbar-expand-xl .navbar-nav .nav-link.active:before {
    background-color: #4c4c4c; }

  .megamenu-li.show .nav-link {
    background-color: rgba(255, 255, 255, 0.96); }

  .dropdown-menu.megamenu {
    background-color: rgba(255, 255, 255, 0.96); }

  .megamenu .dropdown-item {
    color: #000; }

  .megamenu .dropdown-menu_category {
    color: #4c4c4c !important; }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #000; }

  .megamenu.megamenu_prize .megamenu_links:first-child {
    background-color: rgba(219, 223, 225, 0.96); }
    .megamenu.megamenu_prize .megamenu_links:first-child .megamenu_links_prize {
      color: #4c4c4c; }
  .megamenu.megamenu_prize .megamenu_links:last-child {
    background-color: rgba(0, 0, 0, 0.96); }
    .megamenu.megamenu_prize .megamenu_links:last-child .megamenu_links_prize {
      color: #fff; } }
@media screen and (min-width: 1440px) {
  .navbar_points .navbar_points__sum {
    color: #fefeff; } }
/*--------LOGOWANIE--------- */
.user_login {
  background-color: rgba(0, 0, 0, 0.95); }

.user_login_intro, .user_login_container {
  color: #fff; }

.login_form__input, .custom_form__input {
  border-bottom: 2px solid #fff; }

.login_form__input--input, .custom_form__input--input {
  color: #fff; }

.login_form__input--placeHolder::before, .custom_form__input--placeHolder::before {
  background: #cf122e; }

.login_form__input--placeHolder::after, .custom_form__input--placeHolder::after {
  color: #fff; }

.has-val.login_form__input--input + .login_form__input--placeHolder::after {
  color: #cf122e; }

.login_form__remember_link {
  border-bottom: 1px solid #fff; }

.login_button {
  background-color: #fff;
  color: #000; }

.login_fail {
  color: #ff2c48; }

.login_remind__success {
  color: #4c4c4c; }

/*-------------LISTA PRODUKTÓW----------- */
.product_list .product_list_filter__title, .cart_summary .product_list_filter__title {
  color: #000; }
.product_list .product_list_filter__link_collapse, .product_list .product_list_filter__options, .cart_summary .product_list_filter__link_collapse, .cart_summary .product_list_filter__options {
  color: #000; }
.product_list .filter_options__helper:before, .cart_summary .filter_options__helper:before {
  border: 1px solid #000; }
.product_list .product_list_sort__label, .cart_summary .product_list_sort__label {
  color: #c6c6c6; }
.product_list .form-control, .cart_summary .form-control {
  border-bottom: 1px solid #000 !important;
  color: #000; }
.product_list .filter_grid_icon, .cart_summary .filter_grid_icon {
  color: #cf122e; }

.product_listing__single_product .single_product__price_row {
  color: #000; }
.product_listing__single_product .single_product__extra_points {
  color: #cf122e; }
.product_listing__single_product .single_product__price {
  color: #c6c6c6; }
.product_listing__single_product .single_product_info--label {
  color: #fff; }
.product_listing__single_product .single_product_info--new {
  background-color: #2acbd3; }
.product_listing__single_product .single_product_info--end {
  background-color: #cf122e; }
.product_listing__single_product .single_product_info--quality {
  background-color: #4c4c4c; }
.product_listing__single_product .single_product_info--extraPoints {
  background-color: #415464; }

/*tooltipster */
.extra_info_tooltip {
  color: #000; }

@media screen and (max-width: 991.98px) {
  .product_list .product_list_filter {
    background-color: #fff; } }
/*----------PRODUKT WIĘCEJ INFO---------- */
.product_more .product_more__title {
  color: #000; }
.product_more .product_more__code {
  color: #cf122e; }
.product_more .product_more__points {
  color: #000; }
.product_more .product_more__price {
  color: #c6c6c6; }
.product_more .product_more__description {
  padding-top: 48px;
  border-top: 1px solid #7c7c7c;
  color: #000; }
.product_more .product_more__extra_links {
  color: #fff; }
.product_more .product_more__extra_links--lightBlue {
  background-color: #cf122e; }
.product_more .product_more__extra_links--blue {
  background-color: #000; }
.product_more .product_more__specification {
  background-color: #000;
  color: #fff; }
  .product_more .product_more__specification a {
    color: #fff;
    border: 2px solid #fff; }
.product_more .product_more__specification--lightBlue {
  background-color: #cf122e; }

/*------SLIDER PRODUKTY------ */
.product_more_slick__main .slider-buttons i {
  color: #000; }

@media screen and (max-width: 460px) {
  .product_more_slick__main .slider-buttons button {
    background-color: #fff; } }
/*---SLIDER POLECANE PRODUKTY--- */
.recommended_products .recommended_products__title {
  color: #000; }

.recommended_products_slick .slider-buttons i {
  color: #000; }

/*----------GŁÓWNY LISTING NAGRÓD-------- */
.awards_main_list .awards_main_title {
  color: #646569; }
.awards_main_list .awards_main_list__row:nth-child(3n) .awards_main_title {
  color: #4c4c4c; }

/*--------SZCZEGÓŁOWY LISTING------------ */
.progress {
  border-radius: 1.5rem;
  background: repeating-linear-gradient(90deg, #e9ecef, #e9ecef 10px, #fff 15px, #fff 10px); }

.progress-bar {
  background: repeating-linear-gradient(90deg, #000, #000 10px, #fff 12px, #fff 10px); }

/*---------WIDOK SZCZEGÓŁOWY NAGRODY----- */
.award_more .award_more__order_point_points {
  color: #000; }
.award_more .award_more__order_orderLink:hover {
  background-color: #cf122e;
  border-color: #cf122e; }

@media screen and (max-width: 767.98px) {
  .product_more__specification--border {
    border-bottom: 1px solid #fff; } }
/*----------------PANEL UŻYTKOWNIKA-------------- */
.user_panel__main_data {
  color: #c6c6c6; }
  .user_panel__main_data .user_panel__main_data--blue {
    color: #000; }

.user_panel__main_points {
  color: #fff; }

.user_panel__main_points--blue {
  background-color: #cf122e; }

.user_panel__main_points--lightBlue {
  background-color: #000;
  color: #cf122e; }

.user_panel__main_points--lightBlueMore {
  background-color: #494846;
  color: #cf122e; }

.user_panel__main_points--gray {
  background-color: #888;
  color: #cf122e; }

.user_panel_container .navbar {
  background-color: #dbdfe1; }
.user_panel_container .user_panel_nav .nav-link {
  color: #000; }
.user_panel_container .nav-link.active {
  color: #4c4c4c; }

@media screen and (max-width: 1440px) {
  .user_panel__main_data .user_panel__main_data--blue {
    color: #000; } }
/*----------ZAREJESTRUJ SPRZEDAŻ--------- */
.user_panel .user_panel__title {
  color: #000; }
.user_panel .registry_sales__select, .user_panel .select2-selection--single {
  background-color: #000 !important;
  color: #fff !important; }
.user_panel .select2-container--default .select2-selection--single .select2-selection__placeholder, .user_panel .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; }
.user_panel .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: auto; }
  .user_panel .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent; }
.user_panel .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent; }

.user_panel__table tr {
  border-color: #7c7c7c; }
.user_panel__table th {
  color: #000; }
.user_panel__table .user_panel__table--gray td {
  color: #c6c6c6; }
.user_panel__table .user_panel__table--red td {
  color: #f02828; }
.user_panel__table .user_panel__table--blue td {
  color: #000; }

/*------------TWÓJ PANEL----------------- */
.user_panel__box {
  color: #fff;
  background-color: #494846; }

.user_panel__box--aeg {
  background-color: #cf122e; }

.user_panel__box--backgroundBlue {
  background-color: #cf122e; }

.user_panel__box--backgroundLightBlue {
  background-color: rgba(207, 18, 46, 0.6); }

.user_panel__box--add {
  background-color: #cf122e; }

/*----MODALE EDYCJI PANEL UŻYTKOWNIKA---- */
#user_panel_modal .custom_form__input--input, .custom_form_checkbox .custom_form__input--input {
  color: #000; }
#user_panel_modal .custom_form__input, .custom_form_checkbox .custom_form__input {
  border-bottom: 2px solid #c6c6c6; }
#user_panel_modal .custom_form__input--placeHolder::after, .custom_form_checkbox .custom_form__input--placeHolder::after {
  color: #000; }
#user_panel_modal .custom_form__input--input:focus + .custom_form__input--placeHolder::after, #user_panel_modal .has-val.custom_form__input--input + .custom_form__input--placeHolder::after, .custom_form_checkbox .custom_form__input--input:focus + .custom_form__input--placeHolder::after, .custom_form_checkbox .has-val.custom_form__input--input + .custom_form__input--placeHolder::after {
  color: #cf122e; }
#user_panel_modal .form__label--1, .custom_form_checkbox .form__label--1 {
  color: #000; }
#user_panel_modal .custom__label, .custom_form_checkbox .custom__label {
  border: 1px solid #000; }
  #user_panel_modal .custom__label svg path, .custom_form_checkbox .custom__label svg path {
    stroke: #004296; }

/*------PANEL---FAQ------- */
.accordion__wrapper .btn-link:hover {
  color: #000;
  text-decoration: none; }
.accordion__wrapper .card-header {
  background-color: #f3f4f5; }
  .accordion__wrapper .card-header .btn-link {
    color: #000; }
.accordion__wrapper .card-body {
  color: #000; }

@media screen and (min-width: 992px) {
  .faq_link_single {
    color: #000; }

  .faq_link_single.current_bg {
    background-color: #dbdfe1; }

  .accordion__wrapper .card_body_tab .card {
    background-color: #f3f4f5; }
  .accordion__wrapper .card_body_tab .card-body {
    border-top: 1px solid #000; } }
/*---------PANEL--USTAWIENIA---- */
.settings .settings_description {
  color: #000; }
.settings .settings_single {
  background-color: #f3f4f5; }
.settings .custom_form__input {
  border-bottom: 2px solid #000; }
.settings .custom_form__input--input {
  color: #000; }
.settings .custom_form__input--placeHolder::after {
  color: #000; }

/*----PANEL--KONTAKT-Z-HANDLOWCEM--- */
.user_panel__trader_contact .trader_contact__form_title {
  color: #000; }
.user_panel__trader_contact .custom_form__input {
  border-bottom: 2px solid #000; }
.user_panel__trader_contact .custom_form__input--input {
  color: #000; }
.user_panel__trader_contact .custom_form__input--placeHolder::after {
  color: #000; }

/*------------FOOTER--------------------- */
.footer {
  background-color: #252422;
  color: #fff; }

.footer_list__link {
  color: #fff; }

/*---------LOADER------------- */
/*-------NOTIFY------------ */
.jq-toast-wrap .jq-icon-success {
  background-color: #04B76B; }
.jq-toast-wrap .jq-icon-info {
  background-color: #0B94F7; }
.jq-toast-wrap .jq-icon-warning {
  background-color: #F5A623; }
.jq-toast-wrap .jq-icon-error {
  background-color: #FF5E6D; }

/*-------KOSZYK----------- */
/*-------KOSZYK--1-KROK------- */
.cart_title {
  color: #000; }

a.cart_step {
  color: #fff; }
  a.cart_step:hover {
    color: #fff; }

.cart_steps--orange {
  background-color: #cf122e; }

.cart_steps--backgroundMainBlue {
  background-color: #000; }

.cart_steps--backgroundBlue {
  background-color: #252422; }

.cart_steps--backgroundLightBlue {
  background-color: #494846; }

.cart_table .cart_table_row {
  color: #000;
  border-bottom: 1px solid #7c7c7c; }
.cart_table .cart_product_prize_info .cart_product_description {
  color: #c6c6c6; }
.cart_table .cart_product_quantity .btn-number {
  border: 1px solid #ced4da; }
.cart_table .next_step_tr {
  color: #000; }

@media screen and (min-width: 992px) {
  .cart_table thead tr th {
    color: #000;
    border-bottom: 2px solid #7c7c7c; } }
/*-------KOSZYK--2-KROK------- */
.cart_delivery .cart_delivery__title, .cart_summary .cart_delivery__title {
  color: #000; }
.cart_delivery .cart_delivery__input_label, .cart_summary .cart_delivery__input_label {
  color: #000; }
.cart_delivery .cart_delivery__input .form-control, .cart_summary .cart_delivery__input .form-control {
  background-color: #f3f4f5;
  border-color: #f3f4f5;
  color: #000; }
.cart_delivery .cart_delivery__input .form-control-select, .cart_summary .cart_delivery__input .form-control-select {
  background-color: #000;
  color: #fff; }
  .cart_delivery .cart_delivery__input .form-control-select option, .cart_summary .cart_delivery__input .form-control-select option {
    background-color: #fff;
    color: #000; }

/*----------KOSZYK--3--KROK------- */
.cart_summary .cart_summary__single_product {
  border-top: 1px solid #7c7c7c; }
  .cart_summary .cart_summary__single_product:last-of-type {
    border-bottom: 1px solid #7c7c7c; }
.cart_summary .cart_summary__text--small {
  color: #7c7c7c; }
.cart_summary .cart_summary__single_product_description--big {
  color: #000; }
.cart_summary .cart_summary__sum--big {
  color: #000; }
.cart_summary .cart_summary__user_info--big {
  color: #000; }
.cart_summary .cart_summary__user_info--medium {
  color: #000; }
.cart_summary .filter_options__wrapper {
  color: #000; }
.cart_summary .cart_summary_regulations {
  color: #cf122e; }

/*----KOSZYK-4-KROK--- */
.cart_summary {
  color: #000; }
  .cart_summary .cart_end__standard {
    color: #000; }
  .cart_summary .cart_end__standard--lightBlue {
    color: #4c4c4c; }

/*-----------BREADCRUMBS---------- */
@media screen and (min-width: 560px) {
  .breadcrumbs_wrapper a {
    color: #c6c6c6; }
    .breadcrumbs_wrapper a:visited {
      color: #c6c6c6; }
  .breadcrumbs_wrapper .site-nav-wrap {
    color: #c6c6c6; }
  .breadcrumbs_wrapper .single-breadcrumb-wrap {
    color: #c6c6c6; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:hover:before {
      color: #000; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:hover a {
      color: #000; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:hover .sep i {
      color: #000; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:first-child {
      color: #000; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:last-child a {
      color: #000; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap:after {
      background: #000; } }
/*-----PODSTRONY Z FOOTERA---- */
.subpage {
  color: #000; }

.subpage_contact .subpage_contact_text {
  color: #000; }
.subpage_contact .footer_list__link {
  color: #000; }

.subpage_about_program .about_program__title {
  color: #000; }
.subpage_about_program .about_program__main {
  color: #4c4c4c; }
.subpage_about_program .about_program__standard {
  color: #000; }
.subpage_about_program .about_program__card {
  color: #000;
  background-color: #dbdfe1; }

/*-------WYNIKI WYSZUKIWANIA------- */
.search_results .search_results__form {
  background-color: #fafafa; }
.search_results .search_results__form--label {
  color: #000; }
.search_results .search_results__form--input {
  background-color: #fafafa; }

.user-initials {
  background-color: #000; }

/*-------MODAL------- */
.modal_competition .modal-content {
  background-color: rgba(207, 18, 46, 0.8);
  border: 1px solid #cf122e; }

/*# sourceMappingURL=color_aeg.css.map */
