@charset "UTF-8";
/*-------------MENU---------------------- */
/*--------LOGOWANIE--------- */
.user_login_logo {
  width: auto; }

/*--------STRONA GŁÓWNA----------------- */
/*-------------LISTA PRODUKTÓW----------- */
.listing__main_col_small .row {
  width: 100%; }

.tooltipster-base {
  width: 320px !important; }

.sort_select_wrapper select::-ms-expand {
  display: none; }

/*----------PRODUKT WIĘCEJ INFO---------- */
.product_more__text .row {
  width: 100%; }

/*------SLIDER PRODUKTY------ */
.product_more_slick__thumbs .product_video_big::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.product_more_slick__main .product_more_slick__main_single {
  display: block !important; }

/*---SLIDER POLECANE PRODUKTY--- */
.recommended_products_slick {
  display: block; }
  .recommended_products_slick img {
    width: auto; }
  .recommended_products_slick .product_listing__single_product .single_product_info--wrapper {
    overflow: hidden; }
  .recommended_products_slick .slider-buttons {
    top: 0;
    bottom: 0;
    left: -5%;
    right: 0;
    margin: auto; }

/*----------GŁÓWNY LISTING NAGRÓD-------- */
/*--------SZCZEGÓŁOWY LISTING------------ */
/*---------WIDOK SZCZEGÓŁOWY NAGRODY----- */
/*----------------PANEL UŻYTKOWNIKA-------------- */
.user_panel_container .navbar-nav {
  justify-content: space-between; }

/*----------ZAREJESTRUJ SPRZEDAŻ--------- */
.user_panel .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  bottom: 0;
  margin: auto 0; }

/*------------TWÓJ PANEL----------------- */
/*----MODALE EDYCJI PANEL UŻYTKOWNIKA---- */
.modal-backdrop.fade.show {
  display: none; }

.user_panel_container_modal {
  background-color: rgba(0, 0, 0, 0.5); }

/*------PANEL---FAQ------- */
/*---------PANEL--USTAWIENIA---- */
/*----PANEL--KONTAKT-Z-HANDLOWCEM--- */
/*-------------TUTORIAL------------------ */
/*------------FOOTER--------------------- */
/*---------LOADER------------- */
/*-------KOSZYK----------- */
/*-------KOSZYK--1-KROK------- */
.cart_table .cart_product_quantity .form-control.input-number {
  flex: none; }

/*-------KOSZYK--2-KROK------- */
/*----------KOSZYK--3--KROK------- */
/*----KOSZYK-4-KROK--- */
/*-----------BREADCRUMBS---------- */
/*-----PODSTRONY Z FOOTERA---- */
/*-------WYNIKI WYSZUKIWANIA------- */

/*# sourceMappingURL=style_ie.css.map */
