@charset "UTF-8";
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto/NotoSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto/NotoSans-Bold.ttf") format("truetype"); }
body {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-weight: 400; }

p {
  margin-bottom: 0; }

a:hover {
  text-decoration: none;
  color: inherit; }

::selection {
  background: #1a2452;
  color: #fff; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

.btn {
  border-radius: 0; }

.btn-pills {
  border-radius: 23px;
  border-width: 2px; }

.btn-primary {
  color: #fff;
  background-color: #1a2452;
  border-color: #1a2452; }

.btn-outline-primary {
  color: #1a2452;
  border-color: #1a2452; }

.btn-primary:hover {
  background-color: #1a2452;
  border-color: #1a2452; }

.btn-outline-primary:hover {
  background-color: inherit;
  color: inherit; }

.tooltip_templates {
  display: none; }

/*-------------MENU---------------------- */
.navbar_points__mobile {
  padding-top: 80px; }

.navbar_wrapper {
  background-color: #fff;
  z-index: 10; }

.navbar {
  padding: 1rem; }

.navbar-brand {
  width: 100px; }

.navbar_points {
  position: static;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 18px;
  border-radius: 50px;
  background-color: #eb6852;
  white-space: nowrap; }
  .navbar_points .navbar_points__sum {
    color: #fefeff;
    font-weight: 700;
    font-size: 14px; }

.nav_icon_wrapper {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-flex; }
  .nav_icon_wrapper .nav_icon_link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
    display: inline-flex; }
  .nav_icon_wrapper .nav_icon {
    display: inline-flex; }
  .nav_icon_wrapper .nav_icon_attention {
    position: absolute;
    display: flex;
    background-color: #eb6852;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    top: -18px;
    right: -7px; }

.navbar-toggler {
  padding: 0; }

.navbar-light .navbar-toggler {
  border: none; }

.mm-menu .dropdown-menu_category {
  font-size: 20px;
  letter-spacing: -0.17px;
  font-weight: 700;
  color: #009abe !important;
  line-height: 22px; }
.mm-menu .mm-panel, .mm-menu .mm-panels {
  background: #fff; }
.mm-menu .mm-listitem__text {
  color: #1a2452 !important;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 14px; }
.mm-menu .mm-panels {
  transition: all 1s ease-in; }
.mm-menu .mm-listitem__text .dropdown-item {
  padding: 0.5rem 1.5rem; }
.mm-menu .mm-btn.mm-btn_next.mm-listitem__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none; }
.mm-menu .mm-btn_close:after, .mm-menu .mm-btn_close:before {
  width: 16px;
  height: 16px; }
.mm-menu .mm-btn_close:after {
  right: 38px; }
.mm-menu .mm-btn_close:before {
  right: 15px; }
.mm-menu .mm-btn_next:after, .mm-menu .mm-btn_prev:before {
  width: 16px;
  height: 16px; }
.mm-menu .dropdown_hide_items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  list-style-type: none; }
.mm-menu .dropdown_show_items {
  max-height: 999px;
  transition: max-height 0.6s ease;
  margin-top: 8px; }

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active {
  background-color: inherit; }

.user_submenu_drop.show {
  display: flex; }

.user_submenu_drop {
  right: auto;
  left: 50%;
  top: 40px;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  flex-direction: column;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.9); }
  .user_submenu_drop .dropdown-item {
    text-transform: uppercase;
    color: #1a2452;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px; }

.user_submenu_drop:after, .user_submenu_drop:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.user_submenu_drop:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(255, 255, 255, 0.9);
  border-width: 8px;
  margin-left: -8px; }

.user_submenu_drop:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 10px;
  margin-left: -10px; }

@media (min-width: 768px) {
  .navbar_top .nav_icon_wrapper {
    margin-left: 24px;
    margin-right: 36px;
    display: inline-flex; }
  .navbar_top .nav_icon_link {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar_top .navbar-toggler {
    padding: 0.25rem 0 0.25rem 0.75rem; } }
@media (min-width: 1200px) {
  .navbar_points__mobile {
    padding-top: 156px; }

  .megamenu-li {
    position: static; }

  .megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px; }

  .navbar_wrapper {
    padding-left: 60px;
    padding-right: 60px; }

  .navbar-brand {
    width: auto;
    max-width: 260px;
    min-width: 140px; }

  .navbar {
    padding: 0; }

  .dropdown-menu.show {
    display: flex; }

  .dropdown-divider {
    display: none; }

  .megamenu_links {
    margin-bottom: 24px; }

  .navbar-expand-xl .navbar-nav .nav-link {
    padding: 64px 16px;
    font-size: 16px;
    letter-spacing: -0.15px;
    color: #1a2452;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.2s ease-in; }

  .scrolled .navbar-expand-xl .navbar-nav .nav-link {
    padding: 28px 16px; }

  .navbar-light .show .nav-link {
    color: #009abe !important; }

  .navbar-expand-xl .navbar-nav .nav-link.active {
    color: #009abe; }

  .navbar-expand-xl .navbar-nav .nav-link.active:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 10px;
    background-color: #009abe;
    left: 10px; }

  .nav_icon_wrapper {
    margin-right: 0; }

  .megamenu-li.show .nav-link {
    background-color: rgba(255, 255, 255, 0.99); }

  .navbar-nav .dropdown-toggle::after {
    display: none; }

  .dropdown-menu.megamenu {
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.99); }

  .megamenu {
    padding: 40px 40px; }

  .megamenu .dropdown-item {
    color: #000;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.15px;
    padding: 0 1.5rem 0 0;
    font-weight: 400; }

  .megamenu .dropdown-menu_category {
    font-size: 23px;
    letter-spacing: -0.17px;
    font-weight: 700;
    color: #009abe !important;
    margin-bottom: 14px;
    line-height: 26px; }

  .megamenu .dropdown_hide_items {
    list-style-type: none; }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #1a2452; }

  .user_submenu_drop .dropdown-item {
    font-size: 16px;
    line-height: 30px; } }
@media screen and (min-width: 1440px) {
  .navbar_wrapper {
    padding-left: 80px;
    padding-right: 80px; }

  .navbar-expand-xl .navbar-nav .nav-link {
    font-size: 19px; }

  .navbar_points {
    padding: 10px 36px; }
    .navbar_points .navbar_points__sum {
      color: #fefeff;
      font-size: 16px; }

  .user_submenu_drop .dropdown-item {
    font-size: 17px;
    line-height: 32px; } }
/*--------LOGOWANIE--------- */
.user_login {
  z-index: 3000;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(26, 36, 82, 0.95);
  padding-bottom: 50px; }

.user_login_intro {
  margin-top: 100px; }

.user_login_intro, .user_login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; }

.user_login_container {
  height: 0;
  overflow: hidden;
  opacity: 0; }

.user_login_container.show {
  height: auto;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1; }

.user_login_logo {
  max-width: 320px;
  margin: 0 auto; }

.user_login_intro--text {
  margin-top: 46px;
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.user_login_title {
  font-size: 33px;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 50px; }

.login_icon {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: 20px; }

.login_form__input, .custom_form__input {
  position: relative;
  border-bottom: 2px solid #fff;
  margin-top: 50px; }

.login_form__input--input, .custom_form__input--input {
  color: #fff;
  height: 45px;
  outline: none;
  border: none;
  width: 450px;
  font-size: 18px;
  padding: 0;
  line-height: 1.2;
  background-color: transparent; }

.login_form__input--placeHolder, .custom_form__input--placeHolder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.login_form__input--placeHolder::before, .custom_form__input--placeHolder::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #009abe; }

.login_form__input--placeHolder::after, .custom_form__input--placeHolder::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

input.login_form__input--input + .login_form__input--placeHolder::after, input.custom_form__input--input + .custom_form__input--placeHolder::after {
  top: 12px;
  left: 0; }

.login_form__input--input:focus + .login_form__input--placeHolder::after, .custom_form__input--input:focus + .custom_form__input--placeHolder::after {
  top: -13px;
  left: 0;
  font-size: 13px; }

.has-val.login_form__input--input + .login_form__input--placeHolder::after, .has-val.custom_form__input--input + .custom_form__input--placeHolder::after {
  top: -13px;
  font-size: 13px; }

.login_form__input--input:focus + .login_form__input--placeHolder::before, .custom_form__input--input:focus + .custom_form__input--placeHolder::before {
  width: 100%; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

.login_form__remind {
  font-size: 13px;
  margin-top: 26px;
  margin-bottom: 16px; }

.login_form__remember_link {
  border-bottom: 1px solid #fff;
  cursor: pointer; }

.login_button {
  width: 130px;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  color: #1a2452;
  margin-left: auto;
  border-radius: 23px;
  padding: 7px 12px; }

.login_fail {
  text-align: center;
  color: #ff2c48;
  display: none; }

.login_remind__success {
  margin-top: 50px;
  display: none;
  color: #009abe; }

@media screen and (max-width: 1200px) {
  .user_login_logo {
    max-width: 240px; }

  .user_login_intro {
    margin-top: 60px; }

  .user_login_intro--text {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 24px; }

  .user_login_title {
    font-size: 24px;
    margin-bottom: 24px; }

  .login_icon {
    font-size: 28px; }

  .login_form__input, .login_remind__success {
    margin-top: 36px; }

  .login_form__input--input {
    height: 38px;
    width: 300px; }

  .login_form__input--placeHolder::after, .login_form__input--input {
    font-size: 14px; }

  .login_button {
    width: 100px;
    font-size: 14px; } }
@media screen and (max-width: 460px) {
  .user_login_logo {
    max-width: 190px; }

  .user_login_intro {
    margin-top: 36px; }

  .user_login_intro--text {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 24px; }

  .user_login_title {
    font-size: 20px;
    margin-bottom: 24px; }

  .login_icon {
    font-size: 22px; }

  .login_remind__success {
    font-size: 14px; }

  .login_button {
    font-size: 12px; } }
/*-------------LISTA PRODUKTÓW----------- */
.page_content {
  padding: 24px 80px; }

.product_list .product_list_filter__row, .cart_summary .product_list_filter__row {
  margin-bottom: 26px; }
.product_list .product_list_filter__title, .cart_summary .product_list_filter__title {
  color: #1a2452;
  font-size: 21px;
  font-weight: 700;
  line-height: 26.67px;
  letter-spacing: -0.19px;
  cursor: pointer; }
.product_list .product_list_filter__icon_show, .cart_summary .product_list_filter__icon_show {
  margin-left: 42px; }
.product_list .product_list_filter__icon--change .icon-filter_cross, .cart_summary .product_list_filter__icon--change .icon-filter_cross {
  display: none; }
.product_list .product_list_filter__title .icon-arrow, .cart_summary .product_list_filter__title .icon-arrow {
  display: none; }
.product_list .product_list_filter__icon--change .icon-arrow, .cart_summary .product_list_filter__icon--change .icon-arrow {
  display: inline; }
.product_list .product_list_filter__link_collapse, .product_list .product_list_filter__options, .cart_summary .product_list_filter__link_collapse, .cart_summary .product_list_filter__options {
  color: #1a2452;
  font-size: 18px;
  letter-spacing: -0.15px;
  font-weight: 400; }
.product_list .product_list_filter__link_collapse, .cart_summary .product_list_filter__link_collapse {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
.product_list .product_list_filter__icon, .cart_summary .product_list_filter__icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 7px;
  margin-left: 12px;
  transform: rotate(180deg); }
.product_list .collapsed .product_list_filter__icon, .cart_summary .collapsed .product_list_filter__icon {
  transform: rotate(0deg); }
.product_list .filter_options__wrapper, .cart_summary .filter_options__wrapper {
  position: relative;
  display: block; }
.product_list .filter_options__label, .cart_summary .filter_options__label {
  margin-bottom: 0;
  display: inline-flex;
  margin-left: 24px;
  cursor: pointer; }
.product_list .filter_options__helper, .cart_summary .filter_options__helper {
  display: flex;
  align-items: center;
  height: 100%; }
.product_list .filter_options__helper:before, .cart_summary .filter_options__helper:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #1a2452;
  transition: all 0.2s ease-in; }
.product_list .filter_options__helper:after, .cart_summary .filter_options__helper:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: "Glyphter";
  content: "E";
  width: 18px;
  line-height: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in;
  opacity: 0;
  transform: scale(0); }
.product_list .filter_options__input:checked + .filter_options__helper:after, .cart_summary .filter_options__input:checked + .filter_options__helper:after {
  opacity: 1;
  transform: scale(1); }
.product_list .filter_options__input, .cart_summary .filter_options__input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0; }
.product_list .filter_grid_icon, .cart_summary .filter_grid_icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  margin-right: 20px; }
.product_list .product_list_sort__link, .cart_summary .product_list_sort__link {
  display: flex;
  align-items: center; }
.product_list .product_list_sort__options, .cart_summary .product_list_sort__options {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
.product_list .product_list_sort__options--wrapper .product_list_sort__options:first-child, .cart_summary .product_list_sort__options--wrapper .product_list_sort__options:first-child {
  margin-right: 34px; }
.product_list .product_list_sort__label, .cart_summary .product_list_sort__label {
  font-size: 17px;
  color: #c6c6c6; }
.product_list .form-control, .cart_summary .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #1a2452;
  color: #1a2452; }
.product_list .product_list_filter, .cart_summary .product_list_filter {
  opacity: 1;
  transition: all 0.15s ease-in, opacity 0.25s ease-in; }
.product_list .product_list_filter--hide, .cart_summary .product_list_filter--hide {
  opacity: 0;
  padding-right: 0;
  padding-left: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  transition: visibility 0.15s ease-in, opacity 0.1s ease-in; }
  .product_list .product_list_filter--hide .product_list_filter__row, .cart_summary .product_list_filter--hide .product_list_filter__row {
    position: absolute;
    opacity: 0; }
.product_list .product_listing--hide, .cart_summary .product_listing--hide {
  flex: 0 0 100%;
  max-width: 100%;
  transition: all 0.15s ease-in; }

.product_listing__single_product {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 24px;
  float: left; }
  .product_listing__single_product .single_product__img {
    max-width: 230px; }
  .product_listing__single_product .single_product__price_row {
    padding: 20px 0;
    color: #1a2452; }
  .product_listing__single_product .single_product__name, .product_listing__single_product .single_product__points, .product_listing__single_product .single_product__extra_points {
    font-size: 19px; }
  .product_listing__single_product .single_product__extra_points {
    color: #eb6852; }
  .product_listing__single_product .single_product__points {
    text-transform: uppercase; }
  .product_listing__single_product .single_product__price {
    color: #c6c6c6;
    font-size: 17px;
    text-transform: uppercase; }
  .product_listing__single_product .single_product__more, .product_listing__single_product .single_product__order {
    max-width: 124px;
    width: 100%; }
  .product_listing__single_product .single_product_info--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .product_listing__single_product .single_product_info {
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    right: 15px;
    top: 0; }
  .product_listing__single_product .single_product_info--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px; }
  .product_listing__single_product .single_product_info .single_product_info--container:first-child {
    margin-top: 0; }
  .product_listing__single_product .single_product_info--label {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    letter-spacing: -0.13px;
    color: #fff; }
  .product_listing__single_product .single_product_info--new {
    background-color: #2acbd3; }
  .product_listing__single_product .single_product_info--end {
    background-color: #eb6852; }
  .product_listing__single_product .single_product_info--quality {
    background-color: #009abe; }

.product_list {
  /*grid */
  /*lista */
  /*lista bez zdjęcia */ }
  .product_list .product_listing--grid .single_product__price_row {
    align-content: space-between;
    align-self: end; }
  .product_list .product_listing--grid .single_product__name--container {
    margin-bottom: 16px; }
  .product_list .product_listing--grid .single_product__name--container, .product_list .product_listing--grid .single_product__price--container {
    max-width: 100%;
    flex: 0 0 100%; }
  .product_list .product_listing--grid .single_product__buttons {
    align-self: end; }
  .product_list .product_listing--list .product_listing__single_product {
    width: 100%;
    max-width: 100%;
    flex: none;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 220px; }
  .product_list .product_listing--list .single_product__img_row {
    width: 230px; }
  .product_list .product_listing--list .single_product_info--label {
    padding: 8px 12px;
    font-size: 10px; }
  .product_list .product_listing__row.product_listing--noImg {
    margin-bottom: 0; }
  .product_list .product_listing--noImg .single_product__img_row {
    display: none; }
  .product_list .product_listing--noImg .product_listing__single_product, .product_list .product_listing--list .product_listing__single_product {
    width: 100%;
    max-width: 100%;
    flex: none;
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb; }
  .product_list .product_listing--noImg .single_product__price_row div, .product_list .product_listing--noImg .single_product__buttons div, .product_list .product_listing--list .single_product__price_row div, .product_list .product_listing--list .single_product__buttons div {
    flex: none;
    display: flex;
    align-items: center; }
  .product_list .product_listing--noImg .single_product__price_row .single_product__price--container, .product_list .product_listing--list .single_product__price_row .single_product__price--container {
    flex-wrap: wrap;
    align-content: center; }
    .product_list .product_listing--noImg .single_product__price_row .single_product__price--container p, .product_list .product_listing--list .single_product__price_row .single_product__price--container p {
      width: 100%; }
  .product_list .product_listing--noImg .single_product__price_row, .product_list .product_listing--list .single_product__price_row {
    width: 60%; }
  .product_list .product_listing--noImg .single_product__buttons, .product_list .product_listing--list .single_product__buttons {
    width: 140px; }
  .product_list .product_listing--noImg .row, .product_list .product_listing--list .row {
    margin-right: 0;
    margin-left: 0; }
  .product_list .product_listing--noImg .single_product__price--container, .product_list .product_listing--list .single_product__price--container {
    justify-content: space-between; }

/*tooltipster */
.tooltipster-follower .tooltipster-box {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0; }
.tooltipster-follower .tooltipster-content {
  padding: 24px 5px; }

.extra_info_tooltip {
  color: #1a2452; }
  .extra_info_tooltip .single_product__name--bold, .extra_info_tooltip .single_product__points, .extra_info_tooltip .tooltip_product__subtitle {
    font-size: 22px;
    line-height: 22px; }
  .extra_info_tooltip .single_product__name--bold {
    font-weight: 700; }
  .extra_info_tooltip .tooltip_product__description {
    font-size: 18px;
    line-height: 21px; }

@media screen and (min-width: 1440px) {
  .listing__main_col_small {
    flex: 0 0 20%;
    max-width: 20%; }

  .listing__main_col_big {
    flex: 0 0 80%;
    min-width: 80%; } }
@media screen and (max-width: 1800px) {
  .product_listing__single_product {
    width: 25%; } }
@media screen and (max-width: 1440px) {
  .page_content {
    padding: 24px 60px; }

  .product_list .product_list_filter__link_collapse, .product_list .product_list_filter__options {
    font-size: 15px; }
  .product_list .filter_options__helper:before {
    width: 15px;
    height: 15px; }
  .product_list .filter_options__helper:after {
    width: 15px;
    line-height: 15px;
    font-size: 15px; }

  .product_listing__single_product .single_product__name, .product_listing__single_product .single_product__points, .product_listing__single_product .single_product__extra_points {
    font-size: 15px; }
  .product_listing__single_product .single_product__price, .product_listing__single_product .single_product__more, .product_listing__single_product .single_product__order {
    font-size: 13px; }
  .product_listing__single_product .single_product__img {
    width: 200px; } }
@media screen and (max-width: 1200px) {
  .product_listing__single_product {
    width: 33.33%; }

  .page_content {
    padding: 24px 16px; } }
@media screen and (max-width: 1100px) {
  .product_list .product_list_filter__title {
    font-size: 19px; }
  .product_list .filter_grid_icon {
    font-size: 24px;
    margin-right: 16px; }
  .product_list .product_list_sort__label {
    font-size: 14px; } }
@media screen and (max-width: 768px) {
  .product_listing__single_product {
    width: 50%; } }
@media screen and (max-width: 991.98px) {
  .product_list .product_list_filter__title .icon-arrow {
    display: inline; }
  .product_list .product_list_filter__title .icon-filter_cross {
    display: none; }
  .product_list .product_list_filter__icon--change .icon-arrow {
    display: none; }
  .product_list .product_list_filter__icon--change .icon-filter_cross {
    display: inline; }
  .product_list .product_list_filter {
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 15px 15px;
    background-color: #fff; }
  .product_list .product_list_filter--hide {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    pointer-events: auto; }
  .product_list .product_list_filter--hide .product_list_filter__row {
    position: static;
    opacity: 1; }
  .product_list .product_listing__single_product .single_product__img {
    width: auto;
    max-width: 100%; } }
@media screen and (max-width: 460px) {
  .product_listing__single_product {
    width: 100%; } }
/*----------PRODUKT WIĘCEJ INFO---------- */
.product_more .product_more__text {
  padding: 72px 80px 75px 160px; }
.product_more .product_more__photo {
  padding-right: 55px;
  padding-left: 55px; }
.product_more .product_more__title {
  color: #1a2452;
  font-size: 63px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.58px; }
.product_more .product_more__code {
  color: #009abe;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.25px; }
.product_more .product_more__row_border {
  margin-top: 56px; }
.product_more .product_more__points, .product_more .product_more__price {
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.33px;
  white-space: nowrap; }
.product_more .product_more__points {
  color: #1a2452; }
.product_more .product_more__price {
  color: #c6c6c6; }
.product_more .product_more__description {
  padding-top: 48px;
  border-top: 1px solid #7c7c7c;
  color: #1a2452;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px; }
.product_more .product_more__extra_links {
  padding: 52px 90px;
  color: #fff;
  font-size: 23px; }
.product_more .product_more__extra_links--lightBlue {
  background-color: #009abe; }
.product_more .product_more__extra_links--blue {
  background-color: #1a2452; }
.product_more .product_more__back, .product_more .product_more__tab_link {
  display: inline-flex; }
.product_more .product_more__extra_links--icon {
  display: flex;
  align-items: center;
  margin-right: 12px; }
.product_more .product_more__tab_link {
  cursor: pointer; }
.product_more .product_more__photo {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px; }
.product_more .product_more__photo--hide {
  display: none;
  visibility: hidden; }
.product_more .product_more__specification {
  background-color: #1a2452;
  color: #fff;
  display: none;
  padding: 72px 80px 80px; }
.product_more .product_more__specification--lightBlue {
  background-color: #009abe; }
.product_more .current {
  visibility: visible;
  display: block; }
.product_more .product_more__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  cursor: pointer;
  background-color: #009abe; }
  .product_more .product_more__close i {
    display: flex; }
.product_more .product_more__specification--lightBlue .product_more__close {
  background-color: #1a2452; }
.product_more .product_more__specification_title {
  font-size: 46px;
  line-height: 53px;
  margin-bottom: 82px; }
.product_more .product_more__specification_list {
  list-style-type: none; }
.product_more .product_more__specification_point {
  font-size: 21px;
  line-height: 47px;
  margin-bottom: 24px; }
.product_more .product_more__specification_list .product_more__specification_point:last-child {
  margin-bottom: 0; }
.product_more .product_more__specification_point--bold {
  font-weight: 700; }
.product_more .product_more__specification_list_files {
  list-style-type: none;
  margin-bottom: 36px;
  margin-top: 80px; }
.product_more .product_more__specification_list_files_point {
  margin-bottom: 8px; }
.product_more .product_more__specification_list_files_point a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  min-width: 260px;
  padding: 14px 24px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center; }

/*------SLIDER PRODUKTY------ */
.product_more__specification .linkMore {
  margin-top: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  display: inline-block; }

.product_more_slick__main {
  display: flex;
  align-items: center; }
  .product_more_slick__main .slick-track {
    display: flex !important; }
  .product_more_slick__main .slick-slide {
    height: inherit !important; }
  .product_more_slick__main .product_more_slick__main_single {
    padding-left: 55px;
    padding-right: 55px;
    display: flex !important;
    align-items: center; }
  .product_more_slick__main img {
    margin: 0 auto;
    cursor: zoom-in; }
  .product_more_slick__main .slider-buttons {
    position: absolute;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    pointer-events: none; }
    .product_more_slick__main .slider-buttons button {
      pointer-events: auto; }
    .product_more_slick__main .slider-buttons i {
      font-size: 24px;
      color: #1a2452;
      display: flex;
      align-items: center; }

.product_more_slick__thumbs .slick-slide {
  margin: 0 20px; }
.product_more_slick__thumbs .slick-list {
  margin: 0 -20px; }

@media screen and (max-width: 1200px) {
  .product_more_slick__main {
    justify-content: center; }
    .product_more_slick__main .product_more_slick__main_single {
      padding-left: 24px;
      padding-right: 24px; }
    .product_more_slick__main .slider-buttons {
      width: 110%; }

  .product_more_slick__thumbs .slick-slide {
    margin: 0 5px; }
  .product_more_slick__thumbs .slick-list {
    margin: 0 -5px; } }
@media screen and (max-width: 460px) {
  .product_more_slick__main .product_more_slick__main_single {
    padding-left: 0;
    padding-right: 0; }
  .product_more_slick__main .slider-buttons button {
    background-color: #fff; } }
/*---SLIDER POLECANE PRODUKTY--- */
.recommended_products {
  padding: 72px 160px; }
  .recommended_products .recommended_products__title {
    font-size: 46px;
    color: #1a2452;
    margin-bottom: 33px; }

.recommended_products_slick {
  display: flex;
  justify-content: center; }
  .recommended_products_slick img {
    margin: 0 auto;
    cursor: zoom-in; }
  .recommended_products_slick .slider-buttons {
    position: absolute;
    display: flex;
    align-self: center;
    width: 110%;
    justify-content: space-between;
    pointer-events: none; }
    .recommended_products_slick .slider-buttons button {
      pointer-events: auto; }
    .recommended_products_slick .slider-buttons i {
      font-size: 24px;
      color: #1a2452; }

@media screen and (max-width: 1200px) {
  .recommended_products {
    padding: 44px 70px; }
    .recommended_products .recommended_products__title {
      font-size: 34px;
      margin-bottom: 24px; } }
@media screen and (max-width: 768px) {
  .recommended_products {
    padding: 36px 36px; } }
@media screen and (max-width: 460px) {
  .recommended_products {
    padding: 24px 0; }
    .recommended_products .recommended_products__title {
      font-size: 20px; }
    .recommended_products .slider-buttons {
      display: none; } }
/*----------GŁÓWNY LISTING NAGRÓD-------- */
.awards_main_list .awards_main_list__row {
  margin-bottom: 24px; }
.awards_main_list .product_listing__single_product {
  width: 16.6%; }
.awards_main_list .awards_main_title {
  font-size: 64px;
  color: #646569;
  margin-bottom: 18px; }
.awards_main_list .awards_main_list__row:nth-child(3n) .awards_main_title {
  color: #009abe; }
.awards_main_list .single_product__name {
  margin-bottom: 8px; }
.awards_main_list .single_product__img {
  max-width: 100%;
  width: 100%; }

@media screen and (max-width: 1440px) {
  .awards_main_list .awards_main_title {
    font-size: 42px; }
  .awards_main_list .awards_main_list__row_prices:nth-child(6) {
    display: none; }
  .awards_main_list .product_listing__single_product {
    width: 20%; } }
@media screen and (max-width: 1020px) {
  .awards_main_list .product_listing__single_product {
    width: 33.33%; }
  .awards_main_list .awards_main_list__row_prices:nth-child(6) {
    display: block; } }
@media screen and (max-width: 762px) {
  .awards_main_list .product_listing__single_product {
    width: 50%; } }
@media screen and (max-width: 460px) {
  .awards_main_list .awards_main_list__row {
    margin-bottom: 12px; }
  .awards_main_list .awards_main_title {
    font-size: 28px; }
  .awards_main_list .product_listing__single_product {
    width: 100%;
    padding-right: 0;
    padding-left: 0; } }
/*--------SZCZEGÓŁOWY LISTING------------ */
.progress_wrapper {
  display: none; }

.progress_label {
  display: flex;
  justify-content: space-between; }

.progress {
  border-radius: 1.5rem;
  background: repeating-linear-gradient(90deg, #e9ecef, #e9ecef 10px, #fff 15px, #fff 10px); }

.progress-bar {
  background: repeating-linear-gradient(90deg, #1a2452, #1a2452 10px, #fff 15px, #fff 10px); }

.no_points .progress_wrapper {
  display: flex; }
.no_points .single_product_info--wrapper, .no_points .single_product__price_row, .no_points .single_product__buttons {
  opacity: 0.2; }

.product_listing--list .no_points, .product_listing--noImg .no_points {
  padding-bottom: 54px !important; }
  .product_listing--list .no_points .progress_wrapper, .product_listing--noImg .no_points .progress_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

/*---------WIDOK SZCZEGÓŁOWY NAGRODY----- */
.award_more .product_more__code {
  text-transform: none;
  font-size: 62px;
  line-height: 74px; }
.award_more .product_more__description {
  border-top: none; }
.award_more .award_more__order_list {
  list-style-type: none; }
.award_more .award_more__details--standard {
  font-size: 29px;
  line-height: 38px; }
.award_more .award_more__details_list {
  margin-top: 24px;
  font-size: 29px;
  line-height: 38px;
  list-style-position: inside; }
.award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
  font-size: 41px;
  line-height: 39px; }
.award_more .award_more__order_point_points {
  color: #1a2452; }
.award_more .award_more__order_point_details {
  font-size: 19px;
  line-height: 22px; }
.award_more .award_more__order_more, .award_more .award_more__order_orderLink {
  max-width: 140px;
  width: 100%; }
.award_more .award_more__order_orderLink:hover {
  background-color: #eb6852;
  border-color: #eb6852; }

@media screen and (max-width: 1440px) {
  .product_more .product_more__text, .award_more .product_more__text {
    padding-left: 110px; }
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 46px;
    line-height: 42px; }
  .product_more .product_more__code, .award_more .product_more__code {
    font-size: 24px; }
  .product_more .product_more__points, .product_more .product_more__price, .award_more .product_more__points, .award_more .product_more__price {
    font-size: 33px; }
  .product_more .product_more__description, .award_more .product_more__description {
    padding-top: 28px;
    font-size: 19px;
    line-height: 28px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 72px 60px 80px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 33px;
    margin-bottom: 56px;
    line-height: 38px; }
  .product_more .product_more__specification_point, .award_more .product_more__specification_point {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px; }
  .product_more .product_more__specification_list_files, .award_more .product_more__specification_list_files {
    margin-top: 54px; }
  .product_more .product_more__specification_list_files_point a, .award_more .product_more__specification_list_files_point a {
    font-size: 13px;
    min-width: 194px;
    padding: 8px 12px; }
  .product_more .product_more__extra_links, .award_more .product_more__extra_links {
    padding: 36px 50px;
    font-size: 20px; }

  .award_more .product_more__code {
    font-size: 32px;
    line-height: 1; }
  .award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
    font-size: 29px;
    line-height: 1; }
  .award_more .award_more__order_point_details {
    font-size: 14px;
    line-height: 20px; }
  .award_more .award_more__order_more, .award_more .award_more__order_orderLink {
    font-size: 13px;
    padding: 8px 26px;
    max-width: 110px; } }
@media screen and (max-width: 1200px) {
  .product_more .product_more__text, .award_more .product_more__text {
    padding: 36px; }
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 34px; }
  .product_more .product_more, .award_more .product_more {
    font-size: 20px; }
  .product_more .product_more__photo, .award_more .product_more__photo {
    padding-right: 15px;
    padding-left: 15px; }
  .product_more .product_more__points, .product_more .product_more__price, .award_more .product_more__points, .award_more .product_more__price {
    font-size: 26px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 36px 36px 55px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 26px;
    margin-bottom: 36px;
    line-height: 32px; }
  .product_more .product_more__specification_point, .award_more .product_more__specification_point {
    font-size: 14px;
    line-height: 20px; }
  .product_more .product_more__extra_links, .award_more .product_more__extra_links {
    padding: 24px 36px;
    font-size: 16px; }

  .award_more .product_more__photo {
    padding-right: 36px;
    padding-left: 55px; }
  .award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
    font-size: 22px;
    line-height: 1; }
  .award_more .award_more__order_point_details {
    font-size: 14px;
    line-height: 20px; }
  .award_more .award_more__order_more, .award_more .award_more__order_orderLink {
    font-size: 13px;
    padding: 8px 12px; } }
@media screen and (max-width: 767.98px) {
  .product_more .product_more__close, .award_more .product_more__close {
    display: none; }
  .product_more .product_more__photo--hide, .award_more .product_more__photo--hide {
    display: flex !important;
    visibility: visible !important; }
    .product_more .product_more__photo--hide img, .award_more .product_more__photo--hide img {
      display: inherit !important; }
  .product_more .product_more__photo, .award_more .product_more__photo {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px; }
  .product_more .product_more__description, .award_more .product_more__description {
    font-size: 16px;
    line-height: 20px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    display: block !important; }
  .product_more .product_more__specification--border, .award_more .product_more__specification--border {
    border-bottom: 1px solid #fff; } }
@media screen and (max-width: 460px) {
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 20px;
    line-height: 24px; }
  .product_more .product_more__code, .award_more .product_more__code {
    font-size: 16px; }
  .product_more .product_more__description, .award_more .product_more__description {
    font-size: 14px;
    line-height: 18px; }
  .product_more .product_more__row_border, .award_more .product_more__row_border {
    margin-top: 26px; }
  .product_more .product_more__text, .product_more .product_more__photo, .award_more .product_more__text, .award_more .product_more__photo {
    padding: 24px 15px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 24px 15px 36px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 24px;
    margin-bottom: 24px; } }
/*----------------PANEL UŻYTKOWNIKA-------------- */
.user_panel__main {
  padding-bottom: 24px; }

.user_panel__main_data {
  margin-left: 36px;
  color: #c6c6c6;
  font-size: 13px; }
  .user_panel__main_data .user_panel__main_data--big {
    font-size: 16px; }
  .user_panel__main_data .user_panel__main_data--blue {
    font-size: 21px;
    color: #1a2452;
    margin-bottom: 18px; }

.user_panel__main_points {
  width: 32%;
  padding: 16px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff; }
  .user_panel__main_points .user_panel__main_points_value {
    font-size: 33px;
    font-weight: 700;
    margin-top: 14px; }

.user_panel__main_points--blue {
  background-color: #1a2452; }

.user_panel__main_points--lightBlue {
  background-color: #009abe; }

.user_panel__main_points--gray {
  background-color: #c6c6c6;
  color: #1a2452; }

.user_panel_container .navbar {
  padding: 24px 30px;
  background-color: #dbdfe1; }
.user_panel_container .navbar-nav {
  width: 100%;
  justify-content: space-evenly; }
.user_panel_container .user_panel_nav .nav-link {
  color: #1a2452; }
.user_panel_container .nav-link.active {
  color: #009abe; }

@media screen and (max-width: 1440px) {
  .user_panel__main_data .user_panel__main_data--big {
    font-size: 14px; }
  .user_panel__main_data .user_panel__main_data--blue {
    font-size: 18px;
    color: #1a2452;
    margin-bottom: 18px; }

  .user_panel__main_points {
    padding: 13px; }
    .user_panel__main_points .user_panel__main_points_value {
      font-size: 26px; }

  .user_panel_container .navbar {
    padding: 12px 20px; }
    .user_panel_container .navbar .nav-link {
      font-size: 14px; } }
@media screen and (max-width: 767.98px) {
  .user_panel__main_points {
    font-size: 12px;
    height: 100%; }
    .user_panel__main_points .user_panel__main_points_value {
      font-size: 18px; } }
@media (max-width: 575.98px) {
  .user_panel__main_data {
    margin-left: 16px; }

  .user_panel__main_points {
    width: 100%;
    height: auto; }

  .user_panel__main_photo {
    width: 64px; } }
/*----------ZAREJESTRUJ SPRZEDAŻ--------- */
.user_panel select {
  -moz-appearance: none;
  -webkit-appearance: none; }
.user_panel select::-ms-expand {
  display: none; }
.user_panel .user_panel__title {
  margin-bottom: 24px;
  color: #1a2452;
  font-size: 46px; }
.user_panel .registry_sales__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 36px; }
.user_panel .registry_sales__options {
  cursor: pointer;
  width: 18%; }
.user_panel .registry_sales__button_submit {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .user_panel .registry_sales__button_submit i {
    display: flex; }
.user_panel .registry_sales__options {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center; }
.user_panel .registry_sales__select, .user_panel .select2-selection--single {
  width: 100%;
  height: 60px !important;
  padding: 12px 0 12px 0;
  position: relative;
  text-indent: 6px;
  border: none !important;
  cursor: pointer;
  background-color: #1a2452 !important;
  color: #fff !important;
  text-transform: uppercase;
  display: flex !important;
  align-items: center;
  border-radius: 0 !important; }
.user_panel .select2-container--default .select2-selection--single .select2-selection__placeholder, .user_panel .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; }
.user_panel .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: auto; }
  .user_panel .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent; }
.user_panel .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent; }
.user_panel .registry_sales__select option {
  text-transform: none; }

.user_panel__table tr, .user_panel__table td {
  padding: 5px 15px; }
.user_panel__table tr {
  border-color: #7c7c7c; }
.user_panel__table thead tr {
  border: none; }
.user_panel__table th {
  color: #1a2452;
  font-weight: 400; }
.user_panel__table td {
  color: #c6c6c6; }

@media screen and (max-width: 1440px) {
  .user_panel .user_panel__title {
    font-size: 36px; } }
@media screen and (max-width: 1100px) {
  .user_panel .registry_sales__options {
    font-size: 14px; } }
@media screen and (max-width: 991.98px) {
  .user_panel .user_panel__title {
    font-size: 24px; }
  .user_panel .registry_sales__inputs {
    justify-content: center; }
  .user_panel .registry_sales__options {
    margin-bottom: 16px;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 767.98px) {
  .user_panel .registry_sales__select {
    height: 44px; }
  .user_panel .registry_sales__options {
    margin-bottom: 16px;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .user_panel .registry_sales__button_submit {
    height: 44px;
    width: 44px; } }
/*------------TWÓJ PANEL----------------- */
.user_panel__box {
  padding: 24px;
  color: #fff;
  background-color: #1a2452;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .user_panel__box .user_panel__box_text_small {
    font-size: 15px;
    text-transform: uppercase; }
  .user_panel__box .user_panel__box_text_bold {
    font-size: 33px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700; }
  .user_panel__box .user_panel__box_text_standard {
    font-size: 21px; }
  .user_panel__box *[data-toggle="modal"] {
    cursor: pointer; }

.user_panel__box--backgroundBlue {
  background-color: #5f6686; }

.user_panel__box--backgroundLightBlue {
  background-color: #a3a7ba;
  color: #1a2452; }

.user_panel__box--add {
  background-color: #eb6852;
  justify-content: center;
  cursor: pointer; }
  .user_panel__box--add .icon-plus {
    font-size: 34px; }

@media screen and (max-width: 1440px) {
  .user_panel__box {
    padding: 16px; }
    .user_panel__box .user_panel__box_text_small {
      font-size: 11px; }
    .user_panel__box .user_panel__box_text_bold {
      font-size: 24px; }
    .user_panel__box .user_panel__box_text_standard {
      font-size: 16px; }

  .user_panel__box--add .icon-plus {
    font-size: 24px; } }
@media (max-width: 575.98px) {
  .user_panel__box .user_panel__box_text_small {
    font-size: 10px; }
  .user_panel__box .user_panel__box_text_bold {
    font-size: 20px; }
  .user_panel__box .user_panel__box_text_standard {
    font-size: 14px; } }
/*----MODALE EDYCJI PANEL UŻYTKOWNIKA---- */
#user_panel_modal .custom_form__input {
  margin-top: 28px; }
#user_panel_modal .custom_form__input--input {
  color: #1a2452;
  width: 100%; }
#user_panel_modal .custom_form__input {
  border-bottom: 2px solid #c6c6c6; }
#user_panel_modal .custom_form__input--placeHolder::after {
  color: #1a2452; }
#user_panel_modal .custom_form__input--input:focus + .custom_form__input--placeHolder::after, #user_panel_modal .has-val.custom_form__input--input + .custom_form__input--placeHolder::after {
  color: #009abe; }
#user_panel_modal .form__label--1 {
  margin-top: 24px;
  color: #1a2452;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0; }
#user_panel_modal input.check {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer; }
  #user_panel_modal input.check:checked + label svg path {
    stroke-dashoffset: 0; }
  #user_panel_modal input.check:focus + label {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }
#user_panel_modal .custom__label {
  margin-left: 12px;
  display: flex;
  border: 1px solid #1a2452;
  width: 18px;
  height: 18px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #user_panel_modal .custom__label:active {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-radius: 30px; }
  #user_panel_modal .custom__label svg {
    pointer-events: none;
    width: 18px; }
    #user_panel_modal .custom__label svg path {
      fill: none;
      stroke: #004296;
      stroke-width: 4px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 100;
      stroke-dashoffset: 101;
      -webkit-transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
      -o-transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
      transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91); }

@media screen and (max-width: 1200px) {
  .custom_form__input--input {
    height: 38px;
    width: 300px; }

  .custom_form__input--placeHolder::after, .custom_form__input--input {
    font-size: 14px; } }
/*------------FOOTER--------------------- */
.footer {
  padding: 85px 60px;
  background-color: #1a2452;
  color: #fff;
  position: relative; }

.footer__col {
  margin-bottom: 26px; }

.footer_list {
  list-style-type: none; }

.footer_list__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 36px;
  white-space: nowrap; }

.footer_list__link {
  font-size: 19px;
  font-weight: 400;
  line-height: 38px;
  color: #fff;
  white-space: nowrap; }

.footer_list__link--big {
  font-size: 23px; }

.footer_go_up {
  top: 50px;
  right: 50px;
  position: absolute;
  display: inline-block;
  transform: rotate(270deg);
  font-size: 36px;
  cursor: pointer; }

@media screen and (max-width: 1440px) {
  .footer {
    padding: 60px; }

  .footer_list__title {
    font-size: 16px;
    margin-bottom: 24px; }

  .footer_list__link {
    font-size: 16px;
    line-height: 26px; }

  .footer_list__link--big {
    font-size: 19px; }

  .footer_go_up {
    top: 24px;
    right: 36px; } }
@media screen and (max-width: 1200px) {
  .footer {
    padding: 36px 16px; } }
/*---------LOADER------------- */
.loader {
  z-index: 2000;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6); }

/*-------NOTIFY------------ */
.jq-toast-wrap .jq-icon-success {
  background-color: #04B76B; }
.jq-toast-wrap .jq-icon-info {
  background-color: #0B94F7; }
.jq-toast-wrap .jq-icon-warning {
  background-color: #F5A623; }
.jq-toast-wrap .jq-icon-error {
  background-color: #FF5E6D; }

/*-------KOSZYK----------- */
/*-------KOSZYK--1-KROK------- */
.cart_title {
  font-size: 50px;
  color: #1a2452; }

.cart_steps {
  text-transform: uppercase;
  text-align: center;
  margin-left: 15px; }

a.cart_step {
  color: #fff;
  width: 200px;
  padding: 16px 16px;
  display: block;
  font-size: 14px; }

.cart_steps--orange {
  background-color: #eb6852; }

.cart_steps--backgroundMainBlue {
  background-color: #1a2452; }

.cart_steps--backgroundBlue {
  background-color: #5f6686; }

.cart_steps--backgroundLightBlue {
  background-color: #a3a7ba; }

@media screen and (max-width: 1440px) {
  .cart_title {
    font-size: 36px; }

  a.cart_step {
    font-size: 12px;
    width: 160px; } }
@media (max-width: 767.98px) {
  .cart_steps {
    margin-left: 0;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }

  a.cart_step {
    width: 220px; } }
@media (max-width: 380px) {
  .cart_steps {
    flex: 0 0 100%; } }
.cart_table thead tr {
  display: none; }
.cart_table td {
  border-top: none;
  display: flex;
  align-items: center; }
.cart_table .cart_table_row {
  display: flex;
  flex-direction: column;
  color: #1a2452;
  border-bottom: 1px solid #7c7c7c; }
.cart_table tbody .cart_table_row .cart_product_prize_info {
  padding-top: 12px; }
.cart_table tbody .cart_table_row .cart_product_delete {
  padding-bottom: 12px; }
.cart_table tbody .cart_table_row:first-child .cart_product_prize_info {
  padding-top: 0.3rem; }
.cart_table .cart_product_prize_info {
  display: flex;
  flex-wrap: wrap; }
  .cart_table .cart_product_prize_info img {
    max-width: 64px;
    float: left; }
  .cart_table .cart_product_prize_info .cart_product_title {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700; }
  .cart_table .cart_product_prize_info .cart_product_description {
    width: 100%;
    color: #c6c6c6;
    display: none; }
.cart_table .cart_product_quantity .form-control.input-number {
  flex: 0;
  width: 80px;
  max-width: 80px;
  height: 34px; }
.cart_table .cart_product_quantity .btn-number {
  height: 34px;
  border: 1px solid #ced4da;
  padding-left: 8px;
  padding-right: 8px; }
  .cart_table .cart_product_quantity .btn-number i {
    display: flex; }
.cart_table .cart_table_label {
  font-size: 14px;
  margin-right: 15px;
  font-weight: 700; }
.cart_table .cart_product_delete .icon-filter_cross {
  display: flex; }
.cart_table .delete_link {
  cursor: pointer; }
.cart_table .next_step_tr {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 24px;
  color: #1a2452; }
  .cart_table .next_step_tr td {
    width: auto;
    justify-content: flex-end; }

.cart_product_sum_points {
  font-weight: 700;
  font-size: 18px; }

.cart_product_next_step {
  padding: 6px 32px;
  font-size: 15px; }

@media screen and (min-width: 520px) {
  .cart_table .cart_product_prize_info .cart_product_title {
    font-size: 16px; }
  .cart_table .cart_product_prize_info img {
    max-width: 96px; }
  .cart_table tbody .cart_table_row {
    flex-direction: row;
    flex-wrap: wrap; }
    .cart_table tbody .cart_table_row .cart_product_price_total {
      padding-bottom: 12px; }
    .cart_table tbody .cart_table_row .cart_product_delete, .cart_table tbody .cart_table_row .cart_product_prize_info {
      padding-top: 12px; }
  .cart_table tbody td {
    width: 50%; }
  .cart_table tbody .cart_product_prize_info {
    width: 100%; }
  .cart_table .next_step_tr {
    flex-direction: row; }
    .cart_table .next_step_tr .cart_product_sum_points {
      margin-right: 24px; } }
@media screen and (min-width: 768px) {
  .cart_table .cart_product_prize_info .cart_product_description {
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px; } }
@media screen and (min-width: 992px) {
  .cart_table thead {
    border-top: none; }
    .cart_table thead tr {
      display: table-row; }
      .cart_table thead tr th {
        color: #1a2452;
        font-weight: 400;
        font-size: 13px;
        border-top: none;
        border-bottom: 2px solid #7c7c7c; }
      .cart_table thead tr th:first-child {
        width: 350px; }
  .cart_table tbody td {
    display: table-cell;
    vertical-align: middle; }
  .cart_table tbody .cart_table_row {
    display: table-row; }
    .cart_table tbody .cart_table_row .cart_product_price_total, .cart_table tbody .cart_table_row .cart_product_delete {
      padding-bottom: 0.3rem;
      padding-top: 0.3rem; }
  .cart_table tbody td {
    width: auto; }
  .cart_table tbody .cart_product_prize_info {
    display: flex;
    flex-wrap: nowrap; }
  .cart_table .cart_table_label {
    display: none; }
  .cart_table .next_step_tr {
    display: table-row;
    padding-top: 0; }
    .cart_table .next_step_tr td {
      padding-top: 33px; } }
@media screen and (min-width: 1200px) {
  .cart_table thead tr th:first-child {
    width: 460px; }
  .cart_table .cart_product_prize_info {
    flex-wrap: nowrap;
    padding-top: 24px !important;
    padding-bottom: 24px; }
    .cart_table .cart_product_prize_info img {
      max-width: 140px; }
    .cart_table .cart_product_prize_info .cart_product_title {
      margin-left: 20px; }
    .cart_table .cart_product_prize_info .cart_product_description {
      display: block;
      flex: 1;
      width: auto;
      margin-left: 20px; }

  .next_step_tr .cart_product_sum_points {
    font-size: 26px; } }
@media screen and (min-width: 1440px) {
  .cart_table thead tr th {
    font-size: 17px; }
  .cart_table thead tr th:first-child {
    width: 50%; }
  .cart_table .cart_product_prize_info .cart_product_title {
    font-size: 21px; }
  .cart_table .cart_product_prize_info img {
    max-width: 200px; }
  .cart_table .next_step_tr .cart_product_next_step {
    font-size: 16px; }

  .cart_product_info_text {
    font-size: 21px; }

  .icon-filter_cross {
    font-size: 22px; } }
/*-------KOSZYK--2-KROK------- */
.cart_delivery .cart_delivery__title, .cart_summary .cart_delivery__title {
  font-size: 29px;
  color: #1a2452; }
.cart_delivery .cart_delivery__input_label, .cart_summary .cart_delivery__input_label {
  font-size: 19px;
  color: #1a2452; }
.cart_delivery .cart_delivery__input .form-control, .cart_summary .cart_delivery__input .form-control {
  background-color: #f3f4f5;
  border-radius: 0;
  border-color: #f3f4f5;
  color: #1a2452;
  padding: 15px;
  height: auto; }
.cart_delivery .cart_delivery__input .form-control-select, .cart_summary .cart_delivery__input .form-control-select {
  background-color: #1a2452;
  color: #fff; }
  .cart_delivery .cart_delivery__input .form-control-select option, .cart_summary .cart_delivery__input .form-control-select option {
    background-color: #fff;
    color: #1a2452; }

@media screen and (max-width: 1440px) {
  .cart_delivery .cart_delivery__title, .cart_summary .cart_delivery__title {
    font-size: 24px; }
  .cart_delivery .cart_delivery__input_label, .cart_summary .cart_delivery__input_label {
    font-size: 16px; }
  .cart_delivery .cart_delivery__input .form-control, .cart_summary .cart_delivery__input .form-control {
    padding: 10px 15px; } }
/*----------KOSZYK--3--KROK------- */
.cart_summary .cart_summary__single_product {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #7c7c7c;
  display: flex;
  flex-wrap: nowrap; }
  .cart_summary .cart_summary__single_product:last-of-type {
    border-bottom: 1px solid #7c7c7c; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_img img {
    max-width: 200px; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description {
    flex-grow: 1;
    margin-left: 40px; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description--wrapper {
    display: block; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description--wrapper:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px; }
.cart_summary .cart_summary__text--small {
  font-size: 15px;
  color: #7c7c7c; }
.cart_summary .cart_summary__single_product_description--big {
  font-size: 21px;
  color: #1a2452; }
.cart_summary .cart_summary__sum {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline; }
.cart_summary .cart_summary__sum--big {
  font-size: 33px;
  font-weight: 700;
  color: #1a2452;
  margin-left: 12px; }
.cart_summary .cart_summary__user_info {
  margin-bottom: 60px; }
.cart_summary .cart_summary__user_info--big {
  font-size: 33px;
  font-weight: 700;
  color: #1a2452;
  margin-bottom: 24px; }
.cart_summary .cart_summary__user_info--medium {
  font-size: 25px;
  color: #1a2452; }
.cart_summary .filter_options__wrapper {
  color: #1a2452; }
.cart_summary .cart_summary_regulations {
  color: #eb6852; }

@media screen and (max-width: 1440px) {
  .cart_summary .cart_summary__single_product {
    padding-top: 12px;
    padding-bottom: 12px; }
  .cart_summary .cart_summary__single_product_img img {
    max-width: 160px; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description {
    padding-top: 12px;
    padding-bottom: 12px; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description--wrapper:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px; }
  .cart_summary .cart_summary__text--small {
    font-size: 14px; }
  .cart_summary .cart_summary__single_product_description--big {
    font-size: 17px; }
  .cart_summary .cart_summary__sum--big, .cart_summary .cart_summary__user_info--big {
    font-size: 26px; }
  .cart_summary .cart_summary__user_info--big {
    margin-bottom: 16px; }
  .cart_summary .cart_summary__user_info--medium {
    font-size: 21px; } }
@media (max-width: 991.98px) {
  .cart_summary .cart_summary__user_info {
    margin-top: 24px;
    margin-bottom: 0; }
  .cart_summary .cart_summary__sum {
    margin-top: 24px;
    margin-bottom: 24px; } }
@media screen and (max-width: 520px) {
  .cart_summary .cart_summary__single_product .cart_summary__single_product_img img {
    max-width: 96px; }
  .cart_summary .cart_summary__single_product .cart_summary__single_product_description {
    margin-left: 12px;
    padding: 0; }
  .cart_summary .cart_summary__text--small {
    font-size: 12px; }
  .cart_summary .cart_summary__single_product_description--big {
    font-size: 15px; }
  .cart_summary .cart_summary__user_info--big {
    font-size: 20px; }
  .cart_summary .cart_summary__user_info--medium {
    font-size: 16px; }
  .cart_summary .cart_summary_regulations, .cart_summary .filter_options__label {
    font-size: 14px; } }
/*----KOSZYK-4-KROK--- */
.cart_summary .cart_end__title {
  margin: 48px 0 24px;
  font-weight: 700;
  font-size: 33px;
  color: #1a2452; }
.cart_summary .cart_end__standard {
  font-size: 23px;
  color: #1a2452;
  line-height: 40px; }
.cart_summary .cart_end__standard--lightBlue {
  color: #009abe;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 700; }

@media screen and (max-width: 1440px) {
  .cart_summary .cart_end__title {
    margin: 36px 0 18px;
    font-size: 26px; }
  .cart_summary .cart_end__standard {
    font-size: 19px;
    line-height: 35px; }
  .cart_summary .cart_end__standard--lightBlue {
    font-size: 26px; } }
@media screen and (max-width: 768px) {
  .cart_summary .cart_end__title {
    margin: 12px 0 14px;
    font-size: 22px; }
  .cart_summary .cart_end__standard {
    font-size: 16px;
    line-height: 24px; }
  .cart_summary .cart_end__standard--lightBlue {
    font-size: 22px; } }
@media screen and (max-width: 576px) {
  .cart_end .cart_product_next_step {
    width: 200px; } }
/*-----------BREADCRUMBS---------- */
.breadcrumbs_wrapper {
  display: none; }

@media screen and (min-width: 560px) {
  .breadcrumbs_wrapper {
    display: block;
    width: 100%;
    padding: 0 16px; }
    .breadcrumbs_wrapper a {
      text-decoration: none;
      color: #c6c6c6;
      transition: color ease-in-out 0.3s, background ease-in-out 0.2s; }
      .breadcrumbs_wrapper a:visited {
        text-decoration: none;
        color: #c6c6c6;
        transition: color ease-in-out 0.3s, background ease-in-out 0.2s; }
    .breadcrumbs_wrapper .body {
      padding-top: 20px; }
    .breadcrumbs_wrapper .logo-and-nav-wrap {
      display: flex;
      align-items: center; }
    .breadcrumbs_wrapper .site-nav-wrap {
      font-size: 14px;
      font-weight: 300;
      color: #c6c6c6;
      overflow: hidden;
      width: fit-content; }
    .breadcrumbs_wrapper .nav {
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      flex-wrap: nowrap; }
    .breadcrumbs_wrapper .single-breadcrumb-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 0 auto;
      flex-shrink: 1000;
      display: inline-block;
      padding: 10px 5px 5px 0;
      border-bottom: 1px solid transparent;
      color: #c6c6c6;
      position: relative;
      transition: transform ease-in-out 0.3s; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap i {
        display: inline-block; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:before {
        content: "";
        background-image: linear-gradient(-33deg, #ff0d64 0, #9c3483 100%);
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: transform ease-in-out 0.5s;
        transform: scaleX(0);
        transform-origin: left top;
        display: none; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:hover {
        flex: 1 0 auto;
        opacity: 1;
        color: #1a2452;
        transform: translateY(-2px);
        transition: transform ease-in-out 0.4s; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:hover:before {
          transform: scaleX(1); }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:hover a {
          color: #1a2452; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:hover .sep i {
          transform: translateX(8px);
          color: #1a2452;
          transition: transform ease-in-out 0.3s; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:hover ~ .single-breadcrumb-wrap {
          transition: transform ease-in-out 0.4s; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:first-child {
        flex: 0 0 auto;
        flex-shrink: 0.5;
        font-weight: normal;
        color: #1a2452;
        opacity: 1; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:first-child:after {
          left: 0; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:first-child .sep {
          display: none; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:last-child {
        flex: 1 0 auto !important;
        font-weight: normal; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:last-child a {
          color: #1a2452; }
        .breadcrumbs_wrapper .single-breadcrumb-wrap:last-child:hover {
          transform: translateY(0);
          flex: 1 0 auto !important; }
          .breadcrumbs_wrapper .single-breadcrumb-wrap:last-child:hover:after {
            display: none; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 28px;
        top: 32px;
        width: 100%;
        height: 1px;
        background: #1a2452;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform ease-in-out 0.15s 0.1s, opacity ease-in-out 0.25s;
        opacity: 0.5; }
      .breadcrumbs_wrapper .single-breadcrumb-wrap:hover:after {
        transform: scale3d(1, 1, 1);
        opacity: 1;
        transition: opacity ease-in-out 0.1s, transform ease-in-out 0.2s; }
    .breadcrumbs_wrapper .breadcrumb_single {
      flex: 0 1 auto; }
    .breadcrumbs_wrapper .sep {
      padding-left: 10px;
      padding-right: 10px; }
      .breadcrumbs_wrapper .sep i.fa:before {
        content: var(--icon);
        transition: transform ease-in-out 0.2s; } }
@media screen and (min-width: 1200px) {
  .breadcrumbs_wrapper {
    padding: 0 60px; } }
@media screen and (min-width: 1440px) {
  .breadcrumbs_wrapper {
    padding: 0 80px; } }
/*------PANEL---FAQ------- */
.accordion__wrapper {
  padding-left: 0;
  padding-right: 0; }
  .accordion__wrapper .btn-link {
    font-weight: 700;
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
    .accordion__wrapper .btn-link:hover {
      color: #1a2452;
      text-decoration: none; }
  .accordion__wrapper .btn-link[aria-expanded="false"]:after {
    position: relative;
    font-family: "Glyphter";
    content: "L"; }
  .accordion__wrapper .btn-link[aria-expanded="true"]:after {
    font-family: "Glyphter";
    content: "K"; }
  .accordion__wrapper .main_card_header {
    padding-left: 0;
    padding-right: 0; }
  .accordion__wrapper .card-header {
    padding: 8px 0;
    background-color: #f3f4f5; }
  .accordion__wrapper .card_body_tab {
    padding: 0; }
    .accordion__wrapper .card_body_tab .btn-link {
      font-weight: 400; }
    .accordion__wrapper .card_body_tab .card {
      border-left: none;
      border-right: none; }
  .accordion__wrapper .card-body {
    font-size: 14px;
    color: #1a2452; }

@media screen and (min-width: 576px) {
  .accordion__wrapper {
    padding-right: 15px;
    padding-left: 15px; } }
@media screen and (min-width: 992px) {
  .faq_link_single {
    padding: 12px 15px;
    color: #1a2452;
    cursor: pointer; }

  .faq_link_single.current_bg {
    background-color: #dbdfe1; }

  .accordion__wrapper .main-accordion {
    display: none !important; }
  .accordion__wrapper .main-accordion.current {
    display: block !important; }
  .accordion__wrapper .main-card {
    border: none; }
  .accordion__wrapper .main_card_header {
    background-color: transparent;
    border: none;
    pointer-events: none; }
    .accordion__wrapper .main_card_header .btn-link {
      font-size: 20px;
      font-weight: 400; }
      .accordion__wrapper .main_card_header .btn-link:after {
        content: ""; }
  .accordion__wrapper .card_body_tab {
    margin-bottom: 12px; }
    .accordion__wrapper .card_body_tab .card-header {
      border-bottom: none; }
    .accordion__wrapper .card_body_tab .card {
      border: none;
      background-color: #f3f4f5; }
    .accordion__wrapper .card_body_tab .card-body {
      border-top: 1px solid #000; } }
@media screen and (min-width: 1440px) {
  .faq_link_single {
    padding: 20px 15px;
    font-size: 19px; }

  .accordion__wrapper .main_card_header .btn-link {
    font-size: 29px; }
  .accordion__wrapper .card_body_tab .btn-link {
    font-size: 19px; }
  .accordion__wrapper .card-body {
    font-size: 17px; } }
/*---------PANEL--USTAWIENIA---- */
.settings .settings_description {
  padding: 16px 12px 24px;
  color: #1a2452;
  font-size: 15px; }
.settings .settings_description__text {
  max-width: 900px;
  margin-bottom: 16px; }
.settings .settings_single {
  padding: 0 8px 12px;
  background-color: #f3f4f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
.settings .custom_form__input {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 12px;
  border-bottom: 2px solid #1a2452; }
.settings .custom_form__input--input {
  color: #1a2452;
  width: 100%; }
.settings .custom_form__input--placeHolder::after {
  color: #1a2452; }

@media screen and (min-width: 768px) {
  .settings .settings_single {
    padding: 0 20px 12px; }
  .settings .custom_form__input {
    width: 48%; } }
/*----PANEL--KONTAKT-Z-HANDLOWCEM--- */
.user_panel__trader_contact .trader_contact__form_title {
  font-size: 29px;
  color: #1a2452;
  margin-bottom: 24px; }
.user_panel__trader_contact .custom_form__input {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 12px;
  border-bottom: 2px solid #1a2452; }
.user_panel__trader_contact .custom_form__input--input {
  color: #1a2452;
  width: 100%; }
.user_panel__trader_contact .custom_form__input--placeHolder::after {
  color: #1a2452; }
.user_panel__trader_contact textarea.custom_form__input--input {
  height: 200px;
  margin-top: 12px;
  resize: none; }

@media screen and (max-width: 1440px) {
  .user_panel__trader_contact .trader_contact__form_title {
    font-size: 23px;
    margin-bottom: 16px; } }
@media (max-width: 575.98px) {
  .user_panel__trader_contact .user_panel__main_data {
    margin-left: 0; }
  .user_panel__trader_contact .trader_contact__form_title {
    font-size: 20px; } }

/*# sourceMappingURL=style_with_colors.css.map */
