/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/

/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
.topbar {
    background: #c80028;
    /* Old browsers */
    /* background: -moz-linear-gradient(left, #c80028 0%, #0178bc 100%);*/
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(left, #c80028 0%, #0178bc 100%);*/
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, #c80028 0%, #0178bc 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.topbar .navbar-header {
    background: #ffffff;
    box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.05);
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
    color: #ffffff !important;
}

.logo-center .topbar .navbar-header {
    background: transparent;
    box-shadow: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
    color: #c80028 !important;
}

.bg-theme {
    background-color: #c80028 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #c80028;
    border-color: #c80028;
}

.right-sidebar .rpanel-title {
    background: #c80028;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
    border-left: 4px solid #c80028;
}

.text-themecolor {
    color: #c80028 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
    border-bottom: 2px solid #c80028;
    color: #c80028;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
    color: #c80028;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
    background: #c80028;
    color: #ffffff;
    border: 1px solid #c80028;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
    background: #c80028;
    opacity: 0.7;
    border: 1px solid #c80028;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
    background: #028ee1;
}

/*******************
/*sidebar navigation
*******************/
.sidebar-nav {
    background: #fff;
}

.sidebar-nav ul li a {
    color: #54667a;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #c80028;
}

.sidebar-nav ul li a.active {
    color: #263238;
}

.sidebar-nav ul li.nav-small-cap {
    color: #90a4ae;
}

.sidebar-nav > ul > li.active > a {
    border-left: 3px solid #c80028;
    color: #c80028;
}

.sidebar-nav > ul > li.active > a i {
    color: #c80028;
}

.sidebar-nav > ul > li > a {
    border-left: 3px solid #fff;
}

.sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
    border-left: 3px solid #c80028;
}

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #c80028;
}

.sidebar-nav > ul > li > a i {
    color: #a6b7bf;
}

.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #ffffff;
    color: #c80028;
}
