{* górne menu
{if $type == 'up'}
	<ul id="menu" class="sec_main__menu">
	<ul id="menu" class="sec_main__menu">
		{foreach from=$data item=d name=menu_up}
			<li class="mmenu__item sec_main__menu__item mm-list item {if $smarty.foreach.menu_up.iteration == 1} active{/if}">
				<a href="{$d.url}" class="mmenu__link sec_main__menu__link">{$d.name}</a>
			</li>
		{/foreach}
	</ul>
	</ul>
{/if}
*}

{* menu dolne
{if $type == 'down'}
	<ul>
		{foreach from=$data item=d name=menu_up}
			<li><a href="{$d.url}">{$d.name}</a></li>
		{/foreach}
	</ul>
{/if}
*}
