<form method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label>Wybierz plik z dysku</label>
		<input type="file" required="required" name="file" class="form-control" />
	</div>
	<div class="form-group">
		<button type="submit" name="send" value="1" class="btn btn-submit">Zapisz</button>
	</div>
</form>