<script src="{BASE_URL}data/ed/js/datatable/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{BASE_URL}data/ed/js/datatable/jquery.dataTables.css"/>
<a href="dodaj.html" class="btn btn-info">Dodaj</a>
<table class='datatable'>
	<thead>
		<tr>
			<th>#id</th>
			<th>nazwa</th>
			<th>dodał(a)</th>
			<th>data dodania</th>
			<th></th>
		</tr>
	</thead>
	<!--<tbody>
		{foreach from=$list item=l}
			<tr>
				<td>{$l->id}</td>
				<td>{$l->name}</td>
				<td>{$l->id_user|id2name}</td>
				<td>{$l->ts->format('Y-m-d H:i:s')}</td>
				<td class="text-right">
					<a href="#" data-url="<pre>{$l->get_url()}</pre>" class='show-url btn btn-info'>pokaż adres url</a>
					<a href="{BASE_ED_URL}files/usun.html?id={$l->id}" class='btn btn-danger confirm' data-confirm-text="Czy na pewno chcesz usunąć ten plik?">usuń</a>
				</td>
			</tr>
		{/foreach}
	</tbody>-->
</table>
<script>
	$(document).ready(function() {
		$('.datatable').DataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "{BASE_URL}data/lista.php",
				"dataType": "jsonp"
			}
		} );
	} );

</script>
	
