.tagManagerManageList .index {
  width: 60px;
}
.tagManagerManageList th.action,
.tagManagerManageList td.action {
  width: 160px;
}
.tagManagerManageList th.action a,
.tagManagerManageList td.action a {
  color: black;
}
.tagManagerManageList .preconfiguredVariablesHelp {
  color: #999;
  font-size: 17px;
  cursor: help;
}
.modal.open .editVersion .versionChanges h3 {
  margin-top: 32px;
}
.modal.open .tag-ui-confirm {
  display: block;
}
.tag-ui-confirm {
  display: none;
}
.tagManagerTagList .triggers .chip {
  display: inline-block;
  margin-bottom: 4px;
}
.tagManagerContainerList th.action,
.tagManagerContainerList td.action {
  width: 240px;
}
.tagManagerVersionList th.action,
.tagManagerVersionList td.action {
  width: 280px;
}
.tagManagerVariableList .collection .title .variableId {
  margin-left: 10px;
  display: inline-block;
  color: #999;
}
