.requestReview .review-links {
  display: flex;
}
.requestReview .review-link {
  width: 20%;
}
.requestReview .review-link div {
  width: 100%;
}
.requestReview .review-link div.image {
  height: 80px;
}
.requestReview .review-link div.link {
  font-size: 13px;
}
.requestReview .review-link img {
  max-width: 60px;
}
