#debug_bar
{
    display:none;
    position:fixed;
    width:100%;
    height:30px;
    background: #fafafa;
    border-top:1px solid #eee;
    bottom:0px;
    z-index: 99999;
    font-size:13px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    padding-top:5px;
    color:#666;
}
#debug_bar img {margin-right:4px;}
#debug_bar a, #debug_bar:hover {color:#666; text-decoration: none;}

#debug_bar .debug-submenu
{
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    bottom: 24px;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    display: none;
    width:100%;
}

#debug_bar #debug_toggle img {display:none}
#debug_bar.close{opacity:1!important}
.debug_stemplate
{
	background-color: #fafafa;
    border: 1px solid #eee;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}