.fieldArray {
  margin-top: 40px !important;
}
.fieldArray .form-group.row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.fieldArray .fieldUiControl {
  width: calc(100% - 60px);
  padding-right: 0.75rem;
}
.fieldArray .icon-minus {
  cursor: pointer;
}
