/*! preserving comment */
/* import included-> */
/* lesstest2.less */
/* <- import included */
.underline {
  border-bottom: 1px solid #008000;
}
#header {
  color: black;
  border: 1px solid #dd44dd;
}
#header .navigation {
  font-size: 12px;
}
#header .navigation a {
  border-bottom: 1px solid #008000;
}
#header .logo {
  width: 300px;
}
#header .logo :hover {
  text-decoration: none;
}
/*
 a normal comment
*/
