@charset "UTF-8";
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../_fonts/noto/NotoSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../_fonts/noto/NotoSans-Bold.ttf") format("truetype"); }
body {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-weight: 400; }

p {
  margin-bottom: 0; }

a:hover {
  text-decoration: none;
  color: inherit; }

::selection {
  background: #1a2452;
  color: #fff; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

.btn {
  border-radius: 0; }

.btn-pills {
  border-radius: 23px; }

.btn-primary:hover {
  background-color: #1a2452;
  border-color: #1a2452; }

.btn-outline-primary:hover {
  background-color: inherit;
  color: inherit; }

.tooltip_templates {
  display: none; }

/*-------------MENU---------------------- */
.navbar_points__mobile {
  padding-top: 80px; }

.navbar_wrapper {
  background-color: #fff;
  z-index: 10; }

.navbar {
  padding: 1rem; }

.navbar-brand {
  width: 100px; }

.navbar_points {
  position: static;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 18px;
  border-radius: 50px;
  background-color: #eb6852;
  white-space: nowrap; }
  .navbar_points .navbar_points__sum {
    color: #fefeff;
    font-weight: 700;
    font-size: 14px; }

.nav_icon_wrapper {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-flex; }
  .nav_icon_wrapper .nav_icon_link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
    display: inline-flex; }
  .nav_icon_wrapper .nav_icon {
    display: inline-flex; }
  .nav_icon_wrapper .nav_icon_attention {
    position: absolute;
    display: flex;
    background-color: #eb6852;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    top: -18px;
    right: -7px; }

.navbar-toggler {
  padding: 0; }

.navbar-light .navbar-toggler {
  border: none; }

.mm-menu .dropdown-menu_category {
  font-size: 20px;
  letter-spacing: -0.17px;
  font-weight: 700;
  color: #009abe !important;
  line-height: 22px; }
.mm-menu .mm-panel, .mm-menu .mm-panels {
  background: #fff; }
.mm-menu .mm-listitem__text {
  color: #1a2452 !important;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 14px; }
.mm-menu .mm-panels {
  transition: all 1s ease-in; }
.mm-menu .mm-listitem__text .dropdown-item {
  padding: 0.5rem 1.5rem; }
.mm-menu .mm-btn.mm-btn_next.mm-listitem__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none; }
.mm-menu .mm-btn_close:after, .mm-menu .mm-btn_close:before {
  width: 16px;
  height: 16px; }
.mm-menu .mm-btn_close:after {
  right: 38px; }
.mm-menu .mm-btn_close:before {
  right: 15px; }
.mm-menu .mm-btn_next:after, .mm-menu .mm-btn_prev:before {
  width: 16px;
  height: 16px; }
.mm-menu .dropdown_hide_items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  list-style-type: none; }
.mm-menu .dropdown_show_items {
  max-height: 999px;
  transition: max-height 0.6s ease;
  margin-top: 8px; }

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active {
  background-color: inherit; }

@media (min-width: 768px) {
  .navbar_top .nav_icon_wrapper {
    margin-left: 24px;
    margin-right: 36px;
    display: inline-flex; }
  .navbar_top .nav_icon_link {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar_top .navbar-toggler {
    padding: 0.25rem 0 0.25rem 0.75rem; } }
@media (min-width: 1200px) {
  .navbar_points__mobile {
    padding-top: 156px; }

  .megamenu-li {
    position: static; }

  .megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px; }

  .navbar_wrapper {
    padding-left: 60px;
    padding-right: 60px; }

  .navbar-brand {
    width: auto;
    max-width: 260px;
    min-width: 140px; }

  .navbar {
    padding: 0; }

  .dropdown-menu.show {
    display: flex; }

  .dropdown-divider {
    display: none; }

  .megamenu_links {
    margin-bottom: 24px; }

  .navbar-expand-xl .navbar-nav .nav-link {
    padding: 64px 16px;
    font-size: 16px;
    letter-spacing: -0.15px;
    color: #1a2452;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.2s ease-in; }

  .scrolled .navbar-expand-xl .navbar-nav .nav-link {
    padding: 28px 16px; }

  .navbar-light .show .nav-link {
    color: #009abe !important; }

  .navbar-expand-xl .navbar-nav .nav-link.active {
    color: #009abe; }

  .navbar-expand-xl .navbar-nav .nav-link.active:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 10px;
    background-color: #009abe;
    left: 10px; }

  .nav_icon_wrapper {
    margin-right: 0; }

  .megamenu-li.show .nav-link {
    background-color: rgba(255, 255, 255, 0.99); }

  .navbar-nav .dropdown-toggle::after {
    display: none; }

  .dropdown-menu.megamenu {
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.99); }

  .megamenu {
    padding: 40px 40px; }

  .megamenu .dropdown-item {
    color: #000;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.15px;
    padding: 0 1.5rem 0 0;
    font-weight: 400; }

  .megamenu .dropdown-menu_category {
    font-size: 23px;
    letter-spacing: -0.17px;
    font-weight: 700;
    color: #009abe !important;
    margin-bottom: 14px;
    line-height: 26px; }

  .megamenu .dropdown_hide_items {
    list-style-type: none; }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #1a2452; } }
@media screen and (min-width: 1440px) {
  .navbar_wrapper {
    padding-left: 80px;
    padding-right: 80px; }

  .navbar-expand-xl .navbar-nav .nav-link {
    font-size: 19px; }

  .navbar_points {
    padding: 10px 36px; }
    .navbar_points .navbar_points__sum {
      color: #fefeff;
      font-size: 16px; } }
/*-------------LISTA PRODUKTÓW----------- */
.page_content {
  padding: 24px 80px; }

.product_list .product_list_filter__row {
  margin-bottom: 26px; }
.product_list .product_list_filter__title {
  color: #1a2452;
  font-size: 21px;
  font-weight: 700;
  line-height: 26.67px;
  letter-spacing: -0.19px;
  cursor: pointer; }
.product_list .product_list_filter__icon_show {
  margin-left: 42px; }
.product_list .product_list_filter__icon--change .icon-filter_cross {
  display: none; }
.product_list .product_list_filter__title .icon-arrow {
  display: none; }
.product_list .product_list_filter__icon--change .icon-arrow {
  display: inline; }
.product_list .product_list_filter__link_collapse, .product_list .product_list_filter__options {
  color: #1a2452;
  font-size: 18px;
  letter-spacing: -0.15px;
  font-weight: 400; }
.product_list .product_list_filter__link_collapse {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
.product_list .product_list_filter__icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 7px;
  margin-left: 12px;
  transform: rotate(180deg); }
.product_list .collapsed .product_list_filter__icon {
  transform: rotate(0deg); }
.product_list .filter_options__wrapper {
  position: relative;
  display: block; }
.product_list .filter_options__label {
  margin-bottom: 0;
  display: inline-flex;
  margin-left: 24px;
  cursor: pointer; }
.product_list .filter_options__helper {
  display: flex;
  align-items: center;
  height: 100%; }
.product_list .filter_options__helper:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #1a2452;
  transition: all 0.2s ease-in; }
.product_list .filter_options__helper:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: "Glyphter";
  content: "E";
  width: 18px;
  line-height: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in;
  opacity: 0;
  transform: scale(0); }
.product_list .filter_options__input:checked + .filter_options__helper:after {
  opacity: 1;
  transform: scale(1); }
.product_list .filter_options__input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0; }
.product_list .filter_grid_icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  margin-right: 20px; }
.product_list .product_list_sort__link {
  display: flex;
  align-items: center; }
.product_list .product_list_sort__options {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
.product_list .product_list_sort__options--wrapper .product_list_sort__options:first-child {
  margin-right: 34px; }
.product_list .product_list_sort__label {
  font-size: 17px;
  color: #808080; }
.product_list .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #1a2452;
  color: #1a2452; }
.product_list .product_list_filter {
  opacity: 1;
  transition: all 0.15s ease-in, opacity 0.25s ease-in; }
.product_list .product_list_filter--hide {
  opacity: 0;
  padding-right: 0;
  padding-left: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  transition: visibility 0.15s ease-in, opacity 0.1s ease-in; }
  .product_list .product_list_filter--hide .product_list_filter__row {
    position: absolute;
    opacity: 0; }
.product_list .product_listing--hide {
  flex: 0 0 100%;
  max-width: 100%;
  transition: all 0.15s ease-in; }

.product_listing__single_product {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 24px;
  float: left; }
  .product_listing__single_product .single_product__img {
    max-width: 230px; }
  .product_listing__single_product .single_product__price_row {
    padding: 20px 0;
    color: #1a2452; }
  .product_listing__single_product .single_product__name, .product_listing__single_product .single_product__points, .product_listing__single_product .single_product__extra_points {
    font-size: 19px; }
  .product_listing__single_product .single_product__extra_points {
    color: #eb6852; }
  .product_listing__single_product .single_product__points {
    text-transform: uppercase; }
  .product_listing__single_product .single_product__price {
    color: #808080;
    font-size: 17px;
    text-transform: uppercase; }
  .product_listing__single_product .single_product__more, .product_listing__single_product .single_product__order {
    max-width: 124px;
    width: 100%; }
  .product_listing__single_product .single_product_info--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .product_listing__single_product .single_product_info {
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    right: 15px;
    top: 0; }
  .product_listing__single_product .single_product_info--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px; }
  .product_listing__single_product .single_product_info .single_product_info--container:first-child {
    margin-top: 0; }
  .product_listing__single_product .single_product_info--label {
    display: inline-block;
    padding: 14px 26px;
    font-size: 18px;
    letter-spacing: -0.13px;
    color: #fff; }
  .product_listing__single_product .single_product_info--new {
    background-color: #2acbd3; }
  .product_listing__single_product .single_product_info--end {
    background-color: #eb6852; }
  .product_listing__single_product .single_product_info--quality {
    background-color: #009abe; }

.product_list {
  /*grid */
  /*lista */
  /*lista bez zdjęcia */ }
  .product_list .product_listing--grid .single_product__price_row {
    align-content: space-between;
    align-self: end; }
  .product_list .product_listing--grid .single_product__name--container {
    margin-bottom: 16px; }
  .product_list .product_listing--grid .single_product__name--container, .product_list .product_listing--grid .single_product__price--container {
    max-width: 100%;
    flex: 0 0 100%; }
  .product_list .product_listing--grid .single_product__buttons {
    align-self: end; }
  .product_list .product_listing--list .product_listing__single_product {
    width: 100%;
    max-width: 100%;
    flex: none;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 220px; }
  .product_list .product_listing--list .single_product__img_row {
    width: 200px; }
  .product_list .product_listing--list .single_product_info--label {
    padding: 8px 12px;
    font-size: 10px; }
  .product_list .product_listing__row.product_listing--noImg {
    margin-bottom: 0; }
  .product_list .product_listing--noImg .single_product__img_row {
    display: none; }
  .product_list .product_listing--noImg .product_listing__single_product, .product_list .product_listing--list .product_listing__single_product {
    width: 100%;
    max-width: 100%;
    flex: none;
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb; }
  .product_list .product_listing--noImg .single_product__price_row div, .product_list .product_listing--noImg .single_product__buttons div, .product_list .product_listing--list .single_product__price_row div, .product_list .product_listing--list .single_product__buttons div {
    flex: none;
    display: flex;
    align-items: center; }
  .product_list .product_listing--noImg .single_product__price_row .single_product__price--container, .product_list .product_listing--list .single_product__price_row .single_product__price--container {
    flex-wrap: wrap;
    align-content: center; }
    .product_list .product_listing--noImg .single_product__price_row .single_product__price--container p, .product_list .product_listing--list .single_product__price_row .single_product__price--container p {
      width: 100%; }
  .product_list .product_listing--noImg .single_product__price_row, .product_list .product_listing--list .single_product__price_row {
    width: 60%; }
  .product_list .product_listing--noImg .single_product__buttons, .product_list .product_listing--list .single_product__buttons {
    width: 40%; }
  .product_list .product_listing--noImg .row, .product_list .product_listing--list .row {
    margin-right: 0;
    margin-left: 0; }
  .product_list .product_listing--noImg .single_product__price--container, .product_list .product_listing--list .single_product__price--container {
    justify-content: space-between; }

/*tooltipster */
.tooltipster-follower .tooltipster-box {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0; }
.tooltipster-follower .tooltipster-content {
  padding: 24px 5px; }

.extra_info_tooltip {
  color: #1a2452; }
  .extra_info_tooltip .single_product__name--bold, .extra_info_tooltip .single_product__points, .extra_info_tooltip .tooltip_product__subtitle {
    font-size: 22px;
    line-height: 22px; }
  .extra_info_tooltip .single_product__name--bold {
    font-weight: 700; }
  .extra_info_tooltip .tooltip_product__description {
    font-size: 18px;
    line-height: 21px; }

@media screen and (min-width: 1440px) {
  .listing__main_col_small {
    flex: 0 0 20%;
    max-width: 20%; }

  .listing__main_col_big {
    flex: 0 0 80%;
    min-width: 80%; } }
@media screen and (max-width: 1800px) {
  .product_listing__single_product {
    width: 25%; } }
@media screen and (max-width: 1440px) {
  .page_content {
    padding: 24px 60px; }

  .product_list .product_list_filter__link_collapse, .product_list .product_list_filter__options {
    font-size: 15px; }
  .product_list .filter_options__helper:before {
    width: 15px;
    height: 15px; }
  .product_list .filter_options__helper:after {
    width: 15px;
    line-height: 15px;
    font-size: 15px; }

  .product_listing__single_product .single_product__name, .product_listing__single_product .single_product__points, .product_listing__single_product .single_product__extra_points {
    font-size: 15px; }
  .product_listing__single_product .single_product__price, .product_listing__single_product .single_product__more, .product_listing__single_product .single_product__order {
    font-size: 13px; }
  .product_listing__single_product .single_product__img {
    width: 200px; } }
@media screen and (max-width: 1200px) {
  .product_listing__single_product {
    width: 33.33%; }

  .page_content {
    padding: 24px 16px; } }
@media screen and (max-width: 1100px) {
  .product_list .product_list_filter__title {
    font-size: 19px; }
  .product_list .filter_grid_icon {
    font-size: 24px;
    margin-right: 16px; }
  .product_list .product_list_sort__label {
    font-size: 14px; } }
@media screen and (max-width: 768px) {
  .product_listing__single_product {
    width: 50%; } }
@media screen and (max-width: 991.98px) {
  .product_list .product_list_filter__title .icon-arrow {
    display: inline; }
  .product_list .product_list_filter__title .icon-filter_cross {
    display: none; }
  .product_list .product_list_filter__icon--change .icon-arrow {
    display: none; }
  .product_list .product_list_filter__icon--change .icon-filter_cross {
    display: inline; }
  .product_list .product_list_filter {
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 15px 15px;
    background-color: #fff; }
  .product_list .product_list_filter--hide {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    pointer-events: auto; }
  .product_list .product_list_filter--hide .product_list_filter__row {
    position: static;
    opacity: 1; }
  .product_list .product_listing__single_product .single_product__img {
    width: auto;
    max-width: 100%; } }
@media screen and (max-width: 460px) {
  .product_listing__single_product {
    width: 100%; } }
/*----------PRODUKT WIĘCEJ INFO---------- */
.product_more .product_more__text {
  padding: 72px 80px 75px 160px; }
.product_more .product_more__photo {
  padding-right: 55px; }
.product_more .product_more__title {
  color: #1a2452;
  font-size: 63px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.58px; }
.product_more .product_more__code {
  color: #009abe;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.25px; }
.product_more .product_more__row_border {
  margin-top: 56px; }
.product_more .product_more__points, .product_more .product_more__price {
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.33px;
  white-space: nowrap; }
.product_more .product_more__points {
  color: #1a2452; }
.product_more .product_more__price {
  color: #808080; }
.product_more .product_more__description {
  padding-top: 48px;
  border-top: 1px solid #7c7c7c;
  color: #1a2452;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px; }
.product_more .product_more__extra_links {
  padding: 52px 90px;
  color: #fff;
  font-size: 23px; }
.product_more .product_more__extra_links--lightBlue {
  background-color: #009abe; }
.product_more .product_more__extra_links--blue {
  background-color: #1a2452; }
.product_more .product_more__back, .product_more .product_more__tab_link {
  display: inline-flex; }
.product_more .product_more__extra_links--icon {
  display: flex;
  align-items: center;
  margin-right: 12px; }
.product_more .product_more__tab_link {
  cursor: pointer; }
.product_more .product_more__photo {
  display: flex;
  padding-bottom: 70px; }
.product_more .product_more__photo--hide {
  display: none;
  visibility: hidden; }
.product_more .product_more__specification {
  background-color: #1a2452;
  color: #fff;
  display: none;
  padding: 72px 80px 80px; }
.product_more .product_more__specification--lightBlue {
  background-color: #009abe; }
.product_more .current {
  visibility: visible;
  display: block; }
.product_more .product_more__specification_title {
  font-size: 46px;
  line-height: 53px;
  margin-bottom: 82px; }
.product_more .product_more__specification_list {
  list-style-type: none; }
.product_more .product_more__specification_point {
  font-size: 21px;
  line-height: 47px;
  margin-bottom: 24px; }
.product_more .product_more__specification_list .product_more__specification_point:last-child {
  margin-bottom: 0; }
.product_more .product_more__specification_point--bold {
  font-weight: 700; }
.product_more .product_more__specification_list_files {
  list-style-type: none;
  margin-bottom: 36px;
  margin-top: 80px; }
.product_more .product_more__specification_list_files_point {
  margin-bottom: 8px; }
.product_more .product_more__specification_list_files_point a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  min-width: 260px;
  padding: 14px 24px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center; }

/*----------GŁÓWNY LISTING NAGRÓD-------- */
.awards_main_list .awards_main_list__row {
  margin-bottom: 24px; }
.awards_main_list .product_listing__single_product {
  width: 16.6%; }
.awards_main_list .awards_main_title {
  font-size: 64px;
  color: #646569;
  margin-bottom: 18px; }
.awards_main_list .awards_main_list__row:nth-child(3n) .awards_main_title {
  color: #009abe; }
.awards_main_list .single_product__name {
  margin-bottom: 8px; }
.awards_main_list .single_product__img {
  max-width: 100%;
  width: 100%; }

@media screen and (max-width: 1440px) {
  .awards_main_list .awards_main_title {
    font-size: 42px; }
  .awards_main_list .awards_main_list__row_prices:nth-child(6) {
    display: none; }
  .awards_main_list .product_listing__single_product {
    width: 20%; } }
@media screen and (max-width: 1020px) {
  .awards_main_list .product_listing__single_product {
    width: 33.33%; }
  .awards_main_list .awards_main_list__row_prices:nth-child(6) {
    display: block; } }
@media screen and (max-width: 762px) {
  .awards_main_list .product_listing__single_product {
    width: 50%; } }
@media screen and (max-width: 460px) {
  .awards_main_list .awards_main_list__row {
    margin-bottom: 12px; }
  .awards_main_list .awards_main_title {
    font-size: 28px; }
  .awards_main_list .product_listing__single_product {
    width: 100%;
    padding-right: 0;
    padding-left: 0; } }
/*--------SZCZEGÓŁOWY LISTING------------ */
.progress_wrapper {
  display: none; }

.progress_label {
  display: flex;
  justify-content: space-between; }

.progress {
  border-radius: 1.5rem;
  background: repeating-linear-gradient(90deg, #e9ecef, #e9ecef 10px, #fff 15px, #fff 10px); }

.progress-bar {
  background: repeating-linear-gradient(90deg, #1a2452, #1a2452 10px, #fff 15px, #fff 10px); }

.no_points .progress_wrapper {
  display: flex; }
.no_points .single_product_info--wrapper, .no_points .single_product__price_row, .no_points .single_product__buttons {
  opacity: 0.2; }

.product_listing--list .no_points, .product_listing--noImg .no_points {
  padding-bottom: 54px !important; }
  .product_listing--list .no_points .progress_wrapper, .product_listing--noImg .no_points .progress_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

/*---------WIDOK SZCZEGÓŁOWY NAGRODY----- */
.award_more .product_more__code {
  text-transform: none;
  font-size: 62px;
  line-height: 74px; }
.award_more .product_more__description {
  border-top: none; }
.award_more .award_more__order_list {
  list-style-type: none; }
.award_more .award_more__details--standard {
  font-size: 29px;
  line-height: 38px; }
.award_more .award_more__details_list {
  margin-top: 24px;
  font-size: 29px;
  line-height: 38px;
  list-style-position: inside; }
.award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
  font-size: 41px;
  line-height: 39px; }
.award_more .award_more__order_point_points {
  color: #1a2452; }
.award_more .award_more__order_point_details {
  font-size: 19px;
  line-height: 22px; }
.award_more .award_more__order_more, .award_more .award_more__order_orderLink {
  max-width: 140px;
  width: 100%; }
.award_more .award_more__order_orderLink:hover {
  background-color: #eb6852;
  border-color: #eb6852; }

@media screen and (max-width: 1440px) {
  .product_more .product_more__text, .award_more .product_more__text {
    padding-left: 110px; }
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 46px;
    line-height: 42px; }
  .product_more .product_more__code, .award_more .product_more__code {
    font-size: 24px; }
  .product_more .product_more__points, .product_more .product_more__price, .award_more .product_more__points, .award_more .product_more__price {
    font-size: 33px; }
  .product_more .product_more__description, .award_more .product_more__description {
    padding-top: 28px;
    font-size: 19px;
    line-height: 28px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 72px 60px 80px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 33px;
    margin-bottom: 56px;
    line-height: 38px; }
  .product_more .product_more__specification_point, .award_more .product_more__specification_point {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px; }
  .product_more .product_more__specification_list_files, .award_more .product_more__specification_list_files {
    margin-top: 54px; }
  .product_more .product_more__specification_list_files_point a, .award_more .product_more__specification_list_files_point a {
    font-size: 13px;
    min-width: 194px;
    padding: 8px 12px; }
  .product_more .product_more__extra_links, .award_more .product_more__extra_links {
    padding: 36px 50px;
    font-size: 20px; }

  .award_more .product_more__code {
    font-size: 32px;
    line-height: 1; }
  .award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
    font-size: 29px;
    line-height: 1; }
  .award_more .award_more__order_point_details {
    font-size: 14px;
    line-height: 20px; }
  .award_more .award_more__order_more, .award_more .award_more__order_orderLink {
    font-size: 13px;
    padding: 8px 26px;
    max-width: 110px; } }
@media screen and (max-width: 1200px) {
  .product_more .product_more__text, .award_more .product_more__text {
    padding: 36px; }
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 34px; }
  .product_more .product_more, .award_more .product_more {
    font-size: 20px; }
  .product_more .product_more__photo, .award_more .product_more__photo {
    padding-right: 36px; }
  .product_more .product_more__points, .product_more .product_more__price, .award_more .product_more__points, .award_more .product_more__price {
    font-size: 26px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 36px 36px 55px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 26px;
    margin-bottom: 36px;
    line-height: 32px; }
  .product_more .product_more__specification_point, .award_more .product_more__specification_point {
    font-size: 14px;
    line-height: 20px; }
  .product_more .product_more__extra_links, .award_more .product_more__extra_links {
    padding: 24px 36px;
    font-size: 16px; }

  .award_more .award_more__order_point_title, .award_more .award_more__order_point_points {
    font-size: 22px;
    line-height: 1; }
  .award_more .award_more__order_point_details {
    font-size: 14px;
    line-height: 20px; }
  .award_more .award_more__order_more, .award_more .award_more__order_orderLink {
    font-size: 13px;
    padding: 8px 12px; } }
@media screen and (max-width: 767.98px) {
  .product_more .product_more__photo--hide, .award_more .product_more__photo--hide {
    display: flex !important;
    visibility: visible !important; }
    .product_more .product_more__photo--hide img, .award_more .product_more__photo--hide img {
      display: inherit !important; }
  .product_more .product_more__photo, .award_more .product_more__photo {
    padding-left: 36px;
    padding-bottom: 36px; }
  .product_more .product_more__description, .award_more .product_more__description {
    font-size: 16px;
    line-height: 20px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    display: block !important; }
  .product_more .product_more__specification--border, .award_more .product_more__specification--border {
    border-bottom: 1px solid #fff; } }
@media screen and (max-width: 460px) {
  .product_more .product_more__title, .award_more .product_more__title {
    font-size: 20px;
    line-height: 24px; }
  .product_more .product_more__code, .award_more .product_more__code {
    font-size: 16px; }
  .product_more .product_more__description, .award_more .product_more__description {
    font-size: 14px;
    line-height: 18px; }
  .product_more .product_more__row_border, .award_more .product_more__row_border {
    margin-top: 26px; }
  .product_more .product_more__text, .product_more .product_more__photo, .award_more .product_more__text, .award_more .product_more__photo {
    padding: 24px 15px; }
  .product_more .product_more__specification, .award_more .product_more__specification {
    padding: 24px 15px 36px; }
  .product_more .product_more__specification_title, .award_more .product_more__specification_title {
    font-size: 24px;
    margin-bottom: 24px; } }
/*----------------PANEL UŻYTKOWNIKA-------------- */
.user_panel__main {
  padding-bottom: 24px; }

.user_panel__main_data {
  margin-left: 36px;
  color: #808080;
  font-size: 13px; }
  .user_panel__main_data .user_panel__main_data--big {
    font-size: 16px; }
  .user_panel__main_data .user_panel__main_data--blue {
    font-size: 21px;
    color: #1a2452;
    margin-bottom: 18px; }

.user_panel__main_points {
  width: 32%;
  padding: 16px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff; }
  .user_panel__main_points .user_panel__main_points_value {
    font-size: 33px;
    font-weight: 700;
    margin-top: 14px; }

.user_panel__main_points--blue {
  background-color: #1a2452; }

.user_panel__main_points--lightBlue {
  background-color: #009abe; }

.user_panel__main_points--gray {
  background-color: #808080;
  color: #1a2452; }

.user_panel_container .navbar {
  padding: 24px 30px;
  background-color: #dbdfe1; }
.user_panel_container .navbar-nav {
  width: 100%;
  justify-content: space-evenly; }
.user_panel_container .user_panel_nav .nav-link {
  color: #1a2452; }
.user_panel_container .nav-link.active {
  color: #009abe; }

@media screen and (max-width: 1440px) {
  .user_panel__main_data .user_panel__main_data--big {
    font-size: 14px; }
  .user_panel__main_data .user_panel__main_data--blue {
    font-size: 18px;
    color: #1a2452;
    margin-bottom: 18px; }

  .user_panel__main_points {
    padding: 13px; }
    .user_panel__main_points .user_panel__main_points_value {
      font-size: 26px; }

  .user_panel_container .navbar {
    padding: 12px 20px; }
    .user_panel_container .navbar .nav-link {
      font-size: 14px; } }
@media screen and (max-width: 767.98px) {
  .user_panel__main_points {
    font-size: 12px;
    height: 100%; }
    .user_panel__main_points .user_panel__main_points_value {
      font-size: 18px; } }
@media (max-width: 575.98px) {
  .user_panel__main_data {
    margin-left: 16px; }

  .user_panel__main_points {
    width: 100%; } }
/*----------ZAREJESTRUJ SPRZEDAŻ--------- */
.user_panel select {
  -moz-appearance: none;
  -webkit-appearance: none; }
.user_panel select::-ms-expand {
  display: none; }
.user_panel .user_panel__title {
  margin-bottom: 24px;
  color: #1a2452;
  font-size: 46px; }
.user_panel .registry_sales__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 36px; }
.user_panel .registry_sales__options {
  cursor: pointer;
  width: 18%; }
.user_panel .registry_sales__button_submit {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .user_panel .registry_sales__button_submit i {
    display: flex; }
.user_panel .registry_sales__options {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center; }
.user_panel .registry_sales__select {
  width: 100%;
  height: 60px;
  padding: 12px 40px 12px 15px;
  position: relative;
  text-indent: 6px;
  border: none;
  cursor: pointer;
  background-color: #1a2452;
  color: #fff;
  text-transform: uppercase; }
.user_panel .registry_sales__options:before {
  content: "A";
  position: absolute;
  font-family: "Glyphter";
  color: #fff;
  font-size: 12px;
  right: 12px;
  z-index: 1;
  pointer-events: none; }
.user_panel .registry_sales__select option {
  text-transform: none; }

.user_panel__table tr, .user_panel__table td {
  padding: 5px 15px; }
.user_panel__table tr {
  border-color: #7c7c7c; }
.user_panel__table thead tr {
  border: none; }
.user_panel__table th {
  color: #1a2452;
  font-weight: 400; }
.user_panel__table td {
  color: #808080; }

@media screen and (max-width: 1440px) {
  .user_panel .user_panel__title {
    font-size: 36px; } }
@media screen and (max-width: 1100px) {
  .user_panel .registry_sales__options {
    font-size: 14px; } }
@media screen and (max-width: 991.98px) {
  .user_panel .user_panel__title {
    font-size: 24px; }
  .user_panel .registry_sales__inputs {
    justify-content: center; }
  .user_panel .registry_sales__options {
    margin-bottom: 16px;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 767.98px) {
  .user_panel .registry_sales__select {
    height: 44px; }
  .user_panel .registry_sales__options {
    margin-bottom: 16px;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .user_panel .registry_sales__button_submit {
    height: 44px;
    width: 44px; } }
/*------------TWÓJ PANEL----------------- */
.user_panel__box {
  padding: 24px;
  color: #fff;
  background-color: #1a2452;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .user_panel__box .user_panel__box_text_small {
    font-size: 15px;
    text-transform: uppercase; }
  .user_panel__box .user_panel__box_text_bold {
    font-size: 33px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700; }
  .user_panel__box .user_panel__box_text_standard {
    font-size: 21px; }
  .user_panel__box *[data-toggle="modal"] {
    cursor: pointer; }

.user_panel__box--backgroundBlue {
  background-color: #5f6686; }

.user_panel__box--backgroundLightBlue {
  background-color: #a3a7ba;
  color: #1a2452; }

.user_panel__box--add {
  background-color: #eb6852;
  justify-content: center;
  cursor: pointer; }
  .user_panel__box--add .icon-plus {
    font-size: 34px; }

@media screen and (max-width: 1440px) {
  .user_panel__box {
    padding: 16px; }
    .user_panel__box .user_panel__box_text_small {
      font-size: 11px; }
    .user_panel__box .user_panel__box_text_bold {
      font-size: 24px; }
    .user_panel__box .user_panel__box_text_standard {
      font-size: 16px; }

  .user_panel__box--add .icon-plus {
    font-size: 24px; } }
@media (max-width: 575.98px) {
  .user_panel__box .user_panel__box_text_small {
    font-size: 10px; }
  .user_panel__box .user_panel__box_text_bold {
    font-size: 20px; }
  .user_panel__box .user_panel__box_text_standard {
    font-size: 14px; } }
/*------------FOOTER--------------------- */
.footer {
  padding: 85px 60px;
  background-color: #1a2452;
  color: #fff; }

.footer__col {
  margin-bottom: 26px; }

.footer_list {
  list-style-type: none; }

.footer_list__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 36px;
  white-space: nowrap; }

.footer_list__link {
  font-size: 19px;
  font-weight: 400;
  line-height: 38px;
  color: #fff;
  white-space: nowrap; }

@media screen and (max-width: 1440px) {
  .footer {
    padding: 60px; }

  .footer_list__title {
    font-size: 16px;
    margin-bottom: 24px; }

  .footer_list__link {
    font-size: 16px;
    line-height: 26px; } }
@media screen and (max-width: 1200px) {
  .footer {
    padding: 36px 16px; } }
/*---------LOADER------------- */
.loader {
  z-index: 2000;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6); }

/*--------LOGOWANIE--------- */
.user_login {
  z-index: 3000;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(26, 36, 82, 0.9); }

.user_login_container {
  margin-top: 150px;
  color: #fff; }

.user_login_intro {
  margin-top: 46px;
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase; }

.user_login_title {
  font-size: 33px;
  display: inline-flex; }

.login_icon {
  display: flex;
  align-items: center;
  margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
