.manageGdpr .intro ol,
.privacyAskingForConsent ol,
.gdprOverview ol,
.manageGdpr .intro ul,
.privacyAskingForConsent ul,
.gdprOverview ul {
  margin-left: 20px;
}
.manageGdpr .intro ol li,
.privacyAskingForConsent ol li,
.gdprOverview ol li,
.manageGdpr .intro ul li,
.privacyAskingForConsent ul li,
.gdprOverview ul li {
  list-style-type: decimal !important;
}
.manageGdpr .intro ul li,
.privacyAskingForConsent ul li,
.gdprOverview ul li {
  list-style-type: disc !important;
}
