.btn-upload {margin-top:6px; margin-bottom: 15px;}

.file_reader .thumbnail:not(:last-of-type) { margin-right:12px }
    .file_reader .thumbnail .img{margin-top:6px; margin-bottom:6px}
.file_reader .file_settings a:not(:last-of-type) { margin-right:6px; }