.optOutCustomizer #FontSizeInput {
  width: 100px;
}
.optOutCustomizer #FontFamilyInput {
  width: 180px;
}
.optOutCustomizer input,
.optOutCustomizer select {
  margin-right: 30px;
}
.optOutCustomizer select {
  width: 60px;
  display: inline-block;
}
.optOutCustomizer p span {
  white-space: nowrap;
}
.optOutCustomizer iframe {
  width: 100%;
}
.optOutCustomizer iframe.withBg {
  background-color: #4d4d4d;
}
