.usersManager .card .card-content .card-title {
  margin-bottom: 0;
}
.usersManager .add-user-container.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.usersManager .add-user-container > .col > .input-field {
  display: inline-block;
}
.usersManager .add-existing-user-modal .form-group,
.usersManager .add-existing-user-modal .input-field,
.usersManager .add-existing-user-modal input.control_text {
  margin: 0;
}
.usersManager .add-existing-user-modal .modal-no {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}
