.admin img {
  vertical-align: middle;
}
.admin h2 + .top_bar_sites_selector {
  margin-top: -62px;
  margin-right: 0 !important;
}
.uiTest [notification-id="DeprecatedPHPVersionCheck"],
.uiTest [notification-id="PHPVersionTooOldForNewestPiwikCheck"] {
  display: none !important;
}
#content.admin {
  font-size: 13px;
  margin-top: 0;
}
#content.admin pre {
  max-width: 995px;
}
.admin #header_message {
  margin-top: 8px;
  margin-right: 8px;
}
.access_error {
  font-size: .7em;
  padding: 15px;
}
.admin p,
.admin section {
  margin-top: 10px;
  line-height: 140%;
  padding-bottom: 10px;
}
#CoreAdminHomePluginSettings h2 {
  display: none;
}
#CoreAdminHomePluginSettings h3 {
  margin: 0;
  font-size: 24px;
  padding: 0;
}
#CoreAdminHomePluginSettings .fieldArray {
  margin-top: 0!important;
}
