.twoFactorRecoveryCodes li {
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
}
.setupTwoFactorAuthentication #qrcode {
  width: 256px;
  height: 256px;
}
.loginSection #qrcode,
.loginSection .backupRecoveryCodesAlert {
  margin-top: 16px;
}
.userSettings2FA .twoFaStatusEnabled,
.twoFactorSetupFinished .successMessage {
  color: #43a047;
}
