.multiPairField {
  margin-top: 40px !important;
}
.multiPairField .form-group.row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.multiPairField .fieldUiControl1.hasMultiFields {
  width: 160px;
  display: inline-block;
}
.multiPairField .fieldUiControl1:not(.hasMultiFields) {
  width: calc(100% - 60px);
  padding-right: 0.75rem;
}
.multiPairField .fieldUiControl2 {
  width: calc(100% - 190px);
  padding: 0.75rem;
  display: inline-block;
}
.multiPairField .icon-minus {
  cursor: pointer;
}
