<div class="kontakt__content-main">
    <div class="wow fadeIn kontakt__logo">
        <div class="kontakt__logo-voga">

            <img class="kontakt__logo-img" src="{BASE_URL}_images/new/vogapol.svg" alt="" >
        </div>
    </div>
    <div class="wow fadeInDown kontakt__box animated animated" style="visibility: visible; animation-name: fadeInDown;">

        <div class="kontakt__box__item">
            <p class="kontakt__box__tytul">Central: <br> <span>VOGAPOL sp. z o.o.</span></p>

            <p class="kontakt__box__text">

                NIP: <span class="white-col">8371848088</span><br />
                Jeżówka 42B,<br> 96-500 Sochaczew<br />
                woj. Mazowieckie, Polska</p>

            <div class="kontakt__box__bottom">
                <p class="kontakt__box__tel"><span class="small">tel.</span> <a href="phone:+48222036164">+ 48 22 203 61 64</a></p>

                <p class="kontakt__box__mail"><a href="mailto:office@vogapol.eu ">office@vogapol.eu</a></p>
            </div>
        </div>

        <div class="kontakt__box__item">
            <p class="kontakt__box__tytul">Sales<br> Department:</p>

            <p class="kontakt__box__text">Contact regarding orders,<br />
                forwarding and information on transport</p>

            <div class="kontakt__box__bottom">
                <p class="kontakt__box__tel"><span class="small">tel.</span> <a href="phone:+48778543445">+ 48 22 203 61 64</a></p>


                <p class="kontakt__box__mail"><a href="mailto:order@vogapol.eu">order@vogapol.eu</a></p>
            </div>
        </div>

        <div class="kontakt__box__item">
            <p class="kontakt__box__tytul">Logistic<br> center:</p>

            <p class="kontakt__box__text">Chłodnie Warszawskie<br> MORSPOL SA</p>
            <div class="kontakt__box__bottom">
                <p class="kontakt__box__text1">ul. Marywilska 26<br />
                    03-228 Warszawa</p>
            </div>
        </div>

        <div class="kontakt__box__item">
            <p class="kontakt__box__tytul">Managing director:</p>

            <p class="kontakt__box__text"><span class="white-col">Ewa Piwońska</span></p>

            <p class="kontakt__box__tel"><span class="small">kom.</span> <a href="phone:+48884707767">+ 48 884 707 767</a></p>


            <p class="kontakt__box__mail"><a href="mailto:epiwonska@vogapol.eu">epiwonska@vogapol.eu</a></p>
        </div>
    </div>
</div>
<div class="prawa__autorskie">
    <p>The pictures are indicative and may differ from the actual appearance of the products.</p>
    <p>Vogapol Sp. z o. o. o. has the rights to use the pictures and graphic signs posted.</p>
</div>