.anonymizeLogData .icon-minus {
  cursor: pointer;
}
.anonymizeLogData .innerFormField {
  margin-left: -0.75rem;
}
.anonymizeLogData .innerFormField .form-group.row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.anonymizeLogData .innerFormField {
  width: 100%;
}
