#accountForm ul {
  list-style: circle;
  margin-left: 17px;
  line-height: 1.5em;
}
#accountForm ul li {
  list-style-type: disc;
}
#suspiciousPhoneNumber {
  clear: left;
}
.providerDescription {
  border: 2px dashed #C5BDAD;
  border-radius: 16px 16px 16px 16px;
  margin-left: 24px;
  padding: 11px;
  width: 600px;
  margin-top: 32px;
}
.manageMobileMessagingSettings .form-group.row .row {
  margin: 0;
}
.addPhoneNumber .countryCode {
  width: 120px;
  height: 80px;
  position: relative;
}
.addPhoneNumber .countryCode .countryCodeSymbol {
  position: absolute;
  top: 32px;
  left: -4px;
}
.addPhoneNumber .phoneNumber {
  width: 180px;
  height: 80px;
}
.addPhoneNumber .addNumber {
  width: 90px;
  height: 80px;
}
