#cookie_info {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: space-between;
}

#cookie_info a {
    display: block;
    font-size: 18px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none !important
}

#cookie_info #cookie_info_content {
    padding: 30px;
}

#cookie_info #cookie_info_content strong {
    display: block;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 6px;
}

#cookie_info #cookie_info_content p {
    text-align: justify;
    font-size: 12px;
    line-height: 14px;
    display: block;
}

@media (max-width: 550px) {
    #cookie_info #cookie_info_content {
        padding: 46px 15px 30px;
    }
    #cookie_info a {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
    }
}