@-moz-document url-prefix() {
  .tagCloud + .dataTableFeatures {
    clear: left;
  }
  .tagCloud .word {
    float: left;
  }
}
.tagCloud img {
  border: 0;
}
.tagCloud .word a {
  text-decoration: none;
}
.tagCloud .word {
  padding: 5px 15px 10px 8px;
  white-space: nowrap;
  display: inline-block;
}
.tagCloud .valueIsZero {
  text-decoration: line-through;
}
.tagCloud span.size0,
.tagCloud span.size0 a {
  color: #1f497a !important;
  font-size: 46px;
}
.tagCloud span.size1,
.tagCloud span.size1 a {
  color: #24568f !important;
  font-size: 40px;
}
.tagCloud span.size2,
.tagCloud span.size2 a {
  color: #2962a3 !important;
  font-size: 32px;
}
.tagCloud span.size3,
.tagCloud span.size3 a {
  color: #255792 !important;
  font-size: 28px;
}
.tagCloud span.size4,
.tagCloud span.size4 a {
  color: #337acc !important;
  font-size: 19px;
}
.tagCloud span.size5,
.tagCloud span.size5 a {
  color: #5c95d6 !important;
  font-size: 14px;
}
.tagCloud span.size6,
.tagCloud span.size6 a {
  color: #5c95d6 !important;
  font-size: 16px;
}
