.home p {
  padding-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}
.card h2.card-title,
.card h2 .card-title {
  padding: 0 !important;
}
/* Content */
#content.home {
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
#content.admin {
  display: inline-block;
  max-width: 1300px;
}
#content.admin > .row {
  margin: 0 -0.75rem;
}
/* 2 columns reports */
#leftcolumn {
  float: left;
  width: 50%;
}
#rightcolumn {
  float: right;
  width: 45%;
}
/* not in widget */
.widget #leftcolumn,
.widget #rightcolumn {
  float: left;
  padding: 0 10px;
  width: auto;
}
.accessibility-skip-to-content {
  font-size: 14px;
  position: absolute;
  left: -10000px;
  top: 0;
}
.accessibility-skip-to-content:focus {
  display: block;
  position: absolute;
  left: 140px;
}
/* Calendar*/
div.ui-datepicker {
  font-size: 62.5%;
}
.ui-datepicker-current-period a,
.ui-datepicker-current-period a:link,
.ui-datepicker-current-period a:visited {
  border: 1px solid #2E85FF;
  color: #2E85FF;
}
#otherPeriods a {
  text-decoration: none;
}
#otherPeriods a:hover {
  text-decoration: underline;
}
#currentPeriod {
  border-bottom: 1px dotted #520202;
}
.hoverPeriod {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #520202;
}
#calendarRangeTo {
  margin-left: 175px;
}
#calendarRangeFrom {
  float: left;
}
#inputCalendarFrom,
#inputCalendarTo {
  margin-left: 10px;
  width: 95px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}
#calendarApply {
  margin-top: 10px;
}
#invalidDateRange {
  display: none;
}
.reporting-page .sparklines {
  max-width: 1250px;
}
div .sparkline {
  float: left;
  clear: both;
  padding-bottom: 1px;
  margin-top: 10px;
}
.sparkline img {
  vertical-align: middle;
  padding-right: 10px;
  margin-top: 0;
}
div.pk-emptyGraph {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
}
/**
 * Popover
 * @see popover.js
 */
#Piwik_Popover {
  min-height: 0 !important;
}
#Piwik_Popover .alert {
  margin: 20px;
}
.Piwik_Popover_Loading_Name {
  padding: 50px 0 65px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  background: url(plugins/Morpheus/images/loading-blue.gif) no-repeat center 20px;
}
.Piwik_Popover_Loading_NameWithSubject {
  padding-bottom: 30px;
}
.Piwik_Popover_Loading_Subject {
  padding: 0 70px 55px 70px;
  color: #7e7363;
  text-align: center;
  font-size: 14px;
}
.Piwik_Popover_Error {
  padding: 50px 20px 65px 20px;
  text-align: center;
}
.Piwik_Popover_Error_Title {
  font-size: 16px;
}
.Piwik_Popover_Error_Title span {
  font-weight: normal;
  font-size: 16px;
}
.Piwik_Popover_Error_Message {
  padding: 20px 0 0 0;
  font-size: 13px;
}
a.Piwik_Popover_Error_Back {
  display: block;
  margin: 20px 0 0 0;
  font-size: 13px;
  text-decoration: underline;
}
#alert.ui-confirm input {
  display: block;
  margin: 10px auto 5px !important;
}
.header_full #updateCheckLinkContainer {
  margin-top: -2px;
}
@-moz-document url-prefix() {
  .header_full #updateCheckLinkContainer {
    margin-top: -3px;
  }
}
/* Used to link within content text, without adding visual clutter */
.linkContent {
  color: #333;
  text-decoration: none;
}
.linkContent:hover {
  text-decoration: underline;
}
.ui-confirm h2 {
  border-bottom: 0 none;
  margin: 0;
  font-size: 18px;
}
.systemSummary .icon {
  width: 16px;
  display: inline-block;
}
.systemSummary .icon-user {
  font-size: 11px;
}
.systemSummary > div {
  margin-bottom: 2px;
}
#shortcuthelp dl {
  margin: 20px 20px 0 20px;
  font-size: 15px;
  overflow: hidden;
}
#shortcuthelp dt {
  clear: both;
  float: left;
  width: 60px;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
#shortcuthelp dt kbd {
  display: inline-block;
  font-weight: bolder;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 5px;
}
#shortcuthelp dd {
  float: left;
  margin-top: 5px;
}
