.sparkline-colors[data-name=backgroundColor] {
  color: white;
}
.sparkline-colors[data-name=lineColor] {
  color: #162C4A;
}
.sparkline-colors[data-name=minPointColor] {
  color: #ff7f7f;
}
.sparkline-colors[data-name=maxPointColor] {
  color: #75BF7C;
}
.sparkline-colors[data-name=lastPointColor] {
  color: #55AAFF;
}
.sparkline-colors[data-name=fillColor] {
  color: white;
}
