.zenMode nav {
  display: none;
}
.zenMode #secondNavBar {
  display: none;
}
.zenMode #root #secondNavBar + .pageWrap {
  margin-left: 0;
}
#content:not(.admin),
.widget,
.ui-widget {
  /* DATATABLES */
}
#content:not(.admin) table.dataTable th.sortable,
.widget table.dataTable th.sortable,
.ui-widget table.dataTable th.sortable {
  border-left: 0;
  border-bottom: 0;
}
#content:not(.admin) table.dataTable th.columnSorted,
.widget table.dataTable th.columnSorted,
.ui-widget table.dataTable th.columnSorted {
  font-weight: normal !important;
}
#content:not(.admin) table.dataTable tr.subDataTable,
.widget table.dataTable tr.subDataTable,
.ui-widget table.dataTable tr.subDataTable {
  font-weight: normal !important;
}
#content:not(.admin) table.dataTable tr.subDataTable td.label .plusMinus + .label .value,
.widget table.dataTable tr.subDataTable td.label .plusMinus + .label .value,
.ui-widget table.dataTable tr.subDataTable td.label .plusMinus + .label .value {
  font-weight: bold !important;
}
#content:not(.admin) table.dataTable tr td,
.widget table.dataTable tr td,
.ui-widget table.dataTable tr td {
  padding-top: 11px;
  padding-bottom: 11px;
}
#content:not(.admin) .dataTableActions.dataTableVizHtmlTable > .dataTableWrapper,
.widget .dataTableActions.dataTableVizHtmlTable > .dataTableWrapper,
.ui-widget .dataTableActions.dataTableVizHtmlTable > .dataTableWrapper {
  width: 100%;
}
#content:not(.admin) .dataTableActions table.dataTable td.column,
.widget .dataTableActions table.dataTable td.column,
.ui-widget .dataTableActions table.dataTable td.column,
#content:not(.admin) .dataTableActions table.dataTable th.sortable:not(.first),
.widget .dataTableActions table.dataTable th.sortable:not(.first),
.ui-widget .dataTableActions table.dataTable th.sortable:not(.first) {
  width: 50px;
}
#content:not(.admin) .dataTableVizHtmlTable > .dataTableWrapper,
.widget .dataTableVizHtmlTable > .dataTableWrapper,
.ui-widget .dataTableVizHtmlTable > .dataTableWrapper {
  width: 100%;
}
#content:not(.admin) .dataTableFooterNavigation,
.widget .dataTableFooterNavigation,
.ui-widget .dataTableFooterNavigation {
  padding: 7px 0 0 0;
}
#content:not(.admin) .dataTableFooterNavigation > .row,
.widget .dataTableFooterNavigation > .row,
.ui-widget .dataTableFooterNavigation > .row {
  margin-bottom: 0;
}
#content:not(.admin) .goalEntry:first-of-type,
.widget .goalEntry:first-of-type,
.ui-widget .goalEntry:first-of-type {
  padding-top: 20px;
}
#content:not(.admin) .goalEntry,
.widget .goalEntry,
.ui-widget .goalEntry {
  border-bottom: 0;
}
#content:not(.admin) .relatedReferrerReports,
.widget .relatedReferrerReports,
.ui-widget .relatedReferrerReports {
  display: none;
}
#content:not(.admin) .reportsByDimensionView .entityList,
.widget .reportsByDimensionView .entityList,
.ui-widget .reportsByDimensionView .entityList {
  margin-left: 13px;
}
