.editTag .form-group.tagStartDate,
.editTag .form-group.tagEndDate {
  margin-top: 40px;
}
.editTag .form-group.tagStartDate > .col,
.editTag .form-group.tagEndDate > .col {
  padding-left: 0;
}
.editTag .form-group.tagStartDate > .col.input-field,
.editTag .form-group.tagEndDate > .col.input-field {
  margin-top: 0;
}
.editTag .form-group.tagStartDate > .col.input-field input,
.editTag .form-group.tagEndDate > .col.input-field input {
  width: 100%;
}
