.reporting-page > .row {
  margin-bottom: 0;
}
.reporting-page .fullWidgetColumn {
  padding-left: 0;
  padding-right: 0;
}
.reporting-page .leftWidgetColumn {
  padding-left: 0;
}
.reporting-page .rightWidgetColumn {
  padding-right: 0;
}
.reporting-page .isFirstWidgetInPage .card {
  margin-top: 0;
}
