<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-xlg-2 col-lg-4 col-md-5">
                    {include file="wiadomosci/_partials/menu.tpl"}
                </div>
                <div class="col-xlg-10 col-lg-8 col-md-7">

                    {include file="wiadomosci/_partials/lista.tpl"}

                </div>
            </div>
        </div>
    </div>
</div>


