$main: #1a2452
$second: #009abe
$gray: #c6c6c6
$orange: #eb6852
@import url("./scss/icons/font-awesome/css/fontawesome-all.css")
@import url("./scss/icons/material-design-iconic-font/css/materialdesignicons.min.css")
/*-----MENU-----*/
.messages
  .custom_card
    border: none
  .inbox-panel
    padding: 1.25rem 0
    .list-group-item
      border: none
      display: inline-flex
      align-items: center
    .list-group-item.active
      background-color: #dbdfe1
/*---ODBIORCZA----*/
.messages
  .btn-custom
    color: $main
    background-color: #dbdfe1
  .inbox-center
    td
      vertical-align: middle
      white-space: nowrap
  .table_inbox
    tbody
      tr
        opacity: 0.6
      .unread
        opacity: 1
        font-weight: 700
@media (max-width: 767.98px)
  .messages
    .top_menu, .card_no_padding
      padding-right: 0
      padding-left: 0
.custom-file-label::after
  content: attr(data-desc)



