@import url("./scss/icons/font-awesome/css/fontawesome-all.css");
@import url("./scss/icons/material-design-iconic-font/css/materialdesignicons.min.css");
/*-----MENU----- */
.messages .custom_card {
  border: none; }
.messages .inbox-panel {
  padding: 1.25rem 0; }
  .messages .inbox-panel .list-group-item {
    border: none;
    display: inline-flex;
    align-items: center; }
  .messages .inbox-panel .list-group-item.active {
    background-color: #dbdfe1; }

/*---ODBIORCZA---- */
.messages .btn-custom {
  color: #1a2452;
  background-color: #dbdfe1; }
.messages .inbox-center td {
  vertical-align: middle;
  white-space: nowrap; }
.messages .table_inbox tbody tr {
  opacity: 0.6; }
.messages .table_inbox tbody .unread {
  opacity: 1;
  font-weight: 700; }

@media (max-width: 767.98px) {
  .messages .top_menu, .messages .card_no_padding {
    padding-right: 0;
    padding-left: 0; } }
.custom-file-label::after {
  content: attr(data-desc); }

/*# sourceMappingURL=style_messages.css.map */
